{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="o-analytics_month--flex">
    {% with text=section.authors|length|add:" authors, "|add:section.articles|length|add:" articles" %}
    {% include 'publishing_analytics/objects/author_list.html' with authors=section.authors list_articles="true" %}
    {% endwith %}

    <div class="o-analytics_month--sections">

        <h2>{{section.title}}</h2>
        <div class="o-analytics_month--sections--flex">
        {% for article in section.articles %}
            {% include "article/objects/overview_article.html" %}
        {% endfor %}
        </div>
    </div>
</div>