{% load wagtailimages_tags %}
{% load lazyimages_tags %}
{% lazy_image self.image original as banner_image class="lazy" %}

<div class="c-banner c-banner--welcome"
	style="background-image: url({{ banner_image.url }})">
	<div class="c-banner__container">
		<div class="c-banner--welcome__inner">
			<h2 class="c-banner--welcome__intro"> {{ self.title_intro }} </h2>
			<p class="c-banner--welcome__snippet">{{ self.title }}</p>
		</div>
		<div class="c-banner-credits">
			{{ self.credit }}
		</div>
	</div>
</div>
