{% load wagtailcore_tags %}

<div class="{{ self.class_name }}-container">
    <div class="{{ self.class_name }}__ home-content">
        <div class="title">
            {{ self.title }}
        </div>
        <div class='content-wrapper'>
            {% if self.use_richtext %}
                {{ self.richcontent }}
            {% else %}
                {{ self.htmlcontent }}
            {% endif %}
            <a class="{{ self.class_name }}__ home-content__nav" href="{% pageurl self.link %}">{{ self.link_text }}<ion-icon name="arrow-forward" aria-hidden="true"></ion-icon></a>
        </div>
    </div>
</div>
