<div class="c-banner" style="background-color:{{page.colour}}">

    <svg style="transform-origin: center;transform: rotateZ(-90deg);width: 625px;height: 200px;position: absolute;left: -175px;top: 115px;fill: #FEFFE3;" viewBox="0 0 110 10">
        <text lengthAdjust="spacingAndGlyphs" textLength="100%" x="0" style="text-align: center;font-weight: 700;line-break: auto;" y="0">{{ self.title1 }}</text>
        <text x="0" style="text-align: center;font-weight: 700;line-break: auto;" y="15">{{ self.title2 }}</text>
      </svg>
</div>