{% load wagtailimages_tags %}
{% image self.card_image fill-600x400 as card_img %}

<div class="{{ self.class_name }}">
  <a href="{{ self.card_page.url }}" class="vogue-card__image-link">
    <div class="vogue-card__image" style="background-image: url('{{ card_img.url }}')"></div>
  </a>
  <div class="vogue-card__body">
    {% if self.section_label %}
      <span class="vogue-card__label">{{ self.section_label }}</span>
    {% endif %}
    <a href="{{ self.card_page.url }}" class="vogue-card__title-link">
      <h3 class="vogue-card__title">{{ self.card_title }}</h3>
    </a>
    {% if self.card_author %}
      <p class="vogue-card__byline">{{ self.card_author }}</p>
    {% endif %}
    {% if self.card_photo_credit %}
      <p class="vogue-card__photo-credit">{{ self.card_photo_credit }}</p>
    {% endif %}
  </div>
</div>
