{% load wagtailimages_tags %}
{% image card_image fill-400x300 as thumb_img %}

<div class="{{ self.class_name }}">
  <div class="vogue-card__sidebar-content">
    {% if section_label %}
      <span class="vogue-card__label">{{ section_label }}</span>
    {% endif %}
    <a href="{{ self.card_page.url }}" class="vogue-card__title-link">
      <h3 class="vogue-card__title">{{ card_title }}</h3>
    </a>
    {% if card_author %}
      <div class="vogue-card__byline">{{ card_author }}</div>
    {% endif %}
  </div>
  <a href="{{ self.card_page.url }}" class="vogue-card__thumb-link">
    <img src="{{ thumb_img.url }}" alt="{{ card_title }}" class="vogue-card__thumbnail">
  </a>
</div>
