{% load wagtailimages_tags %}
{% image card_image fill-600x400 as card_img %}

<div class="{{ self.class_name }}">
  <a href="{{ self.card_page.url }}" class="vogue-card__image-link">
    <div class="vogue-card__image" style="background-image: url('{{ card_img.url }}')"></div>
  </a>
  <div class="vogue-card__body">
    {% if section_label %}
      <span class="vogue-card__label">{{ section_label }}</span>
    {% endif %}
    <a href="{{ self.card_page.url }}" class="vogue-card__title-link">
      <h3 class="vogue-card__title">{{ card_title }}</h3>
    </a>
    {% if card_author %}
      <div class="vogue-card__byline">{{ card_author }}</div>
    {% endif %}
    {% if card_photo_credit %}
      <div class="vogue-card__photo-credit">{{ card_photo_credit }}</div>
    {% endif %}
  </div>
</div>
