{% load cache %}
{% load wagtailimages_tags %}

{% if article.featured_media.first.image %}
{% image article.featured_media.first.image width-1000 format-webp as image %}
<img class="article-attachment" width="{{image.width}}" height="{{image.height}}" decoding="async" data-id="{{ image.id }}" data-caption="{{ article.featured_media.first.caption }}" data-credit="{{ article.featured_media.first.credit }}" data-url="{{ image.url }}" src="{{ image.url }}" alt="{% if article.featured_media.first.alt_text %}{{ article.featured_media.first.alt_text }}{% else %}{{article.featured_media.first.caption}}{% endif %}" />	
{% endif %}