.container {
    text-align: center;
    margin-top: 20px;
}

.h1-404 {
    font-size: 15vw;
    margin: 0;
}

.h2-404 {
    font-size: 5vw;
    margin: 0.5em 0;
}

p.error-message-404 {
    font-size: 2vw;
    margin: 0.5em 0;
}

.email-link {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p.load-articles {
    font-size: 3vw;
    margin-top: 50px;
}

#content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    transform: scale(0.6);
    transform-origin: top center;
    overflow: auto;
    height: auto;
}
