.inactive {
  // Structure
  display: none;
  opacity: 0;
  cursor: auto;
}
.active {
  display: block;
  opacity: 1;
  cursor: pointer;
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.adblock-background {
  z-index: 9995;
  opacity: 0.46;
  background-color: #000;
  background: #000;
}

.adblock-container {
  // Structure
  width: 300px;
  height: auto;
  justify-self: center;
  align-items: center;
  border: 1px solid #FFF;
  background: #FFF;
}

.alert-symbols-buttons {
  padding: .8em;
  text-align: center;
}

.adblock-title {
  color: #000;
  font-family: 'playfair-display', 'Georgia', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
}

.adblock-info {
  width: 258px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.adblock-info-the_ubyssey {
  color: #0071C9;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.adblock-info-bold {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.adblock-info-blue-bold {
  color: #0071C9;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.adblock-content {
  // Structure
  position: relative;
  height: auto;
  max-width: 500px;
  padding: 25px;
  justify-self: center;

  // Background
  background-color: $color-ub-blue;
  
  // Extra
  opacity: 1;
  z-index: 11;
  
  // Fonts
  color: white;
  h1{
    margin-top: 0;
  }
  h3 {
    margin: 1rem 0;
  }
  p {
    margin-bottom: 5px;
  }
}

.adblock-button {
  // Structure
  position: relative;
  width: auto;
  height: 36px;
  border-radius: 3px;
  background: #111;
  justify-content: center;

  // Background
  background-image: none;
  
  // Font
  color:  #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
  // Borders
  border: none;

  // Extra
  transition: opacity .1s;
  &:hover {
    opacity: .8;
  }
}

.adblock-close {
  // Structure
  position: absolute;
  right: 25px;
  top: 25px;
  width: 25px;
  height: 25px;

  // Extra
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.adblock-close:before, .adblock-close:after {
  // Structure
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;

  // Background
  background-color: white;
}
.adblock-close:before {
  transform: rotate(45deg);
}
.adblock-close:after {
  transform: rotate(-45deg);
}
