@use "../modules/variables";

.author-header {
    position: relative;
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
}
.author-img {
    img {
        border-radius: 50%;
        width:180px;
        height:auto;
    }

    @media(variables.$bp-smaller-than-phablet) {
        margin:auto;
        // width: 60%;
        aspect-ratio: 1;
        margin-bottom: 25px;
        position: static;
        align-content: center;
    }
    @media(variables.$bp-larger-than-phablet) {
        margin-top: 5%;
    }
}
.author-info {
    padding: 2%;
    height: fit-content;

    @media(variables.$bp-larger-than-phablet) {
        position: relative;
        max-width: fit-content;
        width: 65%;
    }
}
.author-name {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    @media(variables.$bp-smaller-than-phablet) {
        font-size: 2rem;
    }
}
.author-role {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #1871C4;
}
.author-desc {
    // color: variables.$color-ubyssey-blue-dark-2;
    line-height: 1.45em;
    a {
        text-decoration: underline;
    }
}
[color-css-theme="dark"] {

    @media(variables.$bp-smaller-than-phablet) {
        .author-name {
            color: white;
        }
        .author-role {
            color: #1871C4;
        }
        .author-desc {
            color: var(--text_color);
        }
    }
}
.author-links {
    margin-bottom: 0;
    color: var(--header_color);
    @media(variables.$bp-larger-than-phablet) {
    
    }
}
.author-pinned_list {
    display: flex;
    margin-bottom: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: left;	
    flex-direction: column;
    align-items: flex-start;
    width:30%;
    padding:1em;

    @media(variables.$bp-smaller-than-phablet) {
        display:none;
    }
}
.author-pinned_article {
    width: 100%;
    margin: 0;
    list-style-type: none;
    padding:0;
    li {
        counter-increment: step-counter;
        margin-bottom: 5px;
        display: flex;
        align-items: flex-start;
    }

    li::before {
        content: counter(step-counter);
        background-color: #1871C4;
        color:white;
        padding:3px 8px;
        border-radius: 50%;
        margin-right:20px;
    }

    @media(variables.$bp-smaller-than-phablet) {
        width: 100%;
        margin: 1%;
    }
}
.author-heading {
    white-space: nowrap;
    font-size: 1.2rem;
}
.options .author-heading {
    text-transform: capitalize;
}
.options {
    display: flex;
    gap: 15px;
    width: 225px;
}
.selected {
    text-decoration: underline;
}

.bottom-half {
    display:flex;
    justify-content: space-around;
    margin-top:35px;
}

.article {
    display:flex;
    flex-direction: column;
    width:80%;
    padding:1em;

    @media(variables.$bp-smaller-than-phablet) {
        width: 100%;
        padding:0;
    }
}