@use "../modules/variables";

.carousel {
    position: relative;
    width: 100%;
    padding-bottom: 3em;
    aspect-ratio: calc(80 / var(--aspect-ratio));
    box-sizing: initial;

    @media(variables.$bp-larger-than-phablet) {

      &.right,
      &.left {
        height: auto;
        margin: 0;
        margin-top: 15px !important;
      }

      &.right {
        margin-left: 15px !important;
        float: right;
        clear: right;
      }

      &.left {
        margin-right: 15px !important;
        float: left;
        clear: left;
      }

      &.small {
        width: 100px;
      }

      &.medium {
        width: 200px;
      }

      &.large {
        width: 300px;
      }
    }

    .carousel-indicators {
      position: absolute;
      bottom: 0;
      z-index: 100;

      button {
        opacity: 1;
        background-color: #A9A9A9;
        background-image: none;
        transition: background-color .6s ease;

        &.active {
          background-color: #545454;
        }
      }
    }

    .carousel-item {
      height: 100%;
      margin-block: auto;

      .attachment {
        margin-inline: auto;
        height: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          margin-inline: auto;
          width: auto;
          max-height: 75%;
        }
      }
    }

    .carousel-inner {
      height: 100%;
      display: flex;
    }

    .carousel-control-next,
    .carousel-control-prev {
      margin: 0;
      opacity: 1;
      font-size: 1em;

      ion-icon {
        padding: 4px;
        width: 20px;
        height: auto;
        aspect-ratio: 1;
        background: variables.$color-ubyssey-blue;
        border-radius: 100%;
      }
    }
  }