@use "../modules/variables";

.carousel {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: calc(90 / var(--aspect-ratio));
    box-sizing: initial;

    &.indicators {
      padding-bottom: 4em;
    }

    @media(variables.$bp-larger-than-phablet) {

      &.right,
      &.left {
        height: auto;
        margin: 0;
        margin-top: 15px !important;
      }

      &.right {
        margin-left: 15px !important;
        float: right;
        clear: right;
      }

      &.left {
        margin-right: 15px !important;
        float: left;
        clear: left;
      }

      &.small {
        width: 100px;
      }

      &.medium {
        width: 200px;
      }

      &.large {
        width: 300px;
      }
    }

    .carousel-indicators {
      margin-block: 1.4em;
      position: absolute;
      bottom: 0;
      z-index: 100;

      button {
        opacity: 1;
        background-color: #A9A9A9;
        background-image: none;
        transition: background-color .6s ease;

        &.active {
          background-color: #545454;
        }
      }
    }

    .carousel-item {
      height: 100%;
      margin-block: auto;

      .image-attachment {
        margin-bottom: 0;
      }
      img {
        margin-inline: auto;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .carousel-inner {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .carousel-control-next,
    .carousel-control-prev {
      margin: 0;
      opacity: 1;
      font-size: 1em;
      line-height: 1em;

      ion-icon {
        margin: 0;
        padding: 4px;
        width: 20px;
        height: auto;
        aspect-ratio: 1;
        background: variables.$color-ubyssey-blue;
        border-radius: 100%;
      }
    }
  }