@use "../modules/variables";

.carousel {
    position: relative;
    width: 100%;
    height: auto;

    box-sizing: initial;

    &.indicators {
      padding-bottom: 4em;
    }

    @media(variables.$bp-larger-than-phablet) {

      &.right,
      &.left {
        height: auto;
        margin: 0;
        margin-top: 15px !important;
      }

      &.right {
        margin-left: 15px !important;
        float: right;
        clear: right;
      }

      &.left {
        margin-right: 15px !important;
        float: left;
        clear: left;
      }

      &.small {
        width: 100px;
      }

      &.medium {
        width: 200px;
      }

      &.large {
        width: 300px;
      }
    }

    .carousel-indicators {
      margin-block: 1.4em;
      position: absolute;
      bottom: 0;
      z-index: 100;

      --active-indicator-colour: #545454;
      --inactive-indicator-colour: #a9a9a9;

      button {
        opacity: 1;
        background-color: var(--inactive-indicator-colour);
        background-image: none;
        transition: background-color .6s ease;

        &.active {
          background-color: var(--active-indicator-colour);
        }
      }
    }

    .carousel-item {
      height: 100%;
      margin-block: auto;

      .image-attachment {
        margin-bottom: 0;
      }
      img {
        margin-inline: auto;
        height: auto;
        width: 100%;
        aspect-ratio: var(--aspect-ratio);
        object-fit: contain;
      }
    }

    .carousel-inner {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .carousel-control-next,
    .carousel-control-prev {
      margin: 0;
      opacity: 1;
      font-size: 1em;
      line-height: 1em;

      background: #0071c9;
      border-radius: 100%;
      width: 1.5em;
      aspect-ratio: 1;
      height: auto;

      ion-icon {
        margin: 0;
        padding: 0;
        position: relative;
        width: 1em;
        .icon-inner {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          aspect-ratio: 1;
          height: 75%;
          width: auto;
        }
      }
    }
  }

  [color-css-theme="dark"] {
    .carousel .carousel-indicators {
      --active-indicator-colour: #a9a9a9;
      --inactive-indicator-colour: #545454;
    }
  }