@use "../modules/fonts";
@use "../modules/variables";

.c-heading {
  // Structure
  margin: 0 0 1rem 0;

  // Text
  font: fonts.$font-weight-bold 1em fonts.$font-default;
  color: variables.$color-text-black;
}

.c-heading--light {
  // Text
  color: variables.$color-text-gray;
  font-weight: fonts.$font-weight-semi-bold;
}

.c-heading--2 {
  // Text
  font-size: fonts.font-size(24);
}

.c-heading--3 {
  // Text
  font-size: fonts.font-size(18);
}
