@use "../modules/variables";

.c-sidebar_inactive {
    top: -100%;
    position:absolute;
    opacity: 0;
    visibility: hidden;
}

.c-sidebar_active {
    top:0;
    position:absolute;
    opacity: 1;
    z-index: 200;
}

.c-sidebar_item {
    width: 100%;
    position:sticky;
    top: 5em;
}

.home_infinitefeed .c-sidebar_item {
    top: 3em;
}

.flex-stream {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;

    * {
        max-width: 100%;
    }

    img {
        margin: auto;
        display: block;
        
        max-width: 100%;
        height: auto;
    }
}

.c-sidebar_container {
    min-height: fit-content;
    margin-bottom: 65px;
    flex-grow: 1;
}

.sidebar-block > .o-boxLabel {
    font-size: 1.1em;
}

.c-sidebar {
    height: auto;
    width:38%;
    padding-left: 1em;
    border-left: solid 1px transparent;
    display: flex;
    flex-direction: column;

    &.o-sidebar-empty {
        height: 0;
        padding: 0;
        @media (variables.$bp-smaller-than-tablet) {
            display: none;
        }
    }
}

@media (variables.$bp-smaller-than-tablet) {
    .c-sidebar {
        margin-block: 5em;
        padding-inline: 1em;
        width: auto;
    }
    .section .c-sidebar {
        display: none;
    }
}

.c-section__sidebar {
    margin-left: 20px;
    width: 37%;
    top:100px;

    .sidebar-block--advertisement, .o-advertisement--ad-page-promo {
        display: none;
    }

    .c-sidebar_container {
    max-height: 125vh;
    margin-bottom: 25vh;
    }
}

.o-feed-item {
    margin:auto;
    display:flex;
    flex-direction: column;
    @media (variables.$bp-larger-than-tablet) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.c-home-infinitefeed {
    width: 100%;
    padding-bottom: 3em;

    @media (variables.$bp-larger-than-tablet) {
        margin-right: 20px;
        width: 50%;
        padding-right: 20px;
    }
}

.sidebar-issue ul {
    color:white;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    @media(variables.$bp-smaller-than-phablet){
      text-align: center;
    }
}
.issue{
    transition-duration: 0.2s;
    position: relative;
    left:0;
    margin: 5px;
    margin-bottom: 10px;
    list-style-type: none;
    //background-color:variables.$color-ubyssey-blue;
    background-color: variables.$color-ubyssey-blue-classic;
    border: 1px solid var(--archive-text);
    width: 100px;
    flex-grow: 1;
    text-align: center;
    height: fit-content;
    &:hover{
        top: -7px;
    }

    a {
        &:hover{
        text-decoration: underline;
        color: white;
        }
    }
}
.issueText{
    margin: 2px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.75em;
    color: white;
}

.issue_img {
    width: 100%;
    height: auto;
}

[color-css-theme="light"] {

    .issue {
        box-shadow: -7px 10px 5px 0px #EEE;
    }
    #loader {
        color: black;
    }
    .c-sidebar {
        border-color: #EEE;
    }
}

.article-list.sidebar-block {
    background: #c3e2f0;
    padding: 2em 1.5em;
    border-radius: 1.5em;

    h2.block-title {
        color: black;
    }

    ul.article-list {
        padding-inline: 2em;
        list-style-type: circle;
        li {
            padding-bottom: 0.5em;
            border-bottom: 1px solid #00000045;
            color: variables.$color-ubyssey-blue-dark;
            a {
                display: contents;
            }
            b {
                margin-right: 0.5em;
            }
        }
    }
}

.latest-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

[color-css-theme="dark"] {

    .basic-sidebar h2.block-title {
        text-shadow: #000000 1px 1px 15px;
    }
    div.basic-sidebar  {  
        h2.block-title {
        color: white;
        }
        .issue {
        color:white;
        box-shadow: #000000 1px 5px 15px;
        .issueText{
            color: white;
        }
        }
    }
    #loader {
        color: white;
    }
}

#loader {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    .spin {
        width: 1.5em;
    }
}