.c-sidebar_inactive {
    top: -100%;
    position:absolute;
    opacity: 0;
    visibility: hidden;
}

.c-sidebar_active {
    top:0;
    position:absolute;
    opacity: 1;
    z-index: 200;
}

.c-sidebar_item {
    transition-duration: 0.2s;
    transition-property: top;
    width:100%;
}

.c-sidebar {
    position:sticky;
    top: 50px;
    height:100px;
    width:40%;

    @media ($bp-smaller-than-phablet) {
        display:none;
    }
}

.c-section__sidebar {
    margin-left: 20px;
}

.c-infinitefeed__feed {
    margin:auto;
    display:flex;
  }

.c-home-infinitefeed {
    width: 50%;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.c-home-bannerbox {
    width: 90%;
}