.c-section__featured {
  // Structure
  margin-bottom: 2rem;
}

.c-page__header__subsections {
  ul {
    // Structure
    margin: 0;
    padding: .5rem 0;

    // Border
    border-top: 1px solid #e2e2e2;;
    border-bottom: thin groove #C8C8C8;

    list-style-type: none;

    li {
      display: inline-block;
      
      &:not(:last-child):after {
        content: "  |  ";
      }
    }
  }
}

.c-section__featured__articles {
  @media($bp-larger-than-phablet) {
    width: 100%;
  }
}

.c-page__heading {
  // Structure
  margin: 0;

  // Text
  font-size: 6em;
  @media($bp-smaller-than-phablet) {
    font-size: 4em;
  }
}

.lightmode {
  .c-page__heading {
    color: black;
  }
}

.darkmode {
  .c-page__heading {
    color: white;
  }
}

.banner {
  aspect-ratio:3;
  position:relative;
  margin-bottom:40px;
  background-size:cover;
  svg.c-section__heading {
    position: absolute;
    bottom: -46px;
    left: 20px;
    stroke: black;
    @media($bp-smaller-than-phablet) {
      bottom: -20px;
      left: 10px;
    }
  }

  .c-page__heading {
    position: absolute;
    bottom: -50px;
    left: 50px;
    @media($bp-smaller-than-phablet) {
      bottom: -25px;
    }
  }
}

.featured_categories {
  display: flex;
  flex-wrap: wrap;

  p {
    margin-bottom: 0;
  }

  ul {
    display: flex;
    //gap: 1px;
    //background-color: var(--text_color);
    //width: fit-content;
    padding: 0;
    flex-wrap: wrap;

    li {
      list-style: none;
      padding-right: 5px;
      padding-left: 5px;
      margin-bottom: -2.5px;
      display: inline;
      //flex-grow: 1;
      //text-align: center;
      border-right: solid;
      border-color: var(--text_color);
      border-width: 1px;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.category_menu {
  position: fixed;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media($bp-larger-than-phablet) {
    width: 50%;
  }
  overflow-y: auto;
  background-color: var(--background);
}

.c-section__buttons {
  display: flex;
  text-align: right;
  justify-content: right;
  width: 100%;
  @media($bp-smaller-than-phablet) {
    display: block;
  }
}

.c-section__button-label {
  text-align: right;
  display: inline-block;
  z-index:10;
  position: relative;
  cursor: pointer;
  color: var(--header_color);
  &:hover {
    color: $color-accent-blue;
  }

  a > p {
    color: var(--header_color);

    &:hover{
      color: $color-accent-blue;
    }
  }
}

.main-content {
  width: 55%;
  @media($bp-smaller-than-phablet) {
    width:100%
  }
}

.c-section__description {
  display: inline-block;
  @media($bp-smaller-than-phablet) {
    width:100%;
  }
}

.c-section__info {
  color: $text-color;
  @media($bp-larger-than-phablet) {
    padding-left: 1em;
    width: 83%;
  }
  @media($bp-smaller-than-phablet) {
    margin: 1em;
    margin-top: 0;
  }
}

.c-section__modal_close {
  position:absolute;
  right:50px;
  top:50px;
}

.c-section__heading {
  fill: white;
  stroke: black;
  stroke-width: 4px;
  stroke-linejoin: round;
  paint-order: stroke;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: $font-banner;
}

.section_infinitefeed {
  @media ($bp-larger-than-phablet) {
    width: 65%;
  }

  #feed {
      @media ($bp-larger-than-phablet) {
          padding-right: 20px;
      }
      .article--infinitefeed {
          //border-color: #646464 !important;
          border: none;
          .o-article__image {
              border-color: #646464 !important;
          }
      }
  }
}

.section-error {
  width: fit-content;
  padding: 2em;
  margin: 1em auto;

  text-decoration: underline;
  font-weight: 600;
  text-align: center;
}