.c-section__featured {
  // Structure
  margin-bottom: 2rem;
}

.c-page__header__subsections {
  ul {
    // Structure
    margin: 0;
    padding: .5rem 0;

    // Border
    border-top: 1px solid #e2e2e2;;
    border-bottom: thin groove #C8C8C8;

    list-style-type: none;

    li {
      display: inline-block;
      
      &:not(:last-child):after {
        content: "  |  ";
      }
    }
  }
}

.c-section__featured__articles {

  padding-bottom: 1rem;
  .o-article--column {

    // Structure
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    flex: 1;

    // Border
    border-bottom: thin dotted $color-border-gray-dark;

    &:last-child {
      // Border
      border-bottom: none;
    }

    @media($bp-larger-than-phablet) {
      // Structure
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0;
      padding-bottom: 0;
      flex: 1;

      // Border
      border-bottom: none;

      &:first-child {
        // Structure
        margin-left: 0;
        margin-right: 1rem;
      }

      &:last-child {
        // Structure
        margin-left: 1rem;
        margin-right: 0;
      }

      &:only-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

}

.modal {
  background-color: #00000085;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  z-index: 200;
}

.c-page__heading {
  // Structure
  margin: 0;

  // Text
  font-size: 6em;
  color: black;
  @media($bp-smaller-than-phablet) {
    font-size: 4em;
  }
}

.banner {
  aspect-ratio:3;
  position:relative;
  margin-bottom:40px;
  background-size:cover;
  svg.c-section__heading {
    position: absolute;
    bottom: -46px;
    left: 50px;
    stroke: black;
    @media($bp-smaller-than-phablet) {
      bottom: -20px;
      left: 10px;
    }
  }

  .c-page__heading {
    position: absolute;
    bottom: -50px;
    left: 50px;
    @media($bp-smaller-than-phablet) {
      bottom: -25px;
    }
  }
}

.featured_categories {
  display: flex;
  flex-wrap: wrap;

  p {
    margin-bottom: 0;
  }

  ul {
    display: flex;
    gap: 1px;
    column-rule-style: solid;
    column-rule-color: #000000;
    background-color: black;
    width: fit-content;
    padding: 0;
    flex-wrap: wrap;

    li {
      list-style: none;
      background-color: white;
      padding-right: 5px;
      padding-left: 5px;
      display: inline;
      flex-grow: 1;
      text-align: center;
    }
  }
}

.category_menu {
  position: absolute;
  top: 10%;
  left:0;
  right:0;
  bottom:10%;
  background-color: white;
}

.c-section__buttons {
  display: inline-block;
  text-align: right;
  width: 100%;
  @media($bp-smaller-than-phablet) {
    display: block;
  }
}

.c-section__button-label {
  text-align: right;
  margin-left: 10%;
  display: inline-block;
  max-width: 50%;
  z-index:10;
  position: relative;
  cursor: pointer;
  &:hover {
    color: #1871C4;
  }
}

.main-content {
  width: 55%;
  @media($bp-smaller-than-phablet) {
    width:100%
  }
}

.c-section__description {
  display: inline-block;
  @media($bp-smaller-than-phablet) {
    width:100%
  }
}

.c-section__info {
  width:80%;
  margin-left: 30px;
  color: $text-color;
}

.c-section__modal_close {
  position:absolute;
  right:50px;
  top:50px;
}

.c-section__heading {
  fill: white;
  stroke: black;
  stroke-width: 4px;
  stroke-linejoin: round;
  paint-order: stroke;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: $font-banner;
}

.section_infinitefeed {
  @media ($bp-larger-than-phablet) {
    width: 65%;
  }

  #feed {
      @media ($bp-larger-than-phablet) {
          padding-right: 20px;
      }
      .article--infinitefeed {
          border-color: #646464 !important;
          .o-article__image {
              border-color: #646464 !important;
          }
      }
  }
}