{% load widget_tweaks %}
{# newsletter/subscribe.html #}
{% comment %} 
    Originally modified from usage instructions on 
    https://pypi.org/project/django-bootstrap-modal-forms/
{% endcomment %}
<form id="modal-form" method="post" action="#">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Enjoying the Ubyssey?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>If you like our content, don't forget to subscribe to our weekly newsletter.
        Always stay up to date on the news!
        </p>
        {% for field in form %}
        <div class="form-group{% if field.errors %} invalid{% endif %}">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% render_field field id="subscriber_email_field" %}
            {% for error in field.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button id='already-sub-button'>
            Already Subscribed?
        </button>
        <div id="subscribe_results">           
            {% comment %}
                This container will contain the success message or error message depending if the ajax POST was successful
                See create_subscriber() below
            {% endcomment %}
        </div>
        <div id='subscribe-close-message'>
            Not now, thank you
        <div class='subscribe-close-arrow'></div>
      </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="submit-btn btn btn-primary">Create</button>
    </div>
</form>
<script>
    $('#modal-form').on('submit', function(event){
        event.preventDefault(); //stops Django's automatic redirect
        create_subscriber();
    });

    {% comment %}        
    create_subscriber() uses AJAX to make a POST request
    Based on: https://realpython.com/django-and-ajax-form-submissions/
    {% endcomment %}
    function create_subscriber() {
        $.ajax({
            url : "newsletter/subscribe/", // the endpoint
            type : "POST", // http method
            data : { email : $('#subscriber_email_field').val() },

            // handle a successful response
            success : function(json) {
                $('#subscriber_email_field').val(''); // remove the value from the input
                $('#subscribe_results').html("<div>Success! You should get a confirmation email soon. This pop-up will close in a few seconds.</div");
                console.log(json); // log the returned json to the console
                // close the modal after 3 seconds
                setTimeout(function() {
                    $('#modal').modal('hide');
                }, 3000);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#subscribe_results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>");
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };
</script>