{% load widget_tweaks %}
{# newsletter/subscribe.html #}
{% comment %} 
    Originally modified from usage instructions on 
    https://pypi.org/project/django-bootstrap-modal-forms/
{% endcomment %}

<form id="modal-form" method="post" action="#">
    {% csrf_token %}

    <div class="modal-header">
        <img></img>
        <div id="subscribe-close-message" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"> Not now, thank you
                <div class='subscribe-close-arrow'></div></span>
        </button>
    </div>

    <div class="modal-body">
        <h1>Enjoying the Ubyssey?</h1>
        <p>If you like our content, don't forget to subscribe to our weekly newsletter.
          Always stay up to date on the news!
        </p>
        <div class='subscribe-form-splash-container'>
            <div id='subscribe-form-splash'>
                {% for field in form %}
                <div class="form-group{% if field.errors %} invalid{% endif %}">
                    {% comment %} TODO: restore {% endcomment %}
                    {{ field }} {# Fields automatically have ids of id_<field name> #}
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
                <button id='subscribe-button' type="button" class="submit-btn btn btn-primary">Subscribe</button>
            </div>
            <button id='already-sub-button'>
                Already Subscribed?
            </button>
        </div>
        <div id="subscribe_results">           
            {% comment %}
                This container will contain the success message or error message depending if the ajax POST was successful
                See create_subscriber() below
            {% endcomment %}
        </div>
    </div>
</div>
</form>
<script>
    $('#modal-form').on('submit', function(event){
        event.preventDefault(); //stops Django's automatic redirect
        create_subscriber();
    });

    {% comment %}        
    create_subscriber() uses AJAX to make a POST request
    Based on: https://realpython.com/django-and-ajax-form-submissions/
    {% endcomment %}
    function create_subscriber() {
        $.ajax({
            url : "newsletter/subscribe/", // the endpoint
            type : "POST", // http method
            data : { email : $('#id_email').val() },

            // handle a successful response
            success : function(json) {
                $('#id_email').val(''); // remove the value from the input
                $('#subscribe_results').html("<div>Success! This pop-up will close in a few seconds.</div");
                console.log(json); // log the returned json to the console
                // close the modal after 3 seconds
                setTimeout(function() {
                    $('#modal').modal('hide');
                }, 3000);
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#subscribe_results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>");
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    };
</script>