@import 'modules/spoof/2025/base';

article {
    padding: 2em;
    background-size: cover;
}

.slime {
    background-image: url('../images/spoof/2025/backgrounds/hearts-bg.jpg');
    h2 {
        font-size: 3em;
        text-align: center;
    }
    .slime-steps {
        position: relative;
        @media screen and (max-width: 1400px) {
            display: flex;
            flex-direction: column;
            img.slime-img {
                margin: auto;
                width: 700px;
                height: auto;
                max-width: 100%;
            }
        }
        @media screen and (min-width: 1400px) {
            img.slime-img {
                padding-bottom: 85px;
                padding-top: 20px;
                position: relative;
                width: 50%;
                height: auto;
                left: 17%;
                top: 75px;
            }
            h3.subtitle {
                position: absolute;
                width: 28%;
                left: 0;
            }  
            p {
                padding: 0.5em;
                position: absolute;
                background-color: white;
            }
            .tip {
                position: absolute;
                bottom: 0;
                width: 300px;
                padding: 1em;
                border: 0.5em dashed red;
                font-size: 1.1em;
                background: white;
                line-height: 1.5em;
            }
            .step-1 {
                width: 23%;
                top: 90px;
                left: 0;
            }
            .step-2 {
                width: 28%;
                top: 0;
                left: 29%;
            }
            .step-3 {
                width: 30%;
                top: 2%;
                right: 9%;
            }
            .step-4 {
                width: 33%;
                top: 20%;
                right: 1%;
            }
            .step-5 {
                width: 32%;
                top: 39%;
                right: 0;
            }
            .step-6 {
                width: 32%;
                bottom: 24%;
                right: 1%;
            }
            .step-7 {
                width: 33%;
                bottom: 12%;
                right: 4%;
            }
            .step-8 {
                width: 33%;
                bottom: 0;
                right: 5%;
            }
            .step-9 {
                bottom: 0%;
                left: 49%;
            }
            .step-10 {
                bottom: 0;
                left: 32%;
            }
        }
    }
}

.frat-girl {
    display: flex;
    background-image: linear-gradient(white, pink);

    .intro {
        margin: 2em;
        margin-bottom: 0;
        width: 500px;
        flex-grow: 1;
        h2 {
            margin: 1em;
            text-align: center;
            font-size: 2.5em;
        }
        p {
            font-size: 1.2em;
            line-height: 1.5em;
        }
        img.frat-girl-img {
            width: 150%;
            height: auto;
            margin: 0em -4em;
            position: sticky;
            top: 0;
            bottom: -4px;
        }
    }
    .interview {
        margin-left: 2em;
        margin-bottom: 7em;
        width: 100%;
        max-width: 700px;
        .interview-glm, .interview-wardhat {
            padding: 0.75em;
            max-width: 600px;
            width: fit-content;

            color: white;
            font-family: sans-serif;
            line-height: 1.5em;
        }
        .interview-glm {
            margin-right: auto;
            border-radius: 0.25em 1em 1em 1em;
            background-color: $glm-pink;
        }
        .interview-wardhat {
            margin-left: auto;
            border-radius: 1em 0.25em 1em 1em;
            background-color: $glm-blue-gradient-2;
        }
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        .intro img.frat-girl-img {
            width: 100%;
            margin: auto;
            position: relative;
        }
        .interview {
            margin: 0;
            padding-inline: 3em;
            box-sizing: border-box;
        }
    }
}