$glm-yellow: #FDF37D;
$glm-pink: #C65997;

$glm-blue-gradient-1: #F0FAFF;
$glm-blue-gradient-2: #8fcaf2;

body {
    margin: 0;
    font-family: "franklin-gothic-urw",sans-serif;
}

nav .logo {
    img {
        width: 100px;
        height: auto;
    }
}

article {
    padding: 2em;
    background-size: cover;
}

@keyframes flip-y {
    0% {transform: rotateY(0);}
    100% {transform: rotateY(360deg);}
}