$glm-yellow: #FDF37D;
$glm-pink: #C65997;

$glm-blue-gradient-1: #F0FAFF;
$glm-blue-gradient-2: #8fcaf2;

body {
    margin: 0;
}

nav .logo {
    img {
        width: 100px;
        height: auto;
    }
}