{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load authors_tags %}
{% load humanize %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'ubyssey/css/events.css' %}" type="text/css" />
{% endblock %}

{% block head_scripts%}
{% comment %} 
ical, rss feed, and api should be linked here
{% endcomment %}
<link rel="alternate" type="text/calendar" title="{{ical.title}}" href="{{ical.url}}" />
<link rel="alternate" type="application/atom+xml" title="{{rss.title}}" href="{{rss.url}}">
<link rel="alternate" type="application/json" title="Ubyssey Events API" href="https://ubyssey.ca/api/events">
{% endblock %}

{% block header %}  
{% endblock %}

{% block content %}
<div class="events-slanted-image" style="background-image: linear-gradient(transparent, #0000000a), url('https://storage.googleapis.com/ubyssey/media/renditions/Guide_2022_AMS.original.jpg')"></div>
<main class="c-page events-page highlight-{{highlight}}">
    <div id="calendar" authenticated={{request.user.is_authenticated}}></div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'ubyssey/js/events.js' %}" type="text/javascript"></script>
{% endblock %}

{% block footer %}{% endblock %}