{% load static %}
<a class="hp-skip" href="#main-content">Skip to content</a>
<header class="ar-nav ar-nav--left-aligned" data-article-nav data-full-bleed="false">
  <div class="ar-nav__bar page-shell">
    <button class="hp-nav__menu" type="button" aria-expanded="false" aria-controls="join-expanded-menu"><img src="{% static 'ubyssey/images/homepage/menu-search.svg' %}" alt=""><span class="sr-only">Open menu and search</span></button>
    <a class="ar-nav__nameplate" href="/" aria-label="The Ubyssey home">The Ubyssey</a>
    <time>{% now "F j, Y" %}</time>
    {% include 'article/objects/darkmode_button.html' with id="join-redesign" %}
  </div>
  {% include 'navigation/redesign_expanded_menu.html' with menu_id='join-expanded-menu' search_id='join-nav-search' newsletter_href='/#newsletter' %}
</header>
