@use '../fonts';
@use '../variables';

.fw-banner {
  margin: auto;

  .caption {
    font-family: fonts.$font-default;
    font-style: italic;
    i {
      font-style: normal;
    }
  }

  &.left-image, &.right-image, &.no-image {
    padding-block: 1.5em;
    border-bottom: 1px solid var(--article-header-border);
    vertical-align: middle;
    .header-container {
      margin: auto;
      padding: 2em 7%;
    }
  }

  &.bottom-image, &.top-image {
    margin-top: 3em;
    max-width: 1000px;

    header {
      margin: 1em 0;
      h1.o-headline {
        margin: 0;
        line-height: 1.277em;
      }
    }

    .featured-media {
      margin: auto;
    }

    @media(variables.$bp-smaller-than-desktop) {
      .headline-container {
        padding-inline: 1em;
      }
    }
  }

  &.top-image {
    h1.o-headline, p.subtitle {
      font-weight: 400;
      font-variation-settings: "wght" 400;
    }
    
    .title-tag {
      margin: auto;
      width: fit-content;
      font-weight: 400;  
    }
  }

  @media(variables.$bp-larger-than-phablet) {
    &.right-image > .header-container div.caption {
      margin-right: 1em;
    }

    &.left-image > .header-container div.caption {
      margin-left: 1em;
    }
  }

  .featured-media {
    margin: 0;
    iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 2;
    }
  }

  // header
  .header-container {
    margin: 0 0 40px 0;
    padding-bottom: 1rem;
    display: table;
    width:100%;
    @media(variables.$bp-larger-than-tablet) {
      padding-bottom: 1.5rem;
    }
  }

  p.subtitle {
    font-size: 1.5em;
    margin-top: 0;
    font-family: fonts.$font-headline;
  }

  div.caption {
    border: none;
  }
  // article 
  
  // article headers (title, byline and photo)

  .left, .right {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    @media(variables.$bp-smaller-than-tablet) {
      width: 100%;
      display: inline-block;
    }

    .o-headline--article {
      margin: 0.17em 0;
      font-family: fonts.$font-headline;
      font-weight: 600;
      line-height: 1.177em;
    }
  }

  &.no-image {
    padding-inline: 1em;
    max-width: 650px;
    .c-article__info {
      margin-top: 1.5em;
      padding: 0;
      p.author-string {
        margin: 0;
      }
    }
    .o-article--header--above_cut_lede + .c-article__info {
      margin-top: 1em;
    }
    h1.o-headline  {
      font-style: italic;
      font-weight: 500;
      font-variation-settings: "wght" 500;
    }
  }

  &.top-image {
    width: 100%;
    max-width: 840px;
    text-align: center;

    .featured-media {
      width: 100%;
      max-width: 640px;
    }

    .headline-container {
      margin-top: 1.5rem;
      margin-inline: auto;
      padding-inline: 15px;
      border-bottom: 1px solid var(--light-border-grey);
    }

    .c-article__info {
      justify-content: center;
    }
  }

  &.bottom-image {
    .headline-container {
      max-width: 900px;
      margin-inline: auto;
    }
    p.title-tag {
      font-weight: 600;
    }
    h1.o-headline--article {
      font-weight: 600;
      font-variation-settings: "wght" 600;
    }
  }

  &.banner-image {
    margin-bottom: 1.5rem;
    position: relative;
    height: 600px;

    &.full-height {
      min-height: 100vh;
    }

    &.headline-bottom .headline-container {
      bottom: 0;
    } 
    &.headline-top .headline-container {
      padding-top: 3em;
      top: 0;
      .caption {
        position: absolute;
        bottom: 5px;
      }
    }

    @media(variables.$bp-larger-than-tablet) {
      &.full-height .headline-container h1.headline {
        font-size: 3em;
      }
      &.headline-left {
        .headline-container header {
          max-width: 75%;
          margin-inline: 5% auto;
        }
      }

      &.headline-right {
        .headline-container header {
          max-width: 75%;
          margin-inline: auto 5%;
          text-align: right;
          .o-article--header--above_cut_lede {
            margin-left: auto;
          }
        }
      }
      &.headline-mid .headline-container {
        top: 0;
        padding-block: 2em;
        display: flex;
        header {
          margin-block: auto;
          h1.headline {
            font-style: italic;
            font-size: 2.75em;
          }
        }
      }

      &.headline-one-third-width .headline-container header {
        max-width: 36%;
      }
    }


    @media(variables.$bp-larger-than-tablet) {
      margin-bottom: 2rem;
    }

    .backdrop {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  
    .headline-container {
      width: 100%;

      div.article-byline {
        opacity: 0.75;
        span.author {
          font-weight: 500;
        }
      }

      h1.headline {
        margin-bottom: 15px;
      }

      .o-article--header--above_cut_lede {
        --text_color: white;
        font-family: fonts.$font-default;

        width: 100%;
        max-width: 650px;
        line-height: 1.5em;
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
    .headline-container {
      position: absolute;
      bottom: 0;
      padding: 70px 0 3em 0;
      background-image: linear-gradient(-180deg, transparent, rgba(0, 0, 0, 0.33) 20%, rgba(0, 0, 0, 0.87) 99%);
      h1.headline, p.subtitle, p.title-tag, p.fw-description, div.article-byline, span.author, span.published {
        color: #fff;
      }
      h1.headline {
        font-family: fonts.$font-headline;
        font-size: 2em;
        font-weight: fonts.$font-weight-semi-bold;
      }
      div.article-byline {
        font-size: 1em;
      }
      span.author, span.published {
        font-weight: 300;
      }
      .caption {
        padding-inline: 1em;

        font-family: fonts.$font-default;
        font-size: 12.5px;
        line-height: 19px;
        text-align: right;
      }
    }
    iframe.o-article-embed--video__container {
      height: 100%;
    }

    .caption {
      color: var(--text_color-400);
      span.credit {
        color: var(--text_color-300);
      }
    }

    @media(variables.$bp-larger-than-mobile) {
      div.banner-image {
        height: 500px;
      }
      .headline-container {
        padding: 160px 0 100px 0;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 1%, rgba(0,0,0,0.84) 99%);
        text-shadow: 0 0 5px black;
        h1.headline {
          font-size: 2em;
        }
        .caption {
          position: absolute; 
          bottom: 5px;
          right: 0;
        }
      }
    }
    @media(variables.$bp-smaller-than-phablet) {
      margin-bottom: 0;
      .caption {
        display: none;
      }
    }
  }

  &.video-banner {
    margin-bottom: 1.5rem;
    width: 100%;
    max-height: 80vh;
    background: black;
    aspect-ratio: 2;
    .js-video-launch {
      position: relative;
      height: 100%;
      width: 100%;
      .backdrop {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: linear-gradient(transparent, black);
        }
        img {
          margin: auto;
          width: 100%;
          height: 100%;
          max-width: 1600px;
          object-fit: cover;
        }
      }
    }
    .video-banner--play {
      padding-left: 0.15em;
      border: 2px solid;

      position: absolute;
      border-radius: 100%;

      width: 1.5em;
      height: 1.5em;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      font-weight: 600;
      font-size: 4em;
      color: #fff;
      line-height: 1.3em;
      text-align: center;

      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;

      box-sizing: border-box;
      cursor: pointer;

      opacity: 0.95;
      &:hover {
        opacity: 1;
      }
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.c-article__published-at.video-pubdate {
  margin: 1em 0;
  font-size: 0.95em;
}


.o-article--header--above_cut_lede {
  font-family: fonts.$font-body;
  font-size: 1.3em;
  line-height: 1.5em;
  a {
    text-decoration: underline;
  }
}

.banner-image--below-banner-caption {
  position: relative;
  max-width: 800px;
  text-align: right;
  margin-left: auto;
  padding-left: 3em;

  display: none;
  @media(variables.$bp-smaller-than-phablet) {
    display: block;
  }
}