
@import 'modules/variables';

$text-color: var(--text_color);

.featured-media {
  margin-bottom: 1em;
  img {
    width: 100%;
  }
}

// Article Slide

div.article-slide {
  border-top: 1px solid #DADADA;
  margin-top: 50px;

  main.article {
    padding-top: 0;
  }

  @media($bp-larger-than-tablet) {
    margin-bottom: 50px;
  }
}

div.indicator {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}

.o-breaking-news-article {
  display: flex;
  border-radius: 3px;
  background-color: #8654A4;
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;
    p {
      color: white;
      font-weight: lighter;
    }
  }
}


// Article
.c-article--default {
  .o-headline--article {
    @media($bp-larger-than-tablet) {
      line-height: 1.277em;
      padding-top: 25px;
      padding-bottom: 25px;
      margin: 0;
    }
  }
}

.c-article__tag {
  // Structure
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;

  // Border
  border-radius: 4px;

  // Background
  background: $color-red;

  // Text
  color: $color-white;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.5px;
  font-size: font-size(15);
  text-transform: uppercase;
}

.c-article__info {
  display: block;

  @media($bp-larger-than-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-authors_info {
  display: flex;
  flex-flow: row wrap;
}

.c-article__byline {
  display: inline-flex;
  width: 65%;
  margin: 0.5rem 0em 0.5em 0em;
  font-family: $font-default;
  font-size: $font-size-15px;
  // font-weight: $font-weight-semi-bold;
  font-weight: $font-weight-bold;

  @media($bp-larger-than-tablet) {
    flex: 1 0;
    margin-bottom: 0.5em;
  }

  @media($bp-smaller-than-tablet) {
    display: inline-block;
    width: 100%;
  }

}

.c-article_byline_fw {
  width: 100%;
}

.c-authors_bio {
  position: absolute;
  display: block;
}

.c-authors_bio_meta {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: $font-default;
  font-size: $font-size-15px;
  // font-weight: $font-weight-semi-bold;
  font-weight: $font-weight-bold;

  display: flex;
  position: relative;
  flex: 1 0;
  line-height: 2rem;
  margin-bottom: 0;
}


.author_image_container {
  position: relative;
  display: flex;
}

.authors_info_inner {
  display: inline-block;
  padding: 0em 0em 0em 0.5em;

}

.no_image {
  padding-top: 0em;
  padding-left: 0em;
}

.author_image {
  height: 65px;
  width: 65px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
  }
}

.author_card {
  padding: 0.5em 2em 0.5em 0em;
  display: flex;
  text-align: center;

  @media($bp-larger-than-tablet) {
    padding: 1rem;
    padding-left: 0;
    margin-right: 1em;
  }

}

.author_title {
  padding: 0.5em 0.5em 0.5em 0em;
  font-size: medium;
  font-style: bold;
  color: var(--authors-title-bio);
  text-align: left;

  &:hover {
    color: $color-accent-blue;
    cursor: pointer;
  }

}

.author_info {
  display: flex;
}

.author_role {
  padding: 0.5em 0em 0.5em 0.5em;
  font-size: medium;
  font-style: bold;
  display: inline-block;
  color: $color-text-gray-light;
  text-transform: capitalize;
}

.author_bio {
  display: inline-block;
  padding: 0em 0.5em 0em 0em;
  margin-right: 0.5em;
  font-size: smaller;
  text-align: left;
  color: var(--authors-title-bio);

}

.c-author__byline {
  padding-left: 1em;
  margin-bottom: 0.2rem;

  font-family: $font-default;
  font-size: $font-size-15px;
  font-weight: $font-weight-semi-bold;
}

.c-article__byline-center {
  display: flex;
  justify-content: center;
}

.960px {
  margin-bottom: 0.9rem;
  display: inline-block;
  @media($bp-larger-than-tablet) {
    margin-bottom: 0;
  }
}

.c-article__byline__meta {
  margin-bottom: 0.75rem;
  float: left;
  color: var(--article_info);
  font-weight: $font-weight-normal;
  @media($bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

.c-article__author {
  margin-bottom: 0.75rem;

  @media($bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

#custom-tooltip {
  display: none;
  margin-left: 40px;
  padding: 5px 8px;
  font-size: 5px;
  font-family: $font-default;
  background-color: #3490d6;
  border-radius: 4px;
  color: #fff;
}

.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}

.c-banner_share_dark_buttons {
  padding-left: 1em;
  margin-bottom: 0.2rem;

  font-family: $font-default;
  font-size: $font-size-15px;
  font-weight: $font-weight-semi-bold;
  
  color: #FFF;

  width: 100%;
  justify-content: center;
}

.c-share_space {
  padding-right: 1em;
}

.c-article__featured-media {
  // Structure
  max-width: 585px;
  margin-bottom: 1.5rem;

  .article-attachment {
    width: 100%;
  }
}

@media($bp-larger-than-mobile) {
  div.headline-container {
    padding: 0;
  }
}


// Article content
div.article-content {

  float: left;
  border-right: none;
  margin-bottom: 50px;

  @media($bp-larger-than-tablet) {
    display: table-cell;
    padding-right: 15px;
    padding-left: 0;
    vertical-align: top;
    box-sizing: border-box;
    width: 65%;
  }

  .redacted {
    background-color: currentcolor;
  }

  .text-center {
    display: block;
    text-align: center;
  }

  .text-right {
    display: block;
    text-align: right;
  }

  > p,
  div.caption,
  > h1,
  > h2 {
    margin-top: 1.8em;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  > h3,
  > ul,
  > .attachment.pull-quote {
    padding-right: $article-content-div-child-padding;
  }

  > p,
  div.caption,
  > h1,
  > h2,
  > h3,
  > div.c-widget-event,
  > .attachment.pull-quote {
    @media($bp-larger-than-phablet){
      padding: 0;
      max-width: 585px;
    }
  }

  > ul {
    padding-left: $article-content-ul-padding-left + 15;
    padding-right: 15px;
    @media($bp-larger-than-phablet){
      padding-left: $article-content-ul-padding-left;
      max-width: 585px - $article-content-ul-padding-left;
      padding-right: 0;
    }
  }

}

div.caption {
  margin-top: 6px;
  font-family: $font-default;
  font-size: 15px;
  color: var(--article_caption);
  line-height: 19px;

  padding-left: 15px;
  padding-right: 15px;
  @media($bp-larger-than-phablet) {
    padding: 0;
  }
}

div.article-content {

  > p, > ul {
    font-family: $font-body;
    font-weight: $font-weight-normal;
    font-size: font-size(18);
    line-height: 2rem;
    margin-top: 1.4rem;

    a {
      color: $color-accent-blue;
      text-decoration: underline;
    }

    &:first-child {
        margin-top: 5px;
        margin-right: auto;
        /*font-weight: bold;
        font-size: font-size(19);*/
    }
  }

  > h1 {
    font-family: $font-default;
    font-weight: normal;
    font-size: 28px;
    margin: 30px 0 0 0;
  }

  // @media($bp-smaller-than-mobile) {
  //   padding: 0 3%;
  // }
}
@media($bp-larger-than-mobile) {
  div.headline-container {
    padding: 0;
  }
}



.fw-story, .timeline {

  div.media-column {
    display: none;
  }
  div.article-content {
    width: 100%;

    border-right: none;
    display: block;
    padding-right: 0;
    vertical-align: top;
    box-sizing: border-box;
  }
}

// Article-list
#article-list {
  // Hide when printed
  @media print {
    display: none;
  }
}

.article-content p.drop-cap {
  font-weight: bold;
  font-size: font-size(19);
}

p.author-string > a {
  font-weight: 600;
  color: $color-ubyssey-blue;  
}

p.c-article__published-at {
  margin-bottom: 0;
}

.article-content p.c-share {
  font-family: $font-default;
  font-weight: 600;

  span.c-share-buttons > a{
    padding: 0px 4px 10px 4px;
    color: var(--text_color);
  }
}

.suggested-sidebar {
  margin-bottom: 2em;
}