@use "../fonts";
@use "../footer" as footer;
@use "../variables";

$text-color: var(--text_color-100);

.featured-media {
  margin-bottom: 2em;

  img {
    width: 100%;
    height: auto;
  }
}

.o-breaking-news-article {
  display: flex;
  border-radius: 3px;
  background-color: #8654A4;
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;

    p {
      color: white;
      font-weight: lighter;
    }
  }
}


// Article
.title-tag {
  margin-bottom: 0;
  color: #808080;
  font-size: 1em;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  text-transform: uppercase;
}

div.article-content {
  
  .disclaimer {
    margin: 2em auto;
    border-top: 2px solid;
    padding-top: 0.75em;
    max-width: var(--article-standard-content-width);

    color: var(--color-ubyssey_blue);
    font-family: fonts.$font-body;

    p {
      margin-top: 0;
      color: var(--color-ubyssey_blue);
      line-height: 2em;
    }

    a {
      text-decoration: underline;
    }
  }

  .c-article--post-content-meta {
    max-width: var(--article-standard-content-width);
    @media(variables.$bp-smaller-than-phablet) {
      padding-inline: 1em;
    }
  }
}

.c-article {
  --article-standard-content-width: 585px;
}

.c-article--default {

  @media(variables.$bp-larger-than-tablet) {
    div.article-content {
      .author_card, .disclaimer {
        margin-left: 0;
      }
    }
  }

  .o-headline--article {
    @media(variables.$bp-larger-than-tablet) {
      line-height: 1.277em;
      padding-bottom: 25px;
      margin: 0;
    }
  }

  @media(variables.$bp-smaller-than-mobile) {
    .author_card {
      margin-inline: -15px;
    }
  }
}

.c-article__info {
  display: block;
  padding-bottom: 1em;

  @media(variables.$bp-larger-than-tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-article__byline {
  display: inline-flex;
  width: 65%;
  margin: 0.5rem 0em 0.5em 0em;
  font-family: fonts.$font-default;
  font-size: fonts.$font-size-15px;
  // font-weight: $font-weight-semi-bold;
  font-weight: fonts.$font-weight-bold;

  @media(variables.$bp-larger-than-tablet) {
    flex: 1 0;
    margin-bottom: 0.5em;
  }

  @media(variables.$bp-smaller-than-tablet) {
    display: inline-block;
    width: 100%;
  }

}

.c-authors_bio_meta {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: fonts.$font-default;
  font-size: fonts.$font-size-15px;
  // font-weight: $font-weight-semi-bold;
  font-weight: fonts.$font-weight-bold;

  display: flex;
  position: relative;
  flex: 1 0;
  line-height: 2rem;
  margin-bottom: 0;
}

.c-article__byline-center {
  display: flex;
  justify-content: center;
}

.c-article__byline__meta {
  margin-bottom: 0.75rem;
  float: left;
  color: var(--article_info);
  font-weight: fonts.$font-weight-normal;

  @media(variables.$bp-larger-than-tablet) {
    display: inline-block;
    margin-right: 0.75em;
    margin-bottom: 0;
  }
}

#custom-tooltip {
  display: none;
  padding: 0.5em;
  position: absolute;
  bottom: 100%;
  max-width: none;
  z-index: 10;

  background-color: var(--color-ubyssey_blue);
  border-radius: 4px;
  
  color: white;
  line-height: 1.5em;
  font-size: 11px;
  font-family: fonts.$font-default
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px)
}

.c-share_space {
  padding-right: 1em;
}

p.fw-description {
  font-family: fonts.$font-body;
  font-size: 18px;
}

// Article content
div.article-content {

  float: left;
  border-right: none;
  margin-bottom: 50px;
  width: 100%;

  color: var(--text_color-100);

  * {
    max-width: 100%;
  }
  
  > * {
    margin-inline: auto;
  }

  iframe {
    margin-block: 2em;
    border: none;
    max-width: min(800px, 100%);
  }
  > iframe {
    display: block;
    margin: 2em auto !important;
  }

  .carousel {
    margin-block: 2em;
    max-width: 1200px;
    .image-attachment {
      margin-block: 0;
    }
  }

  @media(variables.$bp-larger-than-tablet) {
    display: table-cell;
    padding-left: 0;
    vertical-align: top;
    box-sizing: border-box;
  }

  .redacted {
    background-color: currentcolor;
  }

  .text-center {
    display: block;
    text-align: center;
  }

  .text-right {
    display: block;
    text-align: right;
  }

  h1, h2, h3, h4 {
    > a {
      text-decoration: none;
      background-image: linear-gradient(var(--color-ubyssey_blue), var(--color-ubyssey_blue));
      background-position: 0 calc(100% - 0.1em);
      background-repeat: no-repeat;
      background-size: 100% 0.25em;
      transition: background-size 0.3s ease;
      color: inherit;
      position: relative;
      z-index: 1;
      
      &:hover {
        background-size: 100% 100%;
        color: #fff;
      }
    } 
  }

  > p,
  > h1,
  > h2 {
    margin-top: 1.8em;
    margin-bottom: 0;
    padding-inline: 10px;
  }

  h2, h3, h4 {
    font-family: fonts.$font-headline;
    font-weight: 500;
    font-variation-settings: "wght" 500;
    color: var(--header_color-200);
  }

  >h3,
  >ul {
    padding-right: variables.$article-content-div-child-padding;
  }

  >.attachment.pull-quote {
    padding-inline: variables.$article-content-div-child-padding;
  }

  div.caption {
    margin-bottom: 0;
  }

  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > div.c-widget-event,
  > .attachment.pull-quote {
    padding: 0;
    max-width: var(--article-standard-content-width);
  }

  >ul, >ol {
    padding-left: variables.$article-content-ul-padding-left + 15;
    padding-right: 15px;

    @media(variables.$bp-larger-than-phablet) {
      padding-left: variables.$article-content-ul-padding-left;
      max-width: calc(var(--article-standard-content-width) - variables.$article-content-ul-padding-left);
      padding-right: 0;
    }
  }
}

div.article-content, .o-visual-essay__right-div {

  >p,
  >ul, 
  >ol {
    font-family: fonts.$font-body;
    font-weight: fonts.$font-weight-normal;
    font-size: 1.2em;
    line-height: 2em;
    margin-top: 1.4rem;

    a {
      padding: 0px 3px;
      border-bottom: 1px solid;

      font-weight: 600;
      transition-duration: 0.5s;
      color: var(--color-ubyssey_blue);

      &:hover {
        color: var(--color-ubyssey_blue);
      }
    }
  }

  >h1 {
    font-family: fonts.$font-default;
    font-weight: normal;
    font-size: 28px;
    margin: 30px 0 0 0;
  }

  // @media($bp-smaller-than-mobile) {
  //   padding: 0 3%;
  // }

  >p.tag-link {
    margin-top: 2em;

    a {
      text-transform: capitalize;
      color: var(--color-ubyssey_blue);
      text-decoration: none;
      border: none;
    }

    i.fa-rss {
      margin-left: 0.53em;
    }
  }

  .time-stamp {
    font-style: italic;
    font-family: fonts.$font-body;
    font-size: 1.2em;
    span {
      display: inline-block;
    }
  }
  
  .report { 
    font-size: 1em;
    a {
    display: inline-block;
    margin-right: 1em;
    color: var(--text_color-100);
    font-family: fonts.$font-default;
    font-weight: 400;
    border-bottom: 1px solid;
    }
  }
}

@media(variables.$bp-larger-than-mobile) {
  header.headline-container {
    padding: 0;
  }
}


// Article-list
#article-list {

  // Hide when printed
  @media print {
    display: none;
  }
}

.article-content p.drop-cap::first-line {
  font-weight: bold;
  font-size: fonts.font-size(19);
}

p.author-string>a {
  font-weight: 600;
  font-variation-settings: "wght" 600;
  color: var(--color-ubyssey_blue);
}

p.c-article__published-at {
  margin: 2em 0 1.5em 0.15em;
}

.article-content p.c-share {
  font-family: fonts.$font-default;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  font-size: 1.2em;

  .share-bsky svg {
    vertical-align: initial;
    padding-top: 0.15em;
    height: 1em;
    width: auto;
    fill: var(--text_color-100);
  }

  span.c-share-buttons {
    display: inline-block;

    > a{
      position: relative;
      padding: 0px 4px 10px 4px;
      color: var(--text_color-100);
      border: none;
    }
  }
}

// Tip block
.o-extra-article-info.o-tip-form {
  padding-block: 1.5em;
  border-block: 1px solid var(--light-border-grey);
  max-width: var(--article-standard-content-width);
  display: block;

  transition: border-color 0.5s;

  @media(variables.$bp-smaller-than-phablet) {
    padding-inline: 1em;
  }

  .o-tip-form--text {
    padding-inline: 1.5rem;
    > h2 {
      font-size: 1.5em;
      &:first-child {
        margin-top: 0;
      }
    }
    > p {
      color: var(--text_color-300);
    }
    a {
      text-decoration: underline;
    }
  }

  .o-tip-form--form-container {
    margin-block: 1em;
    width: 100%;
  }

  .o-tip-form--file-upload {
    padding: 1em;
    box-sizing: border-box;
    
    width: 100%;
    
    border: 2px dashed var(--border-grey);
    border-radius: 0.5em;

    background: none;

    font-size: 1em;
    font-variation-settings: "wght" 500;
    color: var(--text_color-400);

    transition: background 0.5s, color 0.5s;
    &:hover {
      background: var(--light-border-grey);
      color: var(--text_color-300);
    }
  }

  dialog {
    h1 {
      color: var(--header_color-200);
    }

    p {
      color: var(--text_color-200)
    }

    a {
      color: var(--color-ubyssey_blue);
      text-decoration: underline;
    }

    li {
      margin-bottom: 0.5em;
      color: var(--text_color-300);
    }
  }

  input[type=file] {
    display: none;
  }

  input[type=submit] {
    padding: 0.5em 1em;
    
    border: 2px solid white;
    border-radius: 0.5em;
    
    background: var(--color-ubyssey_blue);
    font-variation-settings: "wght" 500;
    color: white;

    transition: background 0.5s, color 0.5s;
    &:hover {
      background: var(--color-ubyssey_blue-light);
      color: var(--color-ubyssey_blue);
    }
  }

  form {
    width: fit-content;
    margin: 2em auto;
  }
}

// Extra article info blocks
.o-extra-article-info {
  margin: 1.4em;
  display: flex;

  @media(variables.$bp-smaller-than-tablet) {
      margin-inline: auto;
      max-width: 350px;
  }

  &.o-extra-article-info--editors-note, &.o-extra-article-info--highlight {
    padding-block: 0.5em;
    .o-extra-article-info__image img {
      margin: auto;
      height: auto;
    }

    h2 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.9em;
      font-family: fonts.$font-default;
    }
    li {
      margin-bottom: 0.5em;
    }
    a {
      border-bottom: 1px solid;
    }
  }

  &.o-extra-article-info--highlight {
    padding: 1em 1.5em;
    background-color: var(--color-ubyssey_blue-light);

    flex-direction: column;
    gap: 0;

    .o-extra-article-info__image {
      margin: 1em auto;
      display: flex;
      flex-shrink: 0;
      max-width: 150px;
      img {
        border-radius: 100%;
      }
    }
    .o-extra-article-info__content {
      height: fit-content;
      margin: auto;
    }
    h2, p {
      color: var(--color-ubyssey_blue-dark);
    }

    @media(variables.$bp-larger-than-phablet) {
      &.center {
        flex-direction: row;
        gap: 1.5em;
        .o-extra-article-info__image {
          margin: auto;
        }
      }
    }
  }

  &.o-extra-article-info--editors-note {
    padding: 0;
    flex-direction: column;
    border: solid 0.25em var(--color-ubyssey_blue-classic);
    border-top: 4.25em solid var(--color-ubyssey_blue-classic);
    max-width: var(--article-standard-content-width);

    position: relative;


    &::before {
      display: block;
      width: 2.5em; 
      aspect-ratio: 1;

      position: absolute;
      top: -3.25em;
      left: 50%;
      z-index: 10;
      transform: translateX(-50%);

      content: "";
      background-image: url("https://storage.googleapis.com/ubyssey/static/ubyssey/images/logos/dingbat-white.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    @media(variables.$bp-smaller-than-desktop) {
      margin-inline: auto;
    }
    @media(variables.$bp-smaller-than-phablet) {
      margin-inline: 0.5em;
    }

    .o-extra-article-info__content {
      padding-inline: 1em;
    }
    &.center .o-extra-article-info__content > * {
      margin-inline: auto;
      width:fit-content;
      @media(variables.$bp-larger-than-phablet) {
        padding-inline: 0.5em;
      }
    }
    p {
      line-height: 1.75em;
      color: var(--text_color-200);
    }
  }
}

div.article-content blockquote.pull-quote, .o-extra-article-info {
  @media(variables.$bp-larger-than-desktophd) {
    &.right {
      margin-right: calc(calc(50% - var(--article-standard-content-width)) - 1.4em );
      margin-left: 1.4em;
      float: right;
      position: relative;
    }
    &.left {
      margin-left: calc(50% - 450px);
      margin-right: 1.4em;
      float: left;
    }
    &.left, &.right {
      max-width: 300px;
    }
    &.center {
      margin-inline: auto;
      width: fit-content;
      max-width: calc(var(--article-standard-content-width) - 1em);
    }
  }
}