@use '../variables';

.o-card-container {
    margin-block: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;

    &.o-card-container--promo-staggered {
        justify-content: center;
        filter: drop-shadow(-0.25em 0.25em 0.5em var(--shadow-color));

        @media (variables.$bp-larger-than-phablet){
            .o-card:nth-child(2n) {
                top: 1.5em;
            }   
        }

        .o-card {
            display: flex;
            position: relative;
            width: 250px;
            aspect-ratio: 4/5;
            
            &:before {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 2;

                background: linear-gradient(transparent 40%, rgb(255,255,255,0.25), var(--color-ubyssey_blue-dark));

                content: "";
                border-radius: 1em;
            }

            &.o-card--video video {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                object-fit: cover;
                border-radius: 1em;
            }

            p {
                margin-top: auto;
                width: 100%;
                text-align: center;
                position: relative;
                z-index: 1000;
                color: white;
                font-variation-settings: "wght" 600;
                font-size: 1.25em;
                margin-bottom: 0.5em;
            }
        }
    }
    &.o-card-container--open-positions {
        flex-direction: column;
        .o-card {
            --background: var(--light-grey);
            --text_color-100: #272727;
            --header_color-100: ;
            filter: drop-shadow(-0.25em .25em 0.5em var(--shadow-color));
        }      
    }

    &.o-card-container--profiles {
        max-width: 1200px;
        flex-wrap: wrap;
        flex-direction: revert;
        .o-card {
            width: 100%;
            max-width: 350px;

            @media (variables.$bp-smaller-than-phablet) {
                max-width: none;
            }

            &.o-card--image {
                padding-left: calc(100px + 1em);
                background-size: 100px;
                background-repeat: no-repeat;
                background-position-y: 1em;
                p {
                    margin-block: 0.5rem;
                }
                h3:first-child {
                    margin-block: 0;
                }
                h3:first-child + p {
                    margin-top: 0.25rem;
                }
                a {
                    text-decoration: underline;
                    &:hover {
                        color: var(--color-ubyssey_blue); 
                    }
                }
            }
        }
    }

    .o-card {
        padding: 1em;
        border-radius: 1em;

        color: var(--text_color-100);
        background-color: var(--background);

        &.o-card--image {
            background-size: cover;
        }

        &.o-card--text {
            a {
                color: var(--color-ubyssey_blue);
                border-bottom: 1px solid;
                transition: background 0.5s;
                &:hover {
                    background: var(--color-ubyssey_blue-light);
                }
            }
        }

        &.o-card--dropdown {
            margin-bottom: 1em;
            width: 100%;
            padding: 0;
            border-radius: 0;

            summary {
                display: list-item;
                font-size: 1.25em;
                font-variation-settings: "wght" 600;
                cursor: pointer;
                border-bottom: 1px solid var(--light-grey);
            }
        }
    }
}