@import 'modules/fonts';
@import 'modules/variables';

.c-article--fw-story, div.container.clearfix.fw-story, .c-article--timeline, .c-article--isolation , .c-article--isolation-first-article , .c-article--isolation-last-article  {
  @media($bp-smaller-than-phablet) {
    .article-content {
      > p,
      > h1,
      > h2 {
        padding-left: 1em;
        padding-right: 1em;
      }
  
      div.caption {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }

  div.article-social {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 36px;
    @media($bp-larger-than-phablet) {
      width: 585px;
      height: 54px;
    }
  }

  div.article-content {
    > p,
    > h1,
    > h2,
    > h3,
    > h4,
    > ul,
    div.caption,
    div.attachment,
    div.attachment,
    .o-article-embed {
      margin-left: auto;
      margin-right: auto;
    }

    .o-article-embed--code {
      display: flex;
    }
  }

  div.media-column {
    display: none;
  }

  div.article-content {
    width: 100%;

    border-right: none;
    display: block;
    padding-right: 0;
    vertical-align: top;
    box-sizing: border-box;
  }

  .disclaimer { 
    padding-left: 1em;
    padding-right: 1em;
  }
}
