// Special article-like page
@import 'modules/variables';

.article-like-special-page {

  display: flex;
  flex-direction: column;
  @media($bp-larger-than-phablet){
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
  }

  // Left column (content)
  .article-content {
    padding: 0 20px 0 0;
  }

  // Right column (sidebar)
  aside {
    margin-left: 0px;

    @media($bp-smaller-than-phablet){
      padding-left: 10px;
      border: none;
    }

    @media($bp-larger-than-phablet){
      padding-left: 20px;
      width: 40%;
  
      border-left: 1px solid $color-border-gray-light;
  
      :first-child {
        margin-top: 5px;
      }  
    }
  }
}


