@use '../variables';
@use '../fonts';

div.article-content {
    .o-visual-essay__content-container {
        margin-block: 2.8em auto;
        display: flex;
        flex-direction: row;
        width: 100%;

        @media (variables.$bp-smaller-than-phablet) {
            flex-direction: column;
        }
    }

    .o-visual-essay__content-container-show {
        opacity: 1;
    }

    .o-visual-essay__content-container-hide {
        opacity: 0;

        @media (variables.$bp-smaller-than-phablet) {
            opacity: 1;
        }
    }

    .o-visual-essay__left-container {
        width: 50%;
        flex-grow: 1;
        position: sticky;
        top: 0;
        height: 100vh;
        margin: 0;

        @media (variables.$bp-smaller-than-phablet) {
            width: 100%;
            top: 0;
            overflow-x: clip;
        }
    }

    .o-visual-essay__left-div {
        position: absolute;
        transition: opacity 1s, visibility 1s;
        bottom: 0;
        top: 0;
        margin-bottom: 10vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .caption {
            margin-bottom: 1em !important;

            @media (variables.$bp-larger-than-phablet) {
                text-align: center;
            }
        }
    }

    .o-visual-essay__left-image {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @media (variables.$bp-smaller-than-phablet) {
            margin-bottom: 10px;
            margin-top: 0;
        }
    }

    .o-visual-essay__right-container {
        margin: auto;
        display: contents;
        width: 40%;
        max-width: 600px;
        transition: margin 1s ease;

        &::after {
            content: "";
            padding-top: 100vh;
            display: block;
            width: 0;
        }

        @media (variables.$bp-smaller-than-phablet) {
            width: 100%;
        }

        .mark {
            padding: 0;
        }
    }

    .o-visual-essay__right-div {
        margin: auto;
        margin-top: 300px;
        color: #333333;
        padding: 0.25em 1.5em;
    }

    .o-visual-essay__left-show {
        opacity: 1;
        z-index: 100;

        @media (variables.$bp-smaller-than-phablet) {
            left: 0;
        }
    }

    .o-visual-essay__left-prev {
        opacity: 0;
        visibility: hidden;

        @media (variables.$bp-smaller-than-phablet) {
            //left:100vw;
        }

        @media (variables.$bp-larger-than-phablet) {
            //top: -100vh;
        }
    }

    .o-visual-essay__left-next {
        opacity: 0;
        visibility: hidden;

        @media (variables.$bp-smaller-than-phablet) {
            //left:-100vw;
        }

        @media (variables.$bp-larger-than-phablet) {
            //top: 100vh;
        }
    }

    .o-visual-essay__left-first {
        opacity: 1;
        z-index: 100;
        visibility: visible;
        left: 0;
    }

    .vs-side-by-side {
        .o-visual-essay__right-div:last-child {
            margin-bottom: 500px !important;
        }
    }

    .vs-over-image {
        display: block;
        
        .o-visual-essay__left-image {
            height: 100%;
            flex-grow: 1;
            background-position: center;
        }

        .o-visual-essay__left-div {
            width: 100%;
            max-width: 100vw;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        .o-visual-essay__left-container {
            width: 100%;
        }

        .o-visual-essay__right-container {
            padding-inline: 1em;
            padding-bottom: 100vh;
            
            position: relative;
            z-index: 2000;
        }

        &.vs-over-image--left {
            .o-visual-essay__right-container {
                margin-left: 5%;
            }
        }

        .o-visual-essay__right-div {
            position: relative;
            border-radius: 1em;
            background-color: #eee;
            --text_color: #1b1b1b;
            //opacity: 0;
            transition: opacity 1s, visibility 1s;

            @media (variables.$bp-larger-than-phablet) {
                margin-inline: auto;
                width: fit-content;
            }

            &.in-view {
                //opacity: 1;
            }

            p {
                font-size: 1.2em;
                line-height: 1.75em;
            }
        }
    }

    [color-css-theme="light"] {
        .vs-side-by-side {
            .o-visual-essay__left-container {
                @media (variables.$bp-smaller-than-phablet) {
                    border-image: linear-gradient(to right, #ffffff00, variables.$color-ubyssey-blue-dark, #ffffff00) 30 stretch;
                }
            }

            .o-visual-essay__right-container {
                border-image: linear-gradient(#ffffff00, variables.$color-ubyssey-blue-dark, #ffffff00) 30 stretch;
            }
        }
    }

    [color-css-theme="dark"] {
        .vs-side-by-side {
            .o-visual-essay__left-container {
                @media (variables.$bp-smaller-than-phablet) {
                    border-image: linear-gradient(to right, #ffffff00, variables.$color-ubyssey-blue-light, #ffffff00) 30 stretch;
                }
            }

            .o-visual-essay__right-container {
                border-image: linear-gradient(#ffffff00, variables.$color-ubyssey-blue-light, #ffffff00) 30 stretch;
            }
        }
    }

    .vs-side-by-side {
        max-width: 1260px;

        .o-visual-essay__left-container {
            width: 50%;

            @media (variables.$bp-smaller-than-phablet) {
                height: 40vh;
                width: 100%;
                background-color: var(--background);
                border-bottom-style: solid;
            }

            .o-visual-essay__left-image {
                @media (variables.$bp-larger-than-phablet) {
                    background-position: top;
                    height: 50%;
                }
            }
        }

        .o-visual-essay__right-container {
            //width:40%;
            //max-width: 400px;
            //margin: auto;
            border-left-style: solid;

            @media (variables.$bp-smaller-than-phablet) {
                border-left-style: none;
            }
        }

        .o-visual-essay__right-div {
            //max-width: 400px;
        }

        .o-visual-essay__left-div {
            justify-content: center;

            @media (variables.$bp-larger-than-phablet) {
                right: 1em;
                left: 1em;
            }

            @media (variables.$bp-smaller-than-phablet) {
                margin-bottom: 0;
                width: 100%;
                overflow: clip;
            }
        }
    }
}

.fw-story .vs-side-by-side .o-visual-essay__left-div {
    padding-top: 54px;
}