{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load authors_tags %}

{% block content %}

{% block header %}
{% include 'navigation/headers/topbar.html' %}
{% include 'navigation/headers/mobile.html' %}
{% endblock %}

<main class="c-page c-page--author">
	<div class="u-container u-container--padded">

		<div class="c-page__header">
			{% if self.image %}
			<div class="c-page__header__thumbnail">
				{% image self.image fill-150x200   %}

			</div>
			{% endif %}
			<div class="c-page__header__meta">
				<h1 class="c-page__heading">{{ self.title }}</h1>
				<p>
					{% for link in self.links %}
						{{link.value|get_link_icon}}
					{% endfor %}
				</p>
				{% if self.description %}<p class="c-page__description">{{ self.description|safe }}</p>{% endif %}
			</div>
		</div>

		{% include 'archive/objects/archive.html' with page_obj=paginated_articles %}

	</div>
</main>
{% endblock %}