@use 'fonts';
@use 'variables';
@use "mixins";

$header-border: 1px solid #D3D3D3;
$header-mobile-background: var(--background-nav);
$nav-mobile-background-barely-transparent: var(--nav-mobile-background-barely-transparent);
$nav-h3-color: var(--nav-h3-color);
$nav-span-color: var(--nav-span-color);
$nav-headline-h1: var(--nav-headline-h1);
$three-bar-logo-color: var(--three-bar-logo-color);

@mixin sectionsMore {
  display:none;
  position: absolute;
  margin-left: -0.55rem;
  width: 60px;
  background-color: white;
  padding: 0.5rem;
  z-index: 10000;
  border: 1px solid #D3D3D3;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;

  li {
    display: table;
    margin: 0 auto 0 auto;
    clear: left;
    line-height: 2;
    padding: 0;
    height:auto;
    
    border-bottom: 3px solid transparent;
    &:hover {
     border-bottom: 3px solid #3490d6;
    }
  }
}

// Main header
header.main, header.topbar, header.c-home--desktop-header, header.c-home--desktop-header--symmetric {
  display: none;
  @media(variables.$bp-larger-than-desktop){
    display: block;
  }
}


header.main{
  .branding.row {
    margin-block: 2em;
    font-size: 13px;

    .middle {
      position: relative;
      width: 100%;
      max-width: 520px;
      img {
        position: absolute;
        margin-inline: 0em;
        height: calc(100%);
        bottom: -0.5em;
        left: 1em;
      }
      svg.top-logo {
        margin: 1.5em 0 1.5em 11em;
        height: 4em;
        width: auto;
      }
    }
    .right {
      margin-left: auto;
    }
  }

  .since-line {
    margin-left: auto;
    max-width: 300px;
    font-weight: 600;
    font-style: italic;
  }

  .row {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    //overflow: hidden;

    > * {
      flex-shrink: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      width: auto;
      max-width: none;
    }
    .left, .middle, .right {
      display: inline-block;
      height: 100%;
      line-height: 1em;
      color: var(--header_color);
    }
  
    .middle {
      text-align: center;
    }
    .right {
      text-align: right;
  
      .rss-icon {
        margin-inline: 1.5em;
      }

      .bluesky-icon svg {
        height: 0.85em;
        vertical-align: baseline;
        fill: var(--header_color);
        &:hover {
          fill: variables.$color-ubyssey-blue;
        }
      }

      a {
          position: relative;
          margin-right: 0.75em;
          font-size: fonts.font-size(16);
          &:last-child {
              margin-right: 0;
          }
      }
  
    }
  
    h1.section-title {
      font-family: fonts.$font-default;
      font-size: 34px;
      margin: 0;
      line-height: 60px;
    }
    img.top-logo, svg.top-logo {
      width: 100%;
      vertical-align: middle;
    }
  }

  nav.main {
    padding-inline: 1em;
    border-top: 2px solid;
    border-bottom: 1px solid;
    color: var(--nav-h3-color);

    .left, .middle, .right {
      padding: 0;
    }
    .meta {
      font-size: 0.8em;
      text-transform: uppercase;
    }
    .left {
      .meta {
        margin-right: 15px;
      }
    }
  
    li, div {
      line-height: 3em;
    }

    .right {
      .meta {
        margin-left: 15px;
      }
    }

    .sections {
      padding-inline: 1em;
      display: flex;
      li, div.dropdown {
        padding-inline: 1em;
        margin: 0;
        
        font-family: fonts.$font-default;
        font-size: 0.75em;
        font-weight: fonts.$font-weight-semi-bold;
        color: var(--header_color);
        text-transform: uppercase;
        
        &.elections a {
          color: variables.$color-red;
        } 
      }
    }

    .dropdown:focus-within, .dropdown:hover {
      text-decoration: underline;
    }
    .more-dropdown {
      display: inline-block;
      white-space: nowrap;
    }
    .more-list {
      background-color: var(--background);
      padding: 2px;
      border: 2px solid;
      border-top: none;
      left: -2px;
      text-decoration: underline;
      z-index: 100;
      font-size: 15px;

      ul {
        display: block;
        li {
          margin: 1em 0;
          display: block;
          border: none;
          text-align: left;
          line-height: 1em;
        }
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: fit-content;
      margin: auto;
      height: 100%;
      gap: 0.5em;
      li {
        display: inline-block;
      }
  
      &.sections-more {
        @include sectionsMore;
      } 

      &.culture-sections-more{
        @include sectionsMore;

      }
      
  
      &.meta {
        li {
          font-family: fonts.$font-default;
          font-size: fonts.font-size(10);
          color: var(--text_color);
          margin: 0 6px;
          line-height: 2.2em;
          font-weight: 600;
          text-transform: uppercase;
          height: 100%;
  
          &.store {
            margin: 0 3px;
          }
        }
      }
    }
  }
}

header.visual-essay{

  margin-bottom: 20px;

  .logo-area {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 35px;
    overflow: hidden;

    div.top-logo {
      width: 285px;
      height: 25px;
      margin: auto;
      display: block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }  
  }

  .section {
    margin-top: 0;
    text-align: center;
    font-family: nota-serif;
    a {
      margin-left: 0.2em;
      font-family: nota-serif;
      font-size: 2em;
      vertical-align: sub;
      text-decoration: underline;
    }
  }
  .darkmode-toggle {
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

// Mobile & topbar header

header.topbar, header.mobile {
  width: 100%;
  z-index: variables.$z-scale-2;
  transform: translate3d(0,0,0);
  top: 0;
}

header.topbar {
  position: sticky;
  height: 48px;
  line-height: 48px;
  background: $header-mobile-background;
  transition: background 0.5s ease, color 0.5s ease;

  border-bottom: $header-border;
  filter: drop-shadow(0 1px 3px var(--shadow-color));

  .section-name {
      display: inline-block;
      margin-right: 10px;
      span {
        margin-left: 7px;
        font-family: fonts.$font-default;
        font-weight: fonts.$font-weight-semi-bold;
        font-size: fonts.font-size(12.5);
        text-transform: uppercase;
        color: $nav-span-color;
      }
  }

  &.header-article {
      display: none;
      position: absolute;
  }

  div.logo {
    height: 20px;
    width: 130px;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
    display: inline-block;
  }
  
  .right {
    float: right;
    height: 45px;

    button.search {
      padding-top: 0.75em;
      height: 45px;

      border: none;
      background: none;

      color: var(--header_color);
      font-size: 1.2em;
      vertical-align: baseline;
      ion-icon {
        padding-bottom: 0.1em;
      }
    }

  }

  nav {
    display: none;
    white-space: nowrap;
    vertical-align: top;
    font-family: fonts.$font-default;
    font-weight: fonts.$font-weight-semi-bold;
    font-variation-settings: "wght" 600;
    font-size: fonts.font-size(13);
    margin-left: 20px;

    ul {
      line-height: 48px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      flex-direction: row;
      li {
        display: inline-block;
        padding: 0 10px;
        height: 45px;
        color: $nav-span-color;
        a {
          display: inline-block;
        }
        &.current, &:hover {
          border-bottom: 3px solid rgba(52, 144, 214, 1);
          color: variables.$color-accent-blue;
        }

        &.elections {
          a {
            color: variables.$color-red;
          }

          &.current, &:hover {
            border-bottom: 3px solid variables.$color-red;
          }
        }
      }

      &.sections-more {
        @include sectionsMore;
      }
    }

    @media(variables.$bp-larger-than-phablet){
      display: inline-block;
    }
  }

  h1.nav-headline {
    display: inline-block;
    top: 16px;
    white-space: nowrap;
    font-family: fonts.$font-default;
    font-size: fonts.font-size(13);
    font-weight: fonts.$font-weight-semi-bold;
    color: #373737 $nav-headline-h1;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
  a.icon-logo {
    display: inline-block;
    width: 20px;
    line-height: 100%;
    overflow: hidden;
    vertical-align: middle;
  }
}

.visual-essay  {
  header.topbar, header.mobile {
    position: static;
  }
}

// Article storyline
header.topbar.c-article-storyline {
  display: block;
  z-index: 300;

  .dingbat {
    display: inline-block;
    position: relative;
    height: 30px;
    aspect-ratio: 1;

    background-image: url('/static/ubyssey/images/logos/dingbat-blue.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: translateY(25%);
  }
  .u-container-topbar {
    display: flex;
    overflow-x: auto;
  }
  .c-article-storyline--header {
    display: inline;
    flex-shrink: 0;
    font-weight: 600;
    color: var(--header_color)
  }
  .c-article-storyline--nav {
    display: inline-block;
    width: 0;
    flex-grow: 1;
    font-weight: 400;
    
    ul {
      display: flex;
      list-style: none; 
      overflow-x: auto;
    }
    li {
      max-width: 20em;
      overflow: clip;
      text-overflow: ellipsis;
      text-transform: none;
      a {
        display: contents;
      }
    }
  }

  @media(variables.$bp-smaller-than-desktop){
    height: 54px;
    .dingbat, .right {
      display: none;
    }
    .c-article-storyline--nav {
      width: fit-content;
    }
  }
}



#header-mobile-spacer {
  height: 54px;
  min-height: 54px;
  @media (variables.$bp-larger-than-desktop) {
    height: 48px;
    min-height: 48px;
  }
}

#header-mobile-spacer--homepage {  
  height: 54px;
  min-height: 54px;
  @media (variables.$bp-larger-than-desktop) {
    height: 0;
    min-height: 0;
  }
}

header.mobile {
  position: sticky;
  height: 54px;
  min-height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #DADADA;

  a.left, a.right, a.logo {
    position: absolute;
    vertical-align: middle;
    background: $header-mobile-background;
    transition: background 0.5s ease, color 0.5s ease;
  }

  a.left, a.right {
    top: 0;
    bottom: 0;
    z-index: 600;

    box-sizing: border-box;
    font-size: 20px;
    color: $three-bar-logo-color;

    padding: 0 25px;

    &.active {
      background: $header-mobile-background;
      transition: background 0.5s ease, color 0.5s ease;
      bottom: -1px;
    }

    // Hide when printed
    @media print {
      display: none;
    }
  }

  a.left {
    left: 0;
    border-right: 1px solid transparent;
    &.active {
      border-right: 1px solid #DADADA;
    }
  }

  a.right {
    right: 0;
    border-left: 1px solid transparent;
    &.active {
      border-left: 1px solid #DADADA;
    }
  }

  a.logo {
    width: 100%;
    z-index: 500;
    text-align: center;
    img {
      vertical-align: middle;
      width: 100%;
      max-height: 24px;
    }
  }
  @media(variables.$bp-larger-than-desktop){
    display: none;
  }
}

#header-mobile-spacer {
  display: block;
  @media(variables.$bp-larger-than-desktop){
    display: none;
  }
}

nav.mobile {
  position: absolute;
  padding: 10px 20px;
  height: calc(100vh - 54px);
  box-sizing: border-box;
  top: 54px;
  left: 0;
  right: 0;

  background: $nav-mobile-background-barely-transparent; // Barely transparent
  border-top: 1px solid rgb(178,178,178);
  overflow: auto;
  color: $nav-span-color;
  z-index: 200;

  transition: background 0.5s ease, color 0.5s ease;

  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    #magazine-more{
      display: none;
      margin-left: 10px;
    }
    #culture-more{
      display: none;
      margin-left: 10px;
    }
    li a {
      padding: 10px 0;
      width: fit-content;
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  .left, .right {
    float: left;
    width: 50%;
  }
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: $nav-h3-color;
  }
}

html.hairlines {
  header.mobile, nav.mobile {
    border-bottom: 0.5px solid rgb(178,178,178);
  }
  nav.mobile, #search-form {
    margin-top: -0.5px;
  }
}

a.store-link {
  font-size: 12px;
  padding: 5px 7px 5px 10px;
  border-radius: 3px;
  color: variables.$color-accent-blue;
  background: rgba(0, 113, 201, 0.1);
  font-weight: fonts.$font-weight-semi-bold;

  transition: background 0.5s ease, color 0.5s ease;

  i {
    font-size: 12px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 4px;
  }

  span {
    font-size: 13px;
  }

  &:hover {
    background: rgba(0, 113, 201, 0.2)
  }

}


nav.branding-nav {
    padding-inline: 1em;
    margin: 1em auto;

    position: absolute;
    left: 50%;
    z-index: 100;

    transform: translateX(-50%);

    svg {
        fill: var(--header_color);
        max-width: 150px;
    }
    a {
        border: none;
    }
    * {
        margin: 0 auto;
    }
}

.c-home--desktop-header {
  //--header-background-color: #{variables.$color-ubyssey-blue};
  --header-background-color: #{variables.$color-ubyssey-blue-classic};
  --header-text-color: white;
  --header-border-color: white;

  padding: 1em;
  border-block: 2px solid var(--light-grey);

  position: relative;
  z-index: 100;

  background: var(--header-background-color);

  color: var(--header-text-color);

  a:hover {
    color: var(--header-text-color);
    text-decoration: underline;
  }

  .dark-mode-switcher {
    margin: 0 0 auto 0;
    svg {
      margin-bottom: 1em;
      height: 1.25em;
      fill: var(--header-text-color);
      color: var(--header-text-color);
    }
  }

  .branding.row {
    margin-top: 2em;

    .middle {
      position: relative;
      width: 100%;
      max-width: 650px;
      img {
        padding-top: 1em;
        margin-inline: 0em;
        position: absolute;
        height: calc(100%);
        bottom: 0;
        left: 1em;
      }
      svg.top-logo {
        //margin: 1em 0 1em 10em;
        margin: 0.75em 0 1em 7em;
        height: 3.5em;
        width: auto;

        fill: var(--header-text-color);
      }
    }
    .right {
      margin-left: auto;
      margin-block: auto;
      display: flex;
      height: fit-content;
      .right_header_menu ul {
        padding-left: 0;
        display: flex;
        list-style: none;
        gap: 1em;
      }
      button.search {
        margin-inline: 1em .25em;
        display: inherit;
        border: none;
        background: none;
        font-size: 1.2em;
        color: var(--header-text-color);
      }
    }
  }

  .since-line {
    margin: auto;
    max-width: 400px;
    font-weight: 600;
    font-style: italic;
    font-variation-settings: "wght" 600;
  }

  .date-line {
    padding-right: 01em;
    border-right: 1px solid;
    b {
      font-variation-settings: "wght" 600;
      margin-left: 0.25em;
    }
  }

  .row {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    //overflow: hidden;

    > * {
      flex-shrink: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      width: auto;
      max-width: none;
    }
  
    &.main {
      padding-top: 1em;
      border-top: 1px solid var(--header-border-color);
    }

    .middle {
      text-align: center;
    }
    .right {
      text-align: right;
  
      .rss-icon {
        margin-inline: 0.5em 1em;
      }

      a {
          position: relative;
          margin-right: 0.75em;
          &:last-child {
              margin-right: 0;
          }
      }
  
    }
  
    h1.section-title {
      font-family: fonts.$font-default;
      font-size: 34px;
      margin: 0;
      line-height: 60px;
    }
    img.top-logo, svg.top-logo {
      width: 100%;
      vertical-align: middle;
    }
  }

  .sections {
    padding-inline: 1em;
    display: flex;
    position: relative;

    .c-nav-search--container {
      left: 0;
      right: 0;
      z-index: 1000;
      background: var(--header-background-color);
      --header_color: var(--header-text-color);
      --text_color: var(--header-text-color);
      --text_color_supporting: #ddd;

      .c-nav-search--status {
        margin-block: 1em;
        a {
          color: var(--text_color);
        } 
      }
      ul {
        margin-bottom: 1.5em;
        display: block;
        li {
          padding: 1em 0;
        }

        &.topics {
          display: flex;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: row;
    }
    li, div.dropdown {
      padding-inline: 1em;
      margin: 0;
      
      font-family: fonts.$font-default;
      font-weight: fonts.$font-weight-semi-bold;
      color: var(--header-text-color);
    }
  }

  .dropdown:focus-within, .dropdown:hover {
    text-decoration: underline;
  }
  .more-dropdown {
    display: inline-block;
    white-space: nowrap;
  }
  .more-list {
    background-color: var(--header-background-color);
    padding: 2px;
    border: 2px solid;
    border-top: none;
    left: -2px;
    text-decoration: underline;
    z-index: 100;
    font-size: 15px;

    .flat-menu > ul {
      padding: 0;
      display: block;
      li {
        margin: 1em 0;
        padding-inline: 1em;
        display: block;
        border: none;
        text-align: left;
        line-height: 1em;
      }
    }
  }

}

.c-home--desktop-header--symmetric {
  --header-background-color: #{variables.$color-ubyssey-blue-classic};
  --header-text-color: white;
  --header-border-color: white;

  padding: 1em;
  border-block: 2px solid var(--light-grey);

  position: relative;
  z-index: 100;

  background: var(--header-background-color);

  color: var(--header-text-color);

  a:hover {
    color: var(--header-text-color);
    text-decoration: underline;
  }

  .dark-mode-switcher {
    margin: 0 0 auto 0;
    padding-bottom: 0;

    float: none;

    vertical-align: text-bottom;

    svg {
      height: 1.25em;
      fill: var(--header-text-color);
      color: var(--header-text-color);
    }
  }

  .branding.row {
    position: relative;

    .middle {
      position: relative;
      width: 100%;
      max-width: 650px;
      svg.top-logo {
        margin: 0.5em;
        height: 3.5em;
        width: auto;

        fill: var(--header-text-color);
      }
    }
    .right {
      margin-left: auto;
      margin-block: auto;
      display: flex;
      height: fit-content;
      .right_header_menu ul {
        padding-left: 0;
        display: flex;
        list-style: none;
        gap: 1em;
      }
    }
  }

  button.search {
    margin-left: 1.5em;
    display: inherit;
    border: none;
    background: none;
    font-size: 1.2em;
    color: var(--header-text-color);
  }

  .since-line {
    margin: auto;
    font-style: italic;

    max-width: 200px;

    position: absolute;
    right: 0;
    bottom: 0;

    text-align: right;

    .rss-icon {
      margin-left: 0.75em;
    }
  }

  .date-line {
    border: none;

    position: absolute;
    left: 0;
    bottom: 0;
    b {
      font-variation-settings: "wght" 600;
      margin-right: 0.25em;
    }
  }

  .row {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    //overflow: hidden;

    > * {
      flex-shrink: 1;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      width: auto;
      max-width: none;
    }
  
    &.main {
      padding-top: 1em;
      border-top: 1px solid var(--header-border-color);
    }

    .middle {
      margin: auto;
      text-align: center;

      max-width: 1275px;
      width: 100%;

      .middle-left {
        padding-right: 2em;
        padding-left: 4em;
        border-right: 1px solid var(--header-border-color);

        width: 50%;
        box-sizing: border-box;

        display: flex;
        flex-grow: 1;

        ul {
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
        }
      }

      .middle-right {
        padding-left: 2em;
        padding-right: 4em;

        width: 30%;
        
        display: flex;
        justify-content: space-between;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            padding-inline: 0;
          }
        }
        .dropdown ul {
          padding-inline: 1em;
        }
      }
    }
    .right {
      text-align: right;
  
      .rss-icon {
        margin-inline: 0.5em 1em;
      }

      a {
          position: relative;
          margin-right: 0.75em;
          &:last-child {
              margin-right: 0;
          }
      }
  
    }
  
    h1.section-title {
      font-family: fonts.$font-default;
      font-size: 34px;
      margin: 0;
      line-height: 60px;
    }
    img.top-logo, svg.top-logo {
      width: 100%;
      vertical-align: middle;
    }
  }

  .sections {
    padding-inline: 1em;
    display: flex;
    position: relative;

    .c-nav-search--container {
      left: 0;
      right: 0;
      z-index: 1000;
      background: var(--header-background-color);
      --header_color: var(--header-text-color);
      --text_color: var(--header-text-color);
      --text_color_supporting: #ddd;

      .c-nav-search--status {
        margin-block: 1em;
        a {
          color: var(--text_color);
        } 
      }
      ul {
        margin-bottom: 1.5em;
        display: block;
        li {
          padding: 1em 0;
        }

        &.topics {
          display: flex;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: row;
    }
    li, div.dropdown {
      margin: 0;
      
      font-family: fonts.$font-default;
      font-weight: fonts.$font-weight-semi-bold;
      color: var(--header-text-color);
    }
  }

  .dropdown:focus-within, .dropdown:hover {
    text-decoration: underline;
  }
  .more-dropdown {
    display: inline-block;
    white-space: nowrap;
  }
  .more-list {
    background-color: var(--header-background-color);
    padding: 2px;
    border: 2px solid;
    border-top: none;
    left: -2px;
    text-decoration: underline;
    z-index: 100;
    font-size: 15px;

    .flat-menu > ul {
      padding: 0;
      display: block;
      li {
        margin: 1em 0;
        padding-inline: 1em;
        display: block;
        border: none;
        text-align: left;
        line-height: 1em;
      }
    }
  }
}

.c-nav-search--container {
  margin-inline: auto;
  padding: 0 1em;

  position: absolute;
  left: 170px;
  right: 4.5em;
  z-index: 100;

  flex-direction: column;
    
  background: var(--background);
  border-radius: 0.5em;

  color: var(--text_color);
  text-align: left;

  display: none;

  &:focus, &:focus-within, &:hover {
    display: flex;
  }

  input {
    margin-top: 0.25em;
    padding: .25em .5em;
    width: 100%;
    
    border-radius: .25em;
    border: 1px solid var(--light-border-grey);
    
    position: relative;

    line-height: 2em;
    font-size: 1.25em;
  }
  .c-nav-search--results {
    margin: 0.5em 0.25em 1.5em 0.25em;
  }
  .c-nav-search--status a {
    color: variables.$color-ubyssey-blue;
    text-decoration: underline;
  }
  h3 {
    font-size: 1em;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;

    li {
      margin-block: 1em;
      border-bottom: 1px solid var(--light-border-grey);
      line-height: 1.5em;
      time {
        margin-right: 1em;
        width: 7.5em;
        display: inline-block;
        overflow: clip;

        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 0.75em;
        color: var(--text_color_supporting);
      }
    }

    &.topics {
      display: flex;
      gap: 1.5em;
      border-bottom: 1px solid var(--light-border-grey);
      li {
        border: none;
      }
    }
  }
}

[color-css-theme="light"] {

  .dark-logo {
    display: none !important;
  }
  .main .middle .top-logo {
    fill: black;
  }
}

[color-css-theme="dark"] {

  .light-logo {
    display: none !important;
  }
  .main .middle .top-logo {
    fill: white;
  }
}