@use 'fonts';
@use 'variables';

img.featured {
  width: 100%;
}

// Section header

h1.section,
h2.title,
h2.block-title {
  font-weight: 700;
  text-align: center;
  font-family: fonts.$font-secondary;
  text-transform: uppercase;
  font-size: 1.125em;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

html.hairlines {

  h1.section,
  h2.title {
    border-width: 0.5px 0;
  }
}

@media(variables.$bp-larger-than-phablet) {
  h1.section {
    font-family: fonts.$font-secondary;
    font-size: 26px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 25px 0;

    border: none;
    text-align: left;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h2.title {
    padding: 10px 0;
  }
}

[color-css-theme="light"] {

  h1.section {
    color: black;
  }
}

[color-css-theme="dark"] {

  h1.section {
    color: variables.$color-ubyssey-blue
  }
}

.o-breaking-news,
.o-subsection-banner {
  width: 100%;
  display: flex;
  border-radius: 3px;
  margin-top: 16px;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;

    p {
      color: white;
      font-weight: lighter;
    }
  }
}

.o-breaking-news {
  background-color: #e41818;
}

.o-subsection-banner {
  background-color: green;
}

@media(variables.$bp-larger-than-phablet) {
  ol.article-list {
    padding: 0;
  }
}

.home-featured {
  @media only screen and (max-width: 900px) {
    display: block;
    margin-top: 20px;
    .o-article--coverstory {
      width: 100%;
      margin: auto;
    }
  }

  @media only screen and (min-width: 900px) {
    display: flex;
    margin-top: 60px;
  }
}

.home-featured .home-top-article-list {
  background-color: #c3e2f0;
  height: fit-content;
  padding: 10px;
  box-sizing: content-box;

  .o-boxLabel {
    --boxPrimary: #{variables.$color-ubyssey-blue-dark-3};
    --boxSecondary: none;
    --boxTextLeft: white;
    --boxTextRight: #{variables.$color-ubyssey-blue-dark};
  }

  @media only screen and (min-width: 900px) {
    margin-top: -30px;
    filter: drop-shadow(-7px 10px 4px #0416201c);
    width: 415px;
    border: 2px var(--header_color) solid;
    margin-bottom: 40px;
  }
}

[color-css-theme="dark"] { 
  .home-featured .home-top-article-list .o-boxLabel {
    --boxPrimary: #{variables.$color-ubyssey-blue-dark};
  }
}

.linkTitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}


.home_links {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  padding: 1em;

  @media(variables.$bp-smaller-than-phablet) {
    padding: 20px;
  }
}

.home_link_content {
  width: 50%;
  margin: auto auto auto 0;

  @media(variables.$bp-smaller-than-phablet) {
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 1em;
    padding: 1em;
    transition-duration: 0.2s;

    &:hover {
      left: -10px;
    }

    a {
      margin: -1em;
      padding: 1em;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.home_link_ad {
  width: 439px;
  max-width: 40%;
  box-sizing: border-box;

  @media(variables.$bp-smaller-than-phablet) {
    width: 100%;
    max-width: none;
    padding: 1em;
  }
}

.c-homepage__section__bullets {
  color: variables.$color-ubyssey-blue;
}

.o-storystream_group {
  width: 100%;
  padding-bottom: 3em;

  @media (variables.$bp-larger-than-tablet) {
      margin-right: 20px;
      width: 50%;
      padding-right: 20px;
  }
  

  .landing-stream-block__timeline ul {
    padding-left: 1em;
    position: relative;
    left: 0;
    overflow: auto;

    li {
      width: auto;
      margin: 0;
    }
  }
}

.u-bottom-separator::after {
  content: "";
  display: block;
  margin-top: 2em;
  margin-inline: auto;
  width: 75%;
  border-bottom: solid 2px var(--light-border);
}

.home-section_one_large_two_small {
  border-bottom: 2px solid var(--light-border);

  .c-section__featured {
    display: flex;
    @media(variables.$bp-smaller-than-phablet) {
      flex-direction: column;
    }
  }
  .headline-top-articles {
    .o-article__headline {
      font-size: 2em;
    }
    .left {
      margin: 0 1.5em 1.5em 0;
      max-width: 325px;
      float: left;
    }
    .right {
      margin: 0;
    }
    .right .lede {
      font-size: 1.25em;
    }
  }

  @media(variables.$bp-larger-than-phablet) {
    // Structure
    margin-top: 2rem;
    margin-bottom: 5rem;

    .c-section__featured__articles {
      max-width: 500px;
      flex-shrink: 0;
      margin-left: auto;
      margin-top: auto;
      padding-left: 1.5em;
    }
  }
}

.c-storystream {
  margin-top: 5em;
  padding-bottom: 5em;

  .o-boxLabel {
    @media(variables.$bp-larger-than-phablet) {
      width: 60%;
      margin-right: auto;
      margin-left: 0;
      margin-bottom: 3em;
    }
    @media(variables.$bp-smaller-than-phablet) {
      margin: 0.75em;
      .o-boxLabel-left {
        padding-inline: 2%;
        width: auto;
      }
      .o-boxLabel-right {
        width: auto;
        flex-grow: 1;
      }
    }
  }
  @media(variables.$bp-larger-than-phablet) {
    .o-feed-item .o-storystream_group:first-child article:first-child{
      padding-top: 0;
    }
  }
  .o-feed-item:last-child .o-storystream_group{
    padding-bottom: 0;
  }
  .c-storystream-endnote {
    margin: 3em auto 0 auto;
    border-bottom: 1px solid;
    width: fit-content;

    text-align: center;
    color: var(--light-border);
  }
}

[color-css-theme="light"] {

  .home_link_content {
    li {
      color: variables.$color-ubyssey-blue-light;
      background-color: variables.$color-ubyssey-blue-dark;

      a:hover {
        color: white;
      }
    }
  }
}

[color-css-theme="dark"] {

  .home_link_content {
    li {
      color: variables.$color-ubyssey-blue-dark;
      background-color: variables.$color-ubyssey-blue-light;
    }
  }
}

// Styling for unused infinite feed on homepage 
.home_infinitefeed {
  padding-top: 40px;
  margin-bottom: 3em;
  position: relative;
  &.darkmode {
    background-color: variables.$color-ubyssey-blue-dark-2;
  }
  &.lightmode {
    background-color: variables.$color-ubyssey-blue-light;
  }

  padding-left: 20px;
  padding-right: 20px;

  .c-sidebar {
    height: auto;
    padding-bottom: 5em;
  }
}

.home_infinitefeed_cutoff_shadow {
  height: 100px;
  background-image: linear-gradient(0deg, black, transparent);
}

.home_infinitefeed_cutoff_seemore {
  display: block;
  border-radius: 10px;
  background-color: variables.$color-ubyssey-blue-light;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 20%;

  &:hover {
    opacity: 0.8;
  }
}

.c-home-section_stream {
  margin-bottom: 10%;
  h2 {
    font-size: 2.5em;
    font-family: "librefranklin","noto-sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-variation-settings: "wght" 800;
    width: fit-content;
    border-bottom: 0.1em solid var(--light-border);

    @media(variables.$bp-smaller-than-phablet) {
      margin: 1em auto;
    }
  }
}