@import 'fonts';

img.featured {
  width: 100%;
}

// Section header

h1.section,
h2.title,
h2.block-title {
  font-weight: 700;
  text-align: center;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-size: 1.125em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;
}

html.hairlines {

  h1.section,
  h2.title {
    border-width: 0.5px 0;
  }
}

@media($bp-larger-than-phablet) {
  h1.section {
    font-family: $font-secondary;
    font-size: 26px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 25px 0;

    border: none;
    text-align: left;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h2.title {
    padding: 10px 0;
  }
}

[color-css-theme="light"] {

  h1.section > a {
    color: black;
  }
}

.o-breaking-news,
.o-subsection-banner {
  width: 100%;
  display: flex;
  border-radius: 3px;
  margin-top: 16px;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;

    p {
      color: white;
      font-weight: lighter;
    }
  }
}

.o-breaking-news {
  background-color: #e41818;
}

.o-subsection-banner {
  background-color: green;
}

@media($bp-larger-than-phablet) {
  ol.article-list {
    padding: 0;
  }
}

.home-featured {
  @media($bp-smaller-than-phablet) {
    display: block;
    margin-top: 20px;
  }

  @media($bp-larger-than-phablet) {
    display: flex;
    margin-top: 60px;
  }
}

.home-top-article-list {
  background-color: #c3e2f0;
  height: fit-content;
  padding: 10px;

  @media($bp-larger-than-phablet) {
    margin-top: -30px;
    filter: drop-shadow(-7px 10px 4px #0416201c);
    width: 415px;
    border: 2px var(--header_color) solid;
    margin-bottom: 40px;
  }
}

.linkTitle {
  font-size: 1.2rem;
  font-weight: 600;
}


.home_links {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  justify-content: center;

  @media($bp-smaller-than-phablet) {
    padding: 20px;
  }
}

.home_link_content {
  width: 45%;
  margin: auto;

  @media($bp-smaller-than-phablet) {
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 1em;
    padding: 1em;
    transition-duration: 0.2s;

    &:hover {
      left: -10px;
    }

    a {
      margin: -1em;
      padding: 1em;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.home_link_ad {
  width: 40%;
  margin-left: auto;

  @media($bp-smaller-than-phablet) {
    width: 100%;
  }
}

.c-homepage__sections {
  width: 100%;
  padding-bottom: 3em;

  @media ($bp-larger-than-phablet) {
      margin-right: 20px;
      width: 50%;
      padding-right: 20px;
  }
  

  .c-homepage__section__timeline ul {
    padding-left: 1em;
    position: relative;
    left: 0;
    overflow: auto;

    li {
      width: auto;
      margin: 0;
    }
  }
}

.c-homepage__section {
  // Structure
  padding-bottom: 1.5rem;

  @media($bp-larger-than-phablet) {
    // Structure
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}


[color-css-theme="light"] {
  .c-homepage__section__timeline {
    border-color: $color-ubyssey-blue;
  }

  .c-homepage__section__timeline-flex {
    .bullet {
      background-color: $color-ubyssey-blue;
    }

    li {
      border-color: $color-ubyssey-blue;
    }

    article.article--timeline {
      .o-article__left .o-article__image img {
        border-color: $color-ubyssey-blue;
      }

      h3.o-article__headline {
        border-color: $color-ubyssey-blue;
        padding-bottom: 0.5em;
        color: $color-ubyssey-blue-dark;
      }

      p.o-article__published {
        background-color: transparent;
      }
    }

    p.o-article__published,
    .o-article__seemore {
      width: fit-content;
      color: black;
    }
  }
}

[color-css-theme="dark"] {
  .c-homepage__section__timeline {
    border-color: $color-ubyssey-blue-light;
  }

  .c-homepage__section__timeline-flex {
    h3.o-article__headline {
      color: $color-ubyssey-blue-light;
    }

    .bullet {
      background-color: white;
    }

    article.article--timeline {
      h3.o-article__headline {
        border-color: $color-ubyssey-blue-light;
      }

      .o-article__left .o-article__image img {
        border-color: $color-ubyssey-blue-light;
      }
    }

    li {
      border-color: white;
    }
  }
}

.c-homepage__section__timeline {
  margin-bottom: 3em;
  border-top: 2px solid;
  border-bottom: 2px solid;

  h2 {
    text-transform: capitalize;
  }
}

.c-homepage__section__timeline-flex {
  display: flex;
  position: relative;
  min-height: 400px;
  margin-bottom: 2em;

  article.article--timeline {
    margin-right: 2em;
    max-width: 300px;
    padding-bottom: 1em;
    height: 100%;

    .o-article__left {
      margin-bottom: 1em;

      .o-article__image {
        display: block;
        height: 100%;

        img {
          border-radius: 1em;
          border: 2px solid;
        }
      }
    }

    h3.o-article__headline {
      padding: 0.5em 0;
      border-bottom: 2px solid;
      font-size: 1.2em;
    }
  }

  p.o-article__published,
  .o-article__seemore {
    margin: 0;

    color: white;
    font-weight: 600;
    font-size: 0.75em;
    text-transform: uppercase;
  }

  h3.o-article__headline {
    margin: 0.5em 0;
    font-weight: 500;
    color: $color-ubyssey-blue-light;
  }

  ul {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 5em;

    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    overflow-x: clip;

    li:last-child {
      border-color: transparent;
    }

    li {
      margin-right: 3em;
      width: calc(50% - 2.5em);
      border-left: 3px solid;
      position: relative;
      font-size: 15px;

      &.first_of_date {
        padding-top: 1em;
      }

      &:first-child {
        padding-top: 0;
      }

      .bullet {
        width: 0.8em;
        aspect-ratio: 1;
        border-radius: 100%;
        position: absolute;
        left: calc(-0.5em);
      }

      .o-article--bullet {
        margin-left: 1em;
        margin-bottom: 1.25em;
      }
    }
  }
}

@media($bp-smaller-than-phablet) {
  .c-homepage__section__timeline {
    max-width: none;
    width: 100%;
    margin: 2em 0;
  }

  .c-homepage__section__timeline-flex {
    flex-direction: column;
    min-height: unset;
    margin-bottom: 1em;

    article.article--timeline {
      width: 100%;
      max-width: unset;
    }

    ul {
      position: relative;
      left: 0;
      padding: 0 2em;

      li {
        width: 100%;
      }
    }
  }
}

[color-css-theme="light"] {

  .home_link_content {
    li {
      color: $color-ubyssey-blue-light;
      background-color: $color-ubyssey-blue-dark;

      a:hover {
        color: white;
      }
    }
  }

  .c-homepage__section {

    @media($bp-larger-than-phablet) {
      margin-top: 1rem;
      margin-bottom: 4rem;
      border-bottom: solid;
      border-width: 1px;
      border-color: #EEE;
      padding: 1em;
    }
  }
}

[color-css-theme="dark"] {

  .home_link_content {
    li {
      color: $color-ubyssey-blue-dark;
      background-color: $color-ubyssey-blue-light;
    }
  }
}

// Styling for unused infinite feed on homepage 
.home_infinitefeed {
  padding-top: 40px;
  margin-bottom: 3em;
  position: relative;
  &.darkmode {
    background-color: $color-ubyssey-blue-dark-2;
  }
  &.lightmode {
    background-color: $color-ubyssey-blue-light;
  }

  padding-left: 20px;
  padding-right: 20px;

  .c-sidebar {
    height: auto;
    padding-bottom: 5em;
  }
}

.home_infinitefeed_cutoff_shadow {
  height: 100px;
  background-image: linear-gradient(0deg, black, transparent);
}

.home_infinitefeed_cutoff_seemore {
  display: block;
  border-radius: 10px;
  background-color: $color-ubyssey-blue-light;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 20%;

  &:hover {
    opacity: 0.8;
  }
}