@use 'fonts';
@use 'variables';

img.featured {
  width: 100%;
}

// Section header

h1.section,
h2.title,
h2.block-title {
  text-align: center;
  font-family: fonts.$font-secondary;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;
}

html.hairlines {

  h1.section,
  h2.title {
    border-width: 0.5px 0;
  }
}

@media(variables.$bp-larger-than-phablet) {
  h1.section {
    font-family: fonts.$font-secondary;
    font-size: 26px;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 25px 0;

    border: none;
    text-align: left;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h2.title {
    padding: 10px 0;
  }
}

[color-css-theme="light"] {

  h1.section {
    color: black;
  }
}

[color-css-theme="dark"] {

  h1.section {
    color: variables.$color-ubyssey-blue
  }
}

.o-breaking-news,
.o-subsection-banner {
  width: 100%;
  display: flex;
  border-radius: 3px;
  margin-top: 16px;

  &:hover {
    opacity: 0.8;
  }

  h3 {
    padding-left: 1rem;
    color: white;

    p {
      color: white;
      font-weight: lighter;
    }
  }
}

.o-breaking-news {
  background-color: #e41818;
}

.o-subsection-banner {
  background-color: green;
}

@media(variables.$bp-larger-than-phablet) {
  ol.article-list {
    padding: 0;
  }
}

.home-featured {
  @media only screen and (max-width: 900px) {
    display: block;
    margin-top: 20px;
    .o-article--coverstory {
      width: 100%;
      margin: auto;
    }
  }

  @media only screen and (min-width: 900px) {
    display: flex;
    margin-top: 60px;
  }
}

.home-featured .home-top-article-list {
  background-color: #c3e2f0;
  height: fit-content;
  padding: 10px;
  box-sizing: content-box;

  .o-boxLabel {
    --boxPrimary: #{variables.$color-ubyssey-blue-dark-3};
    --boxSecondary: none;
    --boxTextLeft: white;
    --boxTextRight: #{variables.$color-ubyssey-blue-dark};
  }

  @media only screen and (min-width: 900px) {
    margin-top: -30px;
    filter: drop-shadow(-7px 10px 4px #0416201c);
    width: 415px;
    border: 2px var(--header_color) solid;
    margin-bottom: 40px;
  }
}

[color-css-theme="dark"] { 
  .home-featured .home-top-article-list .o-boxLabel {
    --boxPrimary: #{variables.$color-ubyssey-blue-dark};
  }
}

.linkTitle {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
}


.home_links {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  padding: 1em;

  @media(variables.$bp-smaller-than-phablet) {
    padding: 20px;
  }
}

.home_link_content {
  width: 50%;
  margin: auto auto auto 0;

  @media(variables.$bp-smaller-than-phablet) {
    width: 100%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 1em;
    padding: 1em;
    transition-duration: 0.2s;

    &:hover {
      left: -10px;
    }

    a {
      margin: -1em;
      padding: 1em;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.home_link_ad {
  width: 439px;
  max-width: 40%;
  box-sizing: border-box;

  @media(variables.$bp-smaller-than-phablet) {
    width: 100%;
    max-width: none;
    padding: 1em;
  }
}

.c-homepage__section__bullets {
  color: variables.$color-ubyssey-blue;
}

.o-storystream_group {
  width: 100%;
  padding-bottom: 3em;
  flex-shrink: 0;

  @media (variables.$bp-larger-than-tablet) {
      margin-right: 20px;
      width: 66%;
      padding-right: 20px;
  }
  

  .landing-stream-block__timeline ul {
    padding-left: 1em;
    position: relative;
    left: 0;
    overflow: auto;

    li {
      width: auto;
      margin: 0;
    }
  }
}

.u-bottom-separator::after {
  content: "";
  display: block;
  margin-top: 2em;
  margin-inline: auto;
  width: 75%;
  border-bottom: solid 2px var(--light-border);
}

.home-section_one_large_two_small {
  border-bottom: 2px solid var(--light-border);

  .c-section__featured {
    display: flex;
    @media(variables.$bp-smaller-than-phablet) {
      flex-direction: column;
    }
  }
  .headline-top-articles {
    .o-article__headline {
      font-size: 2em;
    }
    .left {
      margin: 0 1.5em 1.5em 0;
      max-width: 325px;
      float: left;
    }
    .right {
      margin: 0;
    }
    .right .lede {
      font-size: 1.25em;
    }
  }

  @media(variables.$bp-larger-than-phablet) {
    // Structure
    margin-top: 2rem;
    margin-bottom: 5rem;

    .c-section__featured__articles {
      max-width: 500px;
      flex-shrink: 0;
      margin-left: auto;
      margin-top: auto;
      padding-left: 1.5em;
    }
  }
}

.c-storystream {
  margin-top: 5em;
  padding-bottom: 5em;

  .o-boxLabel {
    @media(variables.$bp-larger-than-tablet) {
      width: 66%;
      margin-right: auto;
      margin-left: 0;
      margin-bottom: 3em;
    }
    @media(variables.$bp-smaller-than-tablet) {
      margin: 0.75em;
      .o-boxLabel-left {
        padding-inline: 2%;
        width: auto;
      }
      .o-boxLabel-right {
        width: auto;
        flex-grow: 1;
      }
    }
  }
  @media(variables.$bp-larger-than-tablet) {
    .o-feed-item .o-storystream_group:first-child article:first-child{
      padding-top: 0;
    }
  }
  .o-feed-item:last-child .o-storystream_group{
    padding-bottom: 0;
  }
  .c-storystream-endnote {
    margin: 1em auto 0 auto;
    border-bottom: 1px solid;
    width: fit-content;

    text-align: center;
    color: var(--light-border);
  }
}

[color-css-theme="light"] {

  .home_link_content {
    li {
      color: variables.$color-ubyssey-blue-light;
      background-color: variables.$color-ubyssey-blue-dark;

      a:hover {
        color: white;
      }
    }
  }
}

[color-css-theme="dark"] {

  .home_link_content {
    li {
      color: variables.$color-ubyssey-blue-dark;
      background-color: variables.$color-ubyssey-blue-light;
    }
  }
}

// Styling for unused infinite feed on homepage 
.home_infinitefeed {
  padding-top: 40px;
  margin-bottom: 3em;
  position: relative;
  &.darkmode {
    background-color: variables.$color-ubyssey-blue-dark-2;
  }
  &.lightmode {
    background-color: variables.$color-ubyssey-blue-light;
  }

  padding-left: 20px;
  padding-right: 20px;

  .c-sidebar {
    height: auto;
    padding-bottom: 5em;
  }
}

.home_infinitefeed_cutoff_shadow {
  height: 100px;
  background-image: linear-gradient(0deg, black, transparent);
}

.home_infinitefeed_cutoff_seemore {
  display: block;
  border-radius: 10px;
  background-color: variables.$color-ubyssey-blue-light;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  margin: auto;
  width: fit-content;
  position: relative;
  top: 20%;

  &:hover {
    opacity: 0.8;
  }
}

.c-home-section_stream {
  margin-top: 4em;
  margin-bottom: 10%;
  h2 {
    padding-left: 0.25em;
    margin-block: 0.3em;
    
    width: fit-content;

    font-size: 2em;
    line-height: 1em;
    font-variation-settings: "wght" 600;
    font-family: fonts.$font-home-headline;
    @media(variables.$bp-smaller-than-tablet) {
      margin-left: 1em;
      border-bottom: 0.2em solid variables.$color-ubyssey-blue;
    }
    @media(variables.$bp-larger-than-tablet) {
      border-left: 0.2em solid variables.$color-ubyssey-blue;
    }
    @media(variables.$bp-smaller-than-desktop) {
      margin: 1em auto;
    }
  }
  .landing_stream_block {
    padding-block: 1em;
    border-block: 1px dashed var(--header_color);

    @media(variables.$bp-larger-than-desktop) {    
      &.landing_stream_block--one-large-left {
        .o-section_row_block {
          padding-left: 1.25em;
          border-left: 1px dashed var(--header_color);
          width: 30%;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .o-article_list-item {
            width: 100%;
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
              border-bottom: none;
            }
          }
        }
      }
    }
  }
  h2 + .landing_stream_block {
    margin: 0.5em auto 5em auto;
  }
}

// Curated stream 

.c-home-top {
  margin-block: 2em 4em;
  display: flex;
  justify-content: space-between;
  @media(variables.$bp-smaller-than-tablet) {
    flex-direction: column;
  }
  @media(variables.$bp-larger-than-tablet) {
    padding-inline: 15px;
  }
}

.c-curated_stream {
  @media(variables.$bp-larger-than-tablet) {
    margin-right: 1.25em;
    width: 50%;
    flex-grow: 1;
  }

  .o-curated_group {
    margin-top: 2rem;
    border-bottom: 1px dashed var(--header_color);

    @media(variables.$bp-smaller-than-tablet) {
      > p {
        margin-inline: 1em;
      }
    }

    &:first-child {
      margin-top: 0;

      .o-article_storystream_indent:first-child, .o-home-group_headline.large + .o-article_storystream_indent {
        .o-article__headline {
          font-size: 1.5em;
        }
      }
      .o-article_storystream_indent:first-child .o-article__headline {
        font-variation-settings: "wght" 600;
        font-weight: 600;
      }
      .o-article_storystream_large-headline--curated_stream:first-child .o-article__headline {
        margin-bottom: 0.5em;
        font-size: 2.75em;
        @media(variables.$bp-smaller-than-tablet) {
          font-size: 2em;
        }
      }
    }

    .o-home-group_headline {
      margin-block: 2rem;
      font-family: fonts.$font-home-headline;
      font-variation-settings: "wght" 600;
      font-weight: 600;
      line-height: 1.25em;
      color: var(--header_color);
      &.large {
        margin-top: 0;
        font-size: 3em;
      }
      &.small {
        font-size: 1.5em;
      }

      @media(variables.$bp-smaller-than-tablet) {
        &.large, &.small {
          margin-inline: 0.5em;
          font-variation-settings: "wght" 900;
        }
        &.large {
          font-size: 2em;
        }
      }
    }
    
    .o-curated_group--cards-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      @media(variables.$bp-smaller-than-tablet) {
        margin-inline: 1em;
      }
    }

    .o-curated_group--cards--card {

      position: relative;

      width: 240px;
      flex-grow: 1;

      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
        object-fit: cover;
      }
      .o-curated_group--cards--card--headline {
        font-size: 0.9em;
        padding: 1em 0.75em;

        .o-article__published {
          font-size: 0.8em;
          font-variation-settings: "wght" 600;
        }
        .o-article__headline {
          font-size: 1.25em;
        }
        .above-headline {
          font-size: 0.8em;
        }
      }
    }

    .o-curated_group--cards--small-row {
      display: flex;
      @media(variables.$bp-larger-than-phablet) {
        border-right: 1px solid var(--light-border-grey);
      }
      &:last-child {
        border-right: none;
      }
      .o-curated_group--cards--small-row--image {
        display: flex;
        width: 25%;
        flex-shrink: 0;
        img {
          margin: auto;
          width: 100%;
          height: auto;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
      .o-curated_group--cards--card--headline {
        padding: 0.25em 1em;
      }
    }

  }

  .o-curated_group > :not(.o-home-group_headline) {
    margin-bottom: 2rem;
    padding: 0 0 2rem 0;
    border-bottom: 1px solid var(--light-border-grey);
    &:last-child {
      margin-bottom: 0;
      border: none;
    }
  }

  @media(variables.$bp-smaller-than-tablet) {
    .o-article_storystream_large-headline--curated_stream--headline, .o-article_storystream_large-headline--curated_stream--content .o-article__left {
      padding-inline: 1em;
    }
    .o-article_storystream_large-headline--curated_stream--content .o-article__left {
      margin-bottom: 1em;
    }
  }

  @media(variables.$bp-larger-than-tablet) {
    .o-article_storystream_feature {
      .o-article__left {
        padding: 0;
        max-height: none;
        img {
          max-height: none;
        }
        .o-article_storystream--quote_with_background {
          padding: 5%;
          min-height: 400px;
          blockquote {
            font-size: 1.25em;
            line-height: 2em;
          }
        }
      }
      .o-article__right {
        width: auto;
        .o-article__headline {
          margin-inline: 0;
          font-size: 2em;
          font-variation-settings: "wght" 500;
        }
      }
    }

    .o-article_storystream_large-headline--curated_stream {
      .o-article__headline {
        margin-bottom: 0.75em;
        font-size: 2em;
        font-variation-settings: "wght" 600;
        font-weight: 600;
      }
    }

    .o-article_storystream_indent, .o-article_storystream_large-headline--curated_stream--content {
      display: flex;
      .o-article__left {
        margin-right: 1.5em;
        max-width: 250px;
        flex-shrink: 0;
        .o-article__headline {
          font-size: 1.3em;
        }
        p {
          padding: 0;
          border: none;
          font-size: 0.95em;
        }
      }
      .o-article__right {
        padding-left: 0;
        margin-right: 0;
        width: 100%;
        border: none;
        .attachment {
          margin-top: 0;
          padding: 0;
        }
      }
    }
    .o-article_storystream_indent .o-article__left p{
        margin-top: 0.5em;
    }
    .o-article_storystream_large-headline--curated_stream--content .o-article__left p{
        margin-top: 0;
    }
  }
}

.o-curated-stream-grid {
  @media(variables.$bp-smaller-than-tablet) {
    padding-inline: 0.5em;
  }
  @media(variables.$bp-smaller-than-phablet) {
    .o-curated-stream-grid--cell {
      padding-block: 1em;
      border-bottom: 1px solid var(--light-border-grey);
      transition: border-color 0.5s;
      &:last-child {
        border-bottom: none;
      }
    }

    .o-profile_quote_cell {
      display: flex;
      gap: 1em;
      .o-profile_cell {
        width: 40%;
        flex-shrink: 0;
      }
      .o-profile_quote_cell--quote-container {
        .o-profile_quote_cell--quote {
          margin: 0;
          font-variation-settings: "wght" 400;
        }
        .playAudioQuote {
          margin-left: 0;
        }
      }
    }
  }

  @media(variables.$bp-smaller-than-mobile) {
    .o-profile_quote_cell {
      flex-direction: column;
      .o-profile_cell {
        width: auto;
      }
    }
  }

  @media(variables.$bp-larger-than-phablet) {
  display: grid;

  &.o-curated-stream-grid-rows--three {
    grid-template-columns: auto auto auto;
    .o-curated-stream-grid--cell {
      padding: 1em;
      border-right: 1px solid var(--light-border-grey);
      border-top: 1px solid var(--light-border-grey);
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-top: none;
      } 
      &:nth-child(3n + 1) {
        padding-left: 0;
      }
      &:nth-child(3n) {
        padding-right: 0;
        border-right: none;
      } 
    }
  }

  &.o-curated-stream-grid-rows--four {
    grid-template-columns: auto auto auto auto;
    .o-curated-stream-grid--cell {
      padding: 0.75em;
      border-right: 1px solid var(--light-border-grey);
      border-top: 1px solid var(--light-border-grey);
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        border-top: none;
      } 
      &:nth-child(4n + 1) {
        padding-left: 0;
      } 
      &:nth-child(4n) {
        padding-right: 0;
        border-right: none;
      } 
    }
  }
  }
}

.o-profile_cell {
  display: flex;
  gap: 1em;
  .o-profile_cell--left {
    display: flex;
    flex-direction: column;
    width: 4rem;
  }

  .o-profile_cell--link {
    font-size: 0.75em;
    margin-block: 0.5em;
    a {
      text-decoration: underline;
    }
  }

  .o-profile_cell--image {
    aspect-ratio: 1;
    width: 4rem;
    height: auto;
    border-radius: 0.5em;
  }
  .o-profile_cell--right {
    h3 {
      margin-block: 0 0.25em;
      font-size: 1em;
      font-family: fonts.$font-headline;
      font-weight: 500;
    }
    ul {
      margin-bottom: 0.5em;
      padding-left: 0.75em;
    }
    li, p {
      margin-block: 0.5em;
      font-size: 0.8em;
      line-height: 1.1em;
      color: var(--text_color_supporting);
    }
    a {
      text-decoration: underline;
      color: var(--text_color);
    }
  }
}

.o-profile_quote_cell {
  .o-profile_quote_cell--quote-container {
    display: flex;
    flex-direction: column;
    color: var(--text_color);
  }
  .o-profile_quote_cell--buttons {
    display: flex;
    .playAudioQuote {
      margin-right: auto;
      font-size: 0.8em;
    }
    .o-profile_cell--link {
      margin-left: auto;
      font-size: 0.8em;
      a {
        text-decoration: underline;
      }
    }
  }
  .o-profile_quote_cell--quote {
    margin: 1em auto;
    padding-left: 1em;
    position: relative;
    font-size: 0.8em;
    font-variation-settings: "wght" 600;
    &::before {
      content: '“';
      font-size: 2em;
      float: left;
      position: absolute;
      left: 0;
      top: -0.35em;
    }
  }
}

.o-curated-stream-grid-rows--four {
  .o-profile_cell {
    gap: 0.75em;
    .o-profile_cell--left {
      width: 3.5rem;
    }
    .o-profile_cell--image {
      width: 3.5rem;
    }
    .o-profile_cell--right p,li {
      font-size: 0.75em;
    }
    .playAudioQuote {
      font-size: 0.7em;
    }
  }
}

.c-home-top--sidebar {
  color: var(--text_color);
  @media(variables.$bp-larger-than-tablet) {
    padding-left: 1.25em;
    width: 30%;
    border-left: 1px dashed var(--header_color);
  }
  @media(variables.$bp-smaller-than-tablet) {
    padding: 1em;
  }

  h2 {
    font-size: 1.25em;
    font-family: fonts.$font-home-headline;
    text-align: center;
  }

  > section {
    margin-bottom: 2em;
    border-bottom: 1px dashed var(--header_color);
  }
}

.c-home-recent-stories {
  ul {
    padding: 0;
    list-style: none;
  }
  > ul {
    margin-block: 0.5em;
  }
  .c-home-recent-stories--article-list {
    margin: .5em 0 1.5em 0;
    border-bottom: 1px dashed #bababa;
    @media(variables.$bp-larger-than-tablet) {
      padding-right: 0.5em;
    }
    > li {
      margin-bottom: .5em;
      display: flex;
      justify-content: space-between;
      line-height: 1.25em;
      color: var(--text_color);
      a.marked {
        //border-bottom: 2.5px dotted variables.$color-ubyssey-blue;
        //color: var(--text_color);
        //transition: border-color 0.25s;
        position: relative;
        padding-left: 1em;

        color: var(--header_color);
        &::before {
          display: block;
          position: absolute;
          top: 0.4em;
          left: 0;

          border-radius: 1em;
          border: 1px solid var(--section);

          content: "";
          aspect-ratio: 1;
          width: 0.5em;
          height: auto;
          background-color: var(--section);

          transition: background-color 0.25s;
        }
        &:visited {
          color: var(--marked-read);
          &::before {
            background-color: var(--background);
          }
        }
        &:hover {
          color: variables.$color-ubyssey-blue;
        }
      }
      .o-article__meta {
        margin: 0.5em 0 0 0;
        font-size: 0.75em;
        > span {
          margin-right: 1em;
          font-size: 1em;
        }
        .o-article__published {
          color: var(--text_color_supporting);
        }
      }
      .right {
        margin-left: 1.5em;
        width: 5em;
        flex-shrink: 0;
      }
    }
  }
  .c-home-recent-stories--article-list--section {
    margin-right: 0.5em;
    font-size: 0.8em;
    font-weight: 600;
    font-variation-settings: "wght" 600;
    font-family: fonts.$font-home-headline;
    text-transform: uppercase;
  }
  .c-home-recent-stories--article-list--article {
    font-variation-settings: "wght" 400;
  }
  .c-home-recent-stories--article-list--header {
    font-size: 0.9em;
    font-weight: 400;
    font-variation-settings: "wght" 400;
    color: var(--header_color);
    a {
      text-decoration: underline;
    }
  }
}

.c-home-recent-stories--day-list--clustered {
  ul.c-home-recent-stories--article-list {
    border-bottom: 1px dashed var(--header_color);
    li {
      margin-bottom: 1em;
      padding-bottom: 0.25em;
      border-bottom: 1px dashed #bababa;
      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

.c-home-sidebar--newsletter-signup {

  margin-block: 1em 1.5em;
  border-radius: 0.5em;

   p {
    a {
      text-decoration: underline;
    }
   }

   #e33cca0ca5fc3ed2a93d7942f6738064 {
    background: none;
    padding: 0;
    #e99366d1f3948398ef668cad6a1eabab {
      display: none;
    }
    .nvkSubmitButton {
      text-align: right;
      button {
        width: fit-content;
        border: none;
        background: var(--ubyssey_blue-classic);
        color: white;
      }
    }
  }
  .nvkContent {
    background: none;
  }
  .nvkContent .form-control {
    padding: 0.5em 1em;
    height: auto;
    border-radius: 0.3em;
    border: 2px solid var(--ubyssey_blue-classic);

    font-size: 1.1em;
    line-height: 2em;
    letter-spacing: 0.05em;
    font-family: fonts.$font-default;

    &::placeholder {
      color: #999;
    }
  }

  .c-home-sidebar--newsletter-signup--form {
    display: flex;

    input[type='text'] {
      padding: 0.5em 1em;
      border-style: solid;
      border-right: none;
      width: 0;

      border-radius: 0.5em 0 0 0.5em;
      background: white;
      flex-grow: 1;

      line-height: 1.5em;
      font-variation-settings: "wght" 400;
      color: black;
    }
    input[type='submit'] {
      padding: 0.5em;

      border: none;
      border-radius: 0 0.5em 0.5em 0;

      font-variation-settings: "wght" 500;
      color: white;

      background: #0071c9;
    }
  }
}

/* Homepage Sports Blocks */

.o-curated_group--shared-attachment {
  .o-curated_group--shared-attachment-flex {
    display: flex;
    gap: 1.5em;
    
    @media(variables.$bp-smaller-than-tablet) {
      flex-direction: column;
    }

    @media(variables.$bp-larger-than-tablet) {
      .o-curated_group--shared-attachment-flex-left {
        width: 350px;
        flex-shrink: 0;
      }
    }

  
    .o-curated_group--shared-attachment-flex-right {
      flex-grow: 1;
      width: 100%;

      .image-attachment img {
        height: 100%;
        object-fit: cover;
      }

      > .carousel {
        height: 400px;
        &.indicators {
          padding-bottom: 2em;
        }
        .carousel-indicators {
          margin: 0;
        }
        .carousel-inner {
          height: 100%;
        }
        .carousel-item {
          flex-direction: column;
          &.active, &.carousel-item-start, &.carousel-item-prev {
            display: flex;
          }
          .attachment {
            height: 0;
            flex-grow: 1;
          }
        }
        .carousel-control-next, .carousel-control-prev {
          position: absolute;
          top: auto;
          left: auto;
          z-index: 150;
        }
        .carousel-control-prev {
          right: 4em;
        }
        .carousel-control-next {
          right: 1em;
        }
      }
    } 

    .o-curated_group--shared-attachment-flex-right iframe {
      width: 100%;
    }
  }

  hr {
    margin-block: 1em;

    color: var(--light-border-grey);
    opacity: 1;
  }
}

.o-curated_group--shared-attachment-flex-left {
  .o-sports_game_score, .o-profile_cell {
    margin-bottom: 1em;
  }
}

.o-sports_game_score {
  display: flex;
  gap: 1em;

  @media(variables.$bp-smaller-than-tablet) {
    margin-inline: 0.5em;
  }

  .o-sports_game_score--teams {
    padding-block: 0.25em;
    border-right: 1px solid var(--light-border-grey);

    display: flex;
    gap: 0.5em;

    transition: border-color 0.5s;

    &.vertical {
      flex-direction: column;
    }

    &.horizontal {
      flex-direction: row;
    }

    .o-sports_game_score--team {
      display: flex;
      position: relative;
      padding-right: 1em;
      
      &.points {
        padding-right: 0;
      }
      img.o-sports_game_score--team-img {
        margin: auto;
        width: 6em;
        object-fit: contain;
        object-position: center;
      }
      .o-sports_game_score--team-points {
        padding-right: 0.25em;
        margin: auto;
        height: fit-content;
        min-width: 2.25rem;

        color: var(--header_color);
        font-size: 0.9em;
        font-variation-settings: "wght" 600;
        text-align: center;
      }

      &.winner {
        &::after {
          content: "";
          width: 0;
          height: 0;

          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);

          border-block: 0.3em solid transparent;
          border-right: 0.35em solid var(--header_color);
        }
        img.o-sports_game_score--team-img {
          height: 4em;
        }
        .o-sports_game_score--team-points {
          font-size: 1.1em;
        }
      }
      &.loser {
        opacity: 0.5;
        img.o-sports_game_score--team-img {
          height: 3em;
        }
      }
    }

  }
  .o-sports_game_score--title {
    h3 {
      margin-block: auto;
      font-size: 1em;
      font-family: fonts.$font-headline;
      font-weight: 500;
    }
  }
}


.o-author_commentary {
  padding: 0.5em 1em;
  border-top: 1px solid var(--light-border-grey);
  border-bottom: 1px solid var(--light-border-grey);

  display: flex;
  flex-direction: row-reverse;
  gap: 1em;

  .o-author_commentary--commentary {
    width: 100%;
    p {
      margin-block: 0.5em;
      font-family: fonts.$font-default;
      font-size: 0.85em;
      a {
        text-decoration: underline;
      }
    }
  }

  .o-author_commentary--authors {
    margin-block: 0.25em;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    .o-author_commentary--authors--img {
      padding-left: 1em;
      display: flex;
      justify-content: center;
        
      img {
        margin-left: -1rem;
        margin-right: 0;
        border-radius: 100%;
        aspect-ratio: 1;
        width: 8em;
        height: auto;
      }
    }
    .o-author_commentary--authors--name {
      padding: 0.5em;
      font-size: 0.75em;
      font-variation-settings: "wght" 600;
      text-align: center;
      color: var(--header_color);
    }
  }
}