{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load ubyssey_ad_tags %}
{% load ubyssey_ad_filters %}

{% block head_scripts %}
<!-- Register ads for home page -->
{% for orderable in settings.ads.AdTagSettings.home_head_tags.all %}
{% gpt_define_tag orderable.ad_slot %}
{% endfor %}
{% endblock %}

{% block header %}
{% include 'navigation/headers/main.html' %}
{% include 'navigation/headers/mobile.html' with class='homepage' %}
{% endblock %}

{% block content %}
{% filter specify_homepage_sidebar_ads:request %}
<!-- Place header ads for home page -->
{% for orderable in settings.ads.AdTagSettings.home_header_placements.all %}
{% gpt_placement_tag orderable.ad_slot %}
{% endfor %}

<main class="u-container u-container--large homepage">
	{% comment %}
	breaking_news_article is passed through from context and it contains all of the breaking articles from each section
	{% endcomment %}
	{% for article in breaking_news_article %}
	<a class="o-breaking-news" href={% pageurl article %}>
		<h3>BREAKING: {{ article.title|safe }}</h3>
	</a>
	{% endfor %}
	{% comment %}
	Additional fields/blocks will go here to alert students to some special events
	{% endcomment %}

	<div class="home-featured">
		{% if self.cover_story %}
			{% include "article/objects/cover_story.html" with article=self.cover_story%}
		{% endif %}
		<div class="home-top-article-list">
			<div class="boxLabel lightmode">
				<div class="boxLabel-left">
					<h1 class="boxText-left">Today's best!</h1>
				</div>
				<div class="boxLabel-right">
					<h1 class="boxText-right">The Date</h1>
				</div>
			</div>
			{% for article in self.top_articles_list %}
				{% include "article/objects/top_article.html" with article=article.article %}
			{% endfor %}
		</div>
	</div>

	<div style="padding-bottom: 20px;">
		<h2>Click!!!</h2>
		{%for link in self.links%}
			{% include_block link%}
		{%endfor%}
	</div>

</main>
<style>
	.inactive {
		top: -100%;
		position:absolute;
		opacity: 0;
		visibility: hidden;
	}
	.active {
		top:0;
		position:absolute;
		opacity: 1;
		z-index: 200;
	}
	.sidebar-item {
		transition-duration: 0.2s;
		transition-property: top;
		width: 70%;
	}
	#sidebar {
		position:sticky;
		top: 50px;
		height:100px;
		width:100%;
	}
	@media only screen and (max-width: 600px) {
		#sidebar {
		  display:none;
		}
	}
</style>
<script>
	var feed = document.getElementById('feed');
	switchSidebar = setInterval(function () 
	{
		var x = Math.floor((document.documentElement.scrollTop- feed.offsetTop) / (1.5*document.body.offsetHeight))% document.getElementById("sidebar").children.length;
		if (x < 0) {
			x = 0;
		}
		if(x != Array.prototype.indexOf.call(document.getElementById("sidebar").children,document.getElementsByClassName("active")[0])){
			if (document.getElementsByClassName("active").length > 0) {
				document.getElementsByClassName("active")[0].classList.add("inactive");
				document.getElementsByClassName("active")[0].classList.remove("active");
	
			}
			document.getElementById("sidebar").children[x].classList.remove("inactive");
			document.getElementById("sidebar").children[x].classList.add("active");
		}
	}, 100);
</script>
<div style="background-color: #031621; padding-top: 20px;">
	<div class="u-container u-container--large" style="display:flex;">
		<div class="u-container" style="max-width: 700px;margin-left:0;">
			<div>
				<div class="boxLabel darkmode sticky">
					<div class="boxLabel-left">
						<h1 class="boxText-left">Infinite feed</h1>
					</div>
					<div class="boxLabel-right">
						<h1 class="boxText-right" id="timeBox">Today</h1>
					</div>
					<script>					
						updateTimeBox = setInterval(function() 
						{
							var feed = document.getElementById("feed");
							if(document.documentElement.scrollTop > feed.offsetTop) {
							for(let i=0; i<feed.children.length; i++){
								var article = feed.children[i];
								if(article.classList.contains("article--infinitefeed")){
									if(article.offsetTop > document.documentElement.scrollTop &&  article.offsetTop < document.documentElement.scrollTop + 500) {
										document.getElementById("timeBox").innerHTML = article.getAttribute("time");
										break;
									}
								}
							}
							} else {
								document.getElementById("timeBox").innerHTML = "Today";
							}
						}, 100);
					</script>
				</div>
				{% include 'archive/objects/infinitefeed.html' with filters=filters mode="dark" %}
			</div>
		</div>
		<div id="sidebar">
			{% for block in self.sidebar_stream %}
			<div class="inactive sidebar-item darkmode">
			{% include_block block %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endfilter %}
{% endblock %}

{% block footer %}
{% include 'navigation/footer.html' with homepage=True %}
{% endblock %}