{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load ubyssey_ad_tags %}
{% load ubyssey_ad_filters %}
{% load articletags %}

{% block stylesheet %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/scss/_carousel.scss" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" /> 
	<link rel="stylesheet" href="{% static 'ubyssey/css/home.css' %}" type="text/css" />
{% endblock %}


{% block head_scripts %}
	<link rel="alternate" type="application/atom+xml" title="Ubyssey Rss Feed" href="/rss">
	<!-- Register ads for home page -->
	{% for orderable in settings.ads.AdTagSettings.home_head_tags.all %}
	{% gpt_define_tag orderable.ad_slot %}
	{% endfor %}

	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
	 
{% endblock %}

{% block header %}
{% include 'navigation/headers/mobile.html' with class='homepage' %}

<div class="o-advertisement--home-header-bar">
<!-- Place header ads for home page -->
{% for orderable in settings.ads.AdTagSettings.home_header_placements.all %}
{% gpt_placement_tag orderable.ad_slot %}
{% endfor %}
</div>

{% include 'navigation/headers/main.html' with tagline=self.tagline tagline_url=self.tagline_url %}
{% endblock %}

{% block content %}
{% filter specify_homepage_sidebar_ads:request %}

<main class="u-container u-container--mid homepage">
	{% comment %}
	breaking_news_article is passed through from context and it contains all of the breaking articles from each section
	{% endcomment %}
	{% for article in breaking_news_article %}
	<a class="o-breaking-news" href={% pageurl article %}>
		<h3>BREAKING: {{ article.title|safe }}</h3>
	</a>
	{% endfor %}
	{% comment %}
	Additional fields/blocks will go here to alert students to some special events
	{% endcomment %}

	<div class="home-featured">
		{% if cover_story %}
			{% include "article/objects/cover_story.html" with article=cover_story%}
		{% endif %}
		<div class="home-top-article-list">
			{% include 'home/objects/home_heading-box.html' with styling='lightmode' title="Top Stories" text="Updated" textBold=update_time|time_ago %}
			
			{% for article in top_stories %}
				{% include "article/objects/top_article.html" with article=article count=forloop.counter %}
			{% endfor %}
		</div>
	</div>
</main>

<div>
	{% for block in self.middle_stream %}
	{% include_block block %}
	{% endfor %}
</div>

<div class="u-container u-container--large">
	{% for group in homepage_stream %}
	<div class="c-infinitefeed__feed">
		<div class="c-homepage__sections">
			{% for article in group.articles %}
				{% include_block article.storystream_view %}
			{% endfor %}
		</div>
		
		{% if group.sidebar %}
			{% include 'infinitefeed/objects/infinitefeed-sidebar.html' with id="sidebar" sidebar_stream=group.sidebar %}
		{% else %}
			<div class="c-sidebar empty-sidebar"></div>
		{% endif %}
	</div>
	{% endfor %}
</div>

<div class="u-container u-container--large">
	{% for section in self.sections_stream %}
		{% include_block section %}
	{% endfor %}
</div>

{% endfilter %}
{% endblock %}

{% block footer %}
{% include 'navigation/footer.html' with homepage=True %}
{% endblock %}