.c-article{
  padding: 3em 0;
}

.c-article__title, .o-article__snippet {
  text-align: center;
  color: #000000;
  font-family: $font-default;
  padding: 0 5% 0 5%;
  margin: 2.5% 0 2.5% 0;
  font-size: 3.5rem;
  line-height: 4rem;
  max-width: 1000px;
  @media($bp-larger-than-tablet) {
    width: auto;
  }
  @media ($bp-smaller-than-mobile) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

.o-article__snippet {
  margin: 0 0 1% 0;
  font-size: 2rem;
}

.c-article__info {
  text-align: center;
  color: #000000;
  font-family: $text-font;
}

.featured-media {
  width: 100%;
  max-width: 1000px;
  height: auto; 
  margin-top: 4%;
  margin-bottom: 5%;
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1%;
  }
  .caption {
    text-align: right;
  }
}


.c-article__content {
  
  color: #000000;
  font-family: $text-font;
  // margin: 50%;
  // margin: auto;
  h1, h2, h3 {
    text-align: left;
    font-family: $header-font;
    font-size: 1.3rem;
    line-height: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  h1{
    font-size: 1.45rem;
    margin-bottom: 1.5em;
  }

  > p, ul {
    font-family: $text-font;
    font-size: $text-size;
    font-weight: normal;
    letter-spacing: 0.2px;
    line-height: 1.3rem;
    width: 100%;
    max-width: 600px;
    margin: 0 0 1.5rem 0;
    padding: 0 0.5rem 0 0.5rem;
  }

  em {
    font-style: italic;
  }

  .advertisement, .pull-quote {
    width: 300px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;

    @media($bp-larger-than-phablet) {
      margin: 0;
      float: right;
      padding-left: 35px;
    }

  }
}


.article .o-article-embed{
  margin: 0;
  max-width: 600px;
  display: block;
}