// Note: Will's contribution to this file is noted March 3, 2023
.cs1, .cs3, .cs2, .cs4 {
  text-align: center;
}

.card {
  img {
    width: 100%;
    max-height: auto;
  }
  // design choices with margin are unconventional here due to the way elements on the html are structured
  // the below margins along with those for the mag-hp-spread in homepage.scss fixes visual margin problems.
  margin: 2em 2em 1em 2em;
  @media($bp-smaller-than-desktop) {
    margin: 0 1em 1em;

  }
  * {
    text-decoration: none;
    color: #3C3C3C;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  p.card__title {
    font-family: $header-font;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  p.card__credit {
    font-family: $credit-font;
    font-weight: $credit-weight;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

// Will's contribution for the grid-template-columns setup starts here

.cs__three-across {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(100px, 450px));
  gap:10px;
  align-items: center;
  justify-items: center; 
  justify-content: center;
  width:100%; 
  @media($bp-smaller-than-desktop) {
    grid-template-columns: none;
  }
}

.cs__two-across {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 680px));
  gap: 10px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  @media($bp-smaller-than-desktop) {
    grid-template-columns: none;
  }
}

.cs__one-across {
  align-items: center;
  justify-items: center; 
  justify-content: center;
  width:100%; 
}