$font-default: 'Abril Fatface', cursive;

$font-secondary: 'Montserrat', sans-serif;

$header-font: 'Abril Fatface', cursive;
$header-weight-regular: 400;
$header-weight: 500;
$header-size: 3.1rem;

$text-font: 'Montserrat', sans-serif;
$text-weight: 300;
$text-weight-bold: 500;
$text-size: 1rem;

$quote-font: 'Abril Fatface', cursive;
$quote-size: 1.3rem;
$quote-weight: 400;

$credit-font: 'Montserrat', sans-serif;
$credit-weight: 400;
$credit-style: italic;
$credit-size: 1rem;

$accent-font: 'Abril Fatface', cursive;
$accent-size: 1.3rem;
