# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Static file folders
/gcs/
/media/
/static/
/ubyssey/static/

# env files
*.env

# developer-only file folders
/localdev/
/tmp/
/cache/
/bin/

# swap files
*.swp

# local GAE
/lib/

node_modules/
yarn.lock

# Ignore macOS-specific empty file
.DS_Store

# Ignore settings for VS Code except extensions.json
.vscode

# Client secret for Travis
client-secret.json

# Keyfile for accessing GCS bucket
gcs-local.json

pyvenv.cfg

ubyssey/settings*.py
