Django==4.2.0
wagtail==5.2.5
git+https://github.com/ubyssey/django-google-storage.git@v0.5.4#egg=django-google-storage-updated
django-storages[google]==1.14.2
django-canonical-domain==0.3.0
django-taggit==4.0.0
pymemcache==4.0.0
mysqlclient==2.0.1
django-phonenumber-field==2.0.0
phonenumbers==8.12.9
beautifulsoup4==4.11.2
feedparser==6.0.10
pyyaml==6.0.1
ua-parser==0.10.0
user-agents==2.2.0
django-user_agents==0.4.0
gunicorn==21.2.0
Pillow==9.3.0
google-cloud-datastore==2.17.0
google-cloud-storage==1.44.0
google-cloud-secret-manager==2.11.0
django-environ==0.10.0
requests==2.31.0
whitenoise==6.5.0
brotli==1.0.9
django-extensions==3.2.3
git+https://github.com/jazzband/django-dbtemplates.git@233a401#egg=django-dbtemplates
wagtail-modelchooser==4.0.1
wagtailmenus==4.0.0
wagtail-cache==2.3.0
google-crc32c==1.3.0
wagtail-color-panel==1.4.0
django-debug-toolbar==4.2.0
pylint==2.17.5
pylint-django==2.5.3
ipython
django-redis==5.4.0
redis==5.0.1
hiredis==2.2.3
appengine-python-standard>=1.0.0
icalendar===5.0.12
aiohttp===3.10.3