anyascii==0.3.2
asgiref==3.7.2
astroid==2.15.6
asttokens==2.2.1
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.8.2
black==23.7.0
boto==2.49.0
Brotli==1.0.9
cachetools==4.2.4
certifi==2023.5.7
cfgv==3.4.0
chardet==3.0.4
click==8.1.6
decorator==5.1.1
dill==0.3.7
dispatch==2.0.6
distlib==0.3.7
Django==3.2.11
django-appconf==1.0.5
django-canonical-domain==0.3.0
django-cogwheels==0.3
django-dbtemplates @ git+https://github.com/jazzband/django-dbtemplates.git@233a401e75d9b6133dd4c9fdc17bf85d2660cc41
django-debug-toolbar==3.2.1
django-environ==0.4.5
django-extensions==3.1.3
django-filter==21.1
django-google-storage-updated @ git+https://github.com/ubyssey/django-google-storage.git@9eb94f935fab43eb00b40fd7cc423649c555271b
django-modelcluster==5.3
django-phonenumber-field==2.0.0
django-storages==1.10
django-taggit==1.5.1
django-treebeard==4.7
django-user-agents==0.4.0
djangorestframework==3.12.2
docopt==0.6.2
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
executing==1.2.0
feedparser==6.0.1
filelock==3.12.2
flake8==6.1.0
google-api-core==1.34.0
google-auth==1.35.0
google-cloud-core==1.7.3
google-cloud-datastore==1.15.0
google-cloud-secret-manager==2.11.0
django-environ==0.4.5
requests==2.31.0
whitenoise==5.1.0
brotli==1.0.9
django-extensions==3.1.3
git+https://github.com/jazzband/django-dbtemplates.git@233a401#egg=django-dbtemplates
wagtail-modelchooser==2.13.1
wagtailmenus==3.0.2
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==5.1.0
Willow==1.4.1
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==3.1.2
xlwt==1.3.0
