aiohappyeyeballs==2.6.1
aiohttp==3.10.3
aiosignal==1.4.0
anyascii==0.3.3
appengine-python-standard==1.1.10
asgiref==3.9.2
astroid==2.15.8
asttokens==3.0.0
async-timeout==4.0.3
attrs==25.3.0
autobahn==24.4.2
Automat==25.4.16
beautifulsoup4==4.11.2
boto==2.49.0
Brotli==1.0.9
cachetools==5.5.2
certifi==2025.8.3
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.3
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
Django==4.2
django-appconf==1.1.0
django-canonical-domain==0.3.0
django-cogwheels==0.3
django-crontab==0.7.1
django-dbtemplates @ git+https://github.com/jazzband/django-dbtemplates.git@ac740e06f387ba768c01f8b00f14e7dd5c97af94
django-debug-toolbar==4.2.0
django-environ==0.10.0
django-extensions==3.2.3
django-filter==23.5
django-google-storage-updated @ git+https://github.com/ubyssey/django-google-storage.git@9eb94f935fab43eb00b40fd7cc423649c555271b
django-health-check==3.20.0
django-modelcluster==6.4
django-permissionedforms==0.1
django-redis==5.4.0
django-storages==1.14.2
django-taggit==4.0.0
django-treebeard==4.7.1
django-user-agents==0.4.0
djangorestframework==3.16.1
draftjs-exporter==2.1.7
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
feedparser==6.0.10
filetype==1.2.0
frozendict==2.4.6
frozenlist==1.7.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-datastore==2.17.0
google-cloud-secret-manager==2.11.0
google-cloud-storage==1.44.0
google-crc32c==1.3.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.75.1
grpcio-status==1.62.3
gunicorn==21.2.0
h11==0.16.0
hiredis==2.2.3
html5lib==1.1
hyperlink==21.0.0
icalendar==6.3.1
idna==3.10
Incremental==24.11.0
ipython
isort==5.13.2
jedi==0.19.2
l18n==2021.3
lazy-object-proxy==1.12.0
legacy-cgi==2.6.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mock==5.2.0
msgpack==1.1.2
multidict==6.6.4
mysqlclient==2.2.6
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
parso==0.8.5
pexpect==4.9.0
pillow==10.4.0
pillow_heif==0.22.0
platformdirs==4.4.0
prompt_toolkit==3.0.52
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.8
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
Pygments==2.19.2
pylint==2.17.5
pylint-django==2.5.3
pylint-plugin-utils==0.9.0
pymemcache==4.0.0
pyOpenSSL==25.3.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2025.2
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
selenium==4.23.1
service-identity==24.2.0
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
sqlparse==0.5.3
stack-data==0.6.3
telepath==0.3.1
tomli==2.2.1
tomlkit==0.13.3
traitlets==5.14.3
trio==0.31.0
trio-websocket==0.12.2
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
ua-parser==0.10.0
urllib3==1.26.20
user-agents==2.2.0
wagtail==5.2.7
wagtail-cache==2.3.0
wagtail-color-panel==1.4.0
wagtail-modelchooser==4.0.1
wagtailmenus==4.0
wcwidth==0.2.14
webencodings==0.5.1
websocket-client==1.8.0
whitenoise==6.5.0
Willow==1.6.3
wrapt==1.17.3
wsproto==1.2.0
yarl==1.20.1
zope.interface==8.1.1
