{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load authors_tags %}

<main class="c-page c-page--author">
	<div class="u-container u-container--padded">

		<div class="author-header">
			{% if self.image %}
				{% image self.image fill-350x350-c100 format-webp as pfp %}
				<div class="author-img" style="background-image: url('{{pfp.full_url}}')" aria-label="{{ self.title }}"></div>
			{% endif %}
			<div class="author-info">
				<h1 class="author-name">{{ self.title }}</h1>
				<h2 class="author-role"> {{self.ubyssey_role}} </h2>
				{% if self.bio_description %}<p class="author-desc">{{ self.bio_description|safe }}</p>{% endif %}
				<p class="author-links">
					<a class="social_media_links" href="/authors/{{self.slug}}/rss"><ion-icon name="logo-rss" style="font-size:1em;"></ion-icon>&nbsp;rss</a>
					{% for icon in self.linkIcons %}
						{{icon}}
					{% endfor %}
				</p>
			</div>
		</div>
    </div>
</main>