{% load wagtailcore_tags %}
<article class="o-sports_game_score">
    <div class="o-sports_game_score--teams {{self.style}}">
        {% for team in self.teams %}
        <div class="o-sports_game_score--team {{team.style}} {% if team.points %}points{% endif %}">
            <img class="o-sports_game_score--team-img" src="{{team.svg.file.url}}" alt="{{team.name}}" title="{{team.name}}">
            {% if team.points or team.points == 0 %}
            <div class="o-sports_game_score--team-points">
                {{team.points}}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="o-sports_game_score--title">
        {% if self.article %}
            <h3><a href="{% pageurl self.article %}">{% if self.title %}{{title|safe}}{% else %}{{self.article.title|safe}}{% endif %}</a></h3>
        {% elif self.link %}
            <h3><a href="{% pageurl self.link %}">{{self.title|safe}}</a></h3>
        {% else %}
            <h3>{{self.title|safe}}</h3>
        {% endif %}
    </div>
</article>