{% extends "wagtailadmin/base.html" %}
{% load static %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}Content tracker{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'ubyssey/css/content-tracker.css' %}">
{% endblock %}

{% block content %}
    <div id="content-tracker" class="c-content-tracker"></div>
    <script src="{% versioned_static 'wagtailadmin/js/modal-workflow.js' %}"></script>
    <script src="{% static 'ubyssey/js/contentTracker.js' %}" type="text/javascript"></script>
{% endblock %}