{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="o-liveblog-update">
    <div class="o-liveblog-update--meta">
        <div class="o-liveblog-update--meta--image">
            {% image update.author.image fill-350x350-c100 format-webp alt=update.author.full_name %}
        </div>
        <div>
            <time class="o-liveblog-update--meta--time" datetime="{{update.publish_date}}">{{update.publish_date}}</time>
            <div class="o-liveblog-update--meta--author">
            {% if update.author_alias %}
                <a href="{% pageurl update.author %}">{{update.author_alias}}</a>
            {% else %}
                <a href="{% pageurl update.author %}">{{update.author.full_name}}</a>
            {% endif %}
            </div>
        </div>
    </div>
    {% for block in update.content %}
        {% include_block block %}
    {% endfor %}
</div>