{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}

{% block stylesheet %}
    {% for style_obj in self.styles.all %}
    <link rel="stylesheet" href="{{ style_obj.style.file.url }}" type="text/css" />
    {% endfor %}
{% endblock %}

{% block content %}
    <main id="article-{{ self.slug }}" class="article">

        <article class="c-article {% if timeline %}c-article--timeline {% endif %}js-article {% block specific_article_class %}{% comment %} This block is used to override styling for the main article body (as in e.g. a full width banner article) {% endcomment %}c-article--default {% endblock %}"> <!--article-->
                           
            <!-- Article text -->
            {% for block in self.content %}
                {% include_block block with id=block.id %}
            {% endfor %}
            <!-- Content unique to the article ends here -->

        </article>
    </main>

{% endblock %}

{% block footer %}{% endblock %}

<!-- Article-specific scripts -->
{% block scripts %}
    {% for script_obj in self.scripts.all %}
        <script src="{{ script_obj.script.file.url }}" type="text/javascript"></script>
    {% endfor %}
{% endblock %}