{% extends 'ubyssey/base.html' %}
{% load static cache wagtailcore_tags ubyssey_ad_filters ubyssey_ad_tags %}
{% block head_scripts %}{% cache 6000 article_ad_tags %}{% for orderable in settings.ads.AdTagSettings.article_head_tags.all %}{% gpt_define_tag orderable.ad_slot is_mobile %}{% endfor %}{% endcache %}{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="https://use.typekit.net/xqc5jbh.css">{% if self.styles.all|length == 0 %}<link rel="stylesheet" href="{% static 'ubyssey/css/article.css' %}?v=article-redesign-mobile-11">{% else %}{% for style_obj in self.styles.all %}<link rel="stylesheet" href="{{ style_obj.css.file.url }}">{% endfor %}{% endif %}{% endblock %}
{% block header %}{% include 'article/components/redesign_nav.html' with article=self %}{% endblock %}
{% block content %}
<main id="main-content" class="ar-page ar-page--{{ self.redesign_header_layout }}">
  <article id="article-{{ self.slug }}" class="ar-article js-article">
    {% include 'article/components/redesign_hero.html' with article=self %}
    <div class="ar-reading">
      {% include 'article/objects/redesign_main_byline.html' with article=self %}
      <div class="ar-reading__layout">
        {% include 'article/objects/redesign_context_rail.html' with article=self %}
        <div class="article-content ar-body">
          {% if not self.is_explicit %}{% filter inject_ads:is_mobile %}{% for block in self.content %}{% include_block block with id=block.id %}{% endfor %}{% endfilter %}{% else %}{% for block in self.content %}{% include_block block with id=block.id %}{% endfor %}{% endif %}
          {% if self.disclaimer %}<div class="disclaimer">{{ self.disclaimer|safe }}</div>{% endif %}
          <div class="ar-context-mobile">{% include 'article/objects/redesign_context_rail.html' with article=self %}</div>
          <p class="ar-report"><a href="https://forms.ubyssey.ca/erasure">Apply for erasure</a><a href="https://forms.ubyssey.ca/tips">Send a tip</a><a href="https://forms.ubyssey.ca/errors">Report an error</a></p>
        </div>
      </div>
    </div>
    {% with suggested=self.get_suggested %}{% include 'article/objects/suggested_articles.html' %}{% endwith %}
  </article>
</main>
{% endblock %}
{% block scripts %}<script src="{% static 'ubyssey/js/article_content.js' %}?v=redesign-a38d0112"></script>{% for script_obj in self.scripts.all %}<script src="{{ script_obj.script.file.url }}"></script>{% endfor %}{% endblock %}
