{% extends 'ubyssey/base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load ubyssey_ad_filters %}
{% load ubyssey_ad_tags %}

{% block head_scripts %}
    <!-- Register ads for article page -->
    {% for orderable in settings.ads.AdTagSettings.article_head_tags.all %}
        {% gpt_define_tag orderable.ad_slot is_mobile %}
    {% endfor %}

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
{% endblock %}

{% block stylesheet %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    
    {% if self.styles.all|length == 0 %}
        <link rel="stylesheet" href="{% static 'ubyssey/css/article.css' %}" type="text/css" />
    {% else %}
        {% for style_obj in self.styles.all %}
            <link rel="stylesheet" href="{{ style_obj.css.file.url }}" type="text/css" />
        {% endfor %}
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'navigation/headers/mobile.html' %}
    {% block banner_ad %}
        <!-- Article Page header ads go here -->
        {% for orderable in settings.ads.AdTagSettings.article_header_placements.all %}
            {% gpt_placement_tag orderable.ad_slot %}
        {% endfor %}
    {% endblock %}
    {% include 'navigation/headers/topbar.html' %}
{% endblock %}

{% block content %}
    <main id="article-{{ self.slug }}" class="article">
        <article class="c-article {% if timeline %}c-article--timeline {% endif %}js-article {% block specific_article_class %}{% comment %} This block is used to override styling for the main article body (as in e.g. a full width banner article) {% endcomment %}c-article--default {% endblock %}"> <!--article-->
            <!-- Below is the Article heading, including Article headline and bylines -->
            {% block banner %}
                <div class="u-container">
                    {% comment %} {% if breaking %}
                        <a class="o-breaking-news" href="{{ breaking.get_absolute_url }}">
                            <h3>BREAKING: {{ breaking.headline|safe }}</h3>
                        </a>        
                    {% endif %} {% endcomment %}
                </div>

                <div class="u-container u-container--content u-container--padded">
                    <h1 class="o-headline o-headline--article">{{ self.title|safe }}</h1>
                    {% if self.fw_above_cut_lede %}
                        <p class="fw-description">{{ self.fw_above_cut_lede }}</p>
                    {% endif %}
                    <div class="c-article__info">
                        {% comment %}
                            {% include 'objects/social-icons.html' with article=article layout='top' %}
                        {% endcomment %}
                            
                        <div class="c-authors_info">
                            {% include "article/objects/author_bio.html" %}
                        </div>

                    </div>

                    <div class="c-authors_bio_meta">
                        <div class="c-article__byline">
                
                            <div class="c-article__byline__meta">
                                <span class="c-article__published-at">Published on {{ self.published_at|date:'N j, Y' }}</span>
                                                    
                                {% if reading_time %}
                                    <span> &nbsp;&middot;&nbsp; </span>
                                    <span class="c-article__reading-time">{{ reading_time }} min read</span>
                                {% endif %}
                
                                {% if article.subsection  %}
                                    <span> &nbsp;&middot;&nbsp; </span>
                                    <a href="{{ article.subsection.get_absolute_url }}">
                                        <span class="c-article__reading-time">{{ article.subsection.name }}</span>
                                    </a>
                                {% endif %}
                                
                            </div>

                        </div>
                    </div>
                    <div class="c-article__byline">
                        {% include 'article/objects/share_bar.html' %}
                        <span class="c-article_dark_mode">
                            {% include 'article/objects/darkmode_button.html' with id="article_page"%}
                        </span>
                    </div>
            {% endblock %}
            <!-- Below is the container for Article content -->
            <div class="u-container clearfix {% block right_column_class %}{% comment %} This block is used to override the styling of the right column (as in e.g. a full width banner article){% endcomment %}{% endblock %}">
                <!-- Below is the container for the left column article content  -->
                {% if not self.is_explicit %}
                    {% filter inject_ads:is_mobile %}
                    <div class="cell left article-content">
                        {% block pre-content %}
                        {% endblock %}
                            <!-- Content unique to the article starts here -->
                            <!-- Article featured media -->
                            {% if self.layout == 'default' %}
                                {% include "article/objects/featured_media.html" with featured_media=self.featured_media %}
                            {% endif %}
                            
                            <!-- Article text -->
                            {% for block in self.content %}
                            {% include_block block with id=block.id %}
                          {% endfor %}
                          
                          {% if self.tag_page_link %}
                              <p class="tag-link">
                                <b>See all stories on <a href="{% url 'tag-page' slug=primary_tag.slug %}">"{{ primary_tag }}"</a> and be notified through Rss
                                <a href="/tag/{{primary_tag.slug}}/rss" class="rss-feed-link" aria-label="Go to section's rss feed">
                                  <i class="fa fa-rss"></i>
                                </a></b>
                            </p>
                          {% endif %}
                          
                            <!-- Content unique to the article ends here -->
                        {% block post-content %}
                        {% endblock %}
                        
                    </div>
                    {% endfilter %}
                {% else %}
                    <div class="cell left article-content">
                    <!-- Article featured media -->
                    {% if self.layout == 'default' %}
                        {% include "article/objects/featured_media.html" with featured_media=self.featured_media %}
                    {% endif %}
                    <!-- Content unique to the article starts here -->
                    {% for block in self.content %}
                        {% include_block block with id=block.id %}
                    {% endfor %}
                    </div>
                {% endif %}
                <aside class="cell right sidebar with-spacing">

                    {% block sidebar %}
                      <div class="suggested-sidebar">
                        {% block suggested_articles %}
                  
                          {% if suggested %}
                            {% include "infinitefeed/sidebar/sidebar_section_block.html" with title=suggested.title articles=suggested.articles %}
                          {% endif %}
                  
                        {% endblock %}
                      </div>
                      {% if self.is_explicit is not True %}
                        {% for orderable in settings.ads.AdTagSettings.article_sidebar_placements.all %}
                          {% gpt_placement_tag orderable.ad_slot %}
                        {% endfor %}
                      {% else %}
                        {% comment %} {% include 'objects/replacement.html' with size='box' %} {% endcomment %}
                      {% endif %}
                      {% comment %} Suggested articles in the same Section up to 6 articles that are not itself {% endcomment %}
                    {% endblock %}
                </aside>
            {% comment %} {% include 'objects/social-icons-bottom.html' with article=article %} {% endcomment %}
        </article>
    </main>


    {% comment %} Former location of suggested/trending articles. Do not re-implement until a design contract exists {% endcomment %}
    {% comment %} <div class='bottom-banner-wrapper'>
    <div class='bottom-banner-container'>
    </div>
    </div> {% endcomment %}

{% endblock %}

<!-- Article-specific scripts -->
{% block scripts %}
    {% for script_obj in self.scripts.all %}
        <script src="{{ script_obj.script.file.url }}" type="text/javascript"></script>
    {% endfor %}
{% endblock %}