{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="image-attachment attachment {{ imageBlock.style }} {{ imageBlock.width }} setup-modal image-modal" {% if article_editable_path_prefix %}data-article-editable-path-prefix="{{ article_editable_path_prefix }}"{% endif %}>
    {% image imageBlock.image width-1000 format-webp as image %}
    {% image imageBlock.image original as ogImage %}
    {% if imageBlock.click_to_enlarge or click_to_enlarge %}
    <a class="open-modal" aria-label="Enlarge image">
    {% endif %}
    <img class="article-attachment" width="{{image.width}}" height="{{image.height}}" decoding="async" data-id="{{ image.id }}" data-caption="{{ imageBlock.caption|force_escape }}" data-credit="{{ imageBlock.credit }}" data-url="{{ image.url }}" src="{{ image.url }}" alt="{% if imageBlock.alt_text %}{{ imageBlock.alt_text }}{% else %}{{ imageBlock.caption|striptags|force_escape }}{% endif %}" />
    {% if imageBlock.click_to_enlarge or click_to_enlarge %}
    </a>
    <dialog class="modal close-modal hide js-dropdown-container">
        <div class="u-container u-container--large modal-contents">
            <div class="image-modal-image" style="background-image: url('{{ogImage.url}}')"></div>
            <button class="close-modal focus-on" aria-label="Minimize image"><ion-icon name="close-circle"></ion-icon></button>
        </div>
    </dialog>
    {% endif %}

    {% if imageBlock.caption or imageBlock.credit %}
        <div class="caption">
            <span data-article-editable-stream-field="content" data-article-editable-path="caption|block.caption" data-article-editable-mode="richtext">{% if imageBlock.caption %}{{ imageBlock.caption|safe }}{% endif %}</span> <span class="credit" data-article-editable-stream-field="content" data-article-editable-path="credit|block.credit">{% if imageBlock.credit %}{{ imageBlock.credit }}{% endif %}</span>
        </div>
    {% endif %}
</div>
