@use "../../variables";
@use "fonts";

html, body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  @media(variables.$bp-smaller-than-tablet) {
    font-size: 16px;
  }
  @media(variables.$bp-smaller-than-mobile) {
    font-size: 14px;
  }
}

body {
  font-family: fonts.$font-secondary;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.quote{
  color: variables.$color-white;
  font-family: fonts.$quote-font;
  font-size: fonts.$quote-size;
  font-weight: fonts.$quote-weight;
  line-height: 1.6rem;
}


.source{
  color: variables.$color-white;
  font-family: fonts.$credit-font;
  font-style: fonts.$credit-style;
  font-size: fonts.$credit-size;
  line-height: 1.3rem;
}