$color-home: #0073a9;
$color-adulting: #59a3ac;
$color-academics: #fbcc80;
$color-sdp: #e2beb0;
$color-vancouver: #ea8392;
$color-ubc: #002145;
.__home {
  background-color: $color-home;
}
.__academics {
  background-color: $color-academics;
}
.__vancouver {
  background-color: $color-vancouver;
}
.__sdp {
  background-color: $color-sdp;
}
.__adulting {
  background-color: $color-adulting;
}
.__ubc {
  background-color: $color-ubc;
}
