@import 'modules/variables';

main.events-page {
    display: block;
    height: 100vh;
    max-width: 15000px;
    padding: 0 2em;
    margin: 0 auto;

    font-family: noto-serif;
    font-weight: 500;

    h1, h2, h3, p {
        font-family: noto-serif;
        font-weight: 500;
    }

    .events-flex {
        display: flex;
        height: 100%;

        .events-info-container {
            position: sticky;
            top: 2em;
            width: 30%;

            margin: auto 0;
            min-height: 66vh;
        }
        .events-info {
            margin-bottom: 2em;
            max-width: 500px;
            max-height: 81vh;
            border: 0.35em solid $color-ubyssey-blue-dark;
            border-radius: 1em;

            background-color: $color-ubyssey-blue-dark;
            overflow: auto;

            h2.event-info--time {
                margin: 0.75em;
                color: white;
                text-align: center;
                font-size: 1em;
                line-height: 1em;
            }

            .events-info--content {
                position: relative;
                box-sizing: border-box;
                padding: 0.5em 10% 2em 10%;
                width: 100%;
                height: 100%;
                overflow-y: auto;
                background-color: white;
                
                h2, p {
                    color: black;
                }

                p {
                    line-height: 1.5em;
                }

                h2 {
                    text-align: center;
                }
                a {
                    border-bottom: 1px solid;
                }
            }
        }
    }
}

.events-calendar {
    width: 500px;
    max-width: 1200px;
    padding: 0 2.5% 0 4%;;
    flex-grow: 1;
}

.events-calendar--categories {
    display: flex;
    margin: 1em 0 2em 0;
    justify-content: center;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 0.25em;
            
            text-align: center;
        }
    }
}

button.events-calendar--enlarge-toggle {
    margin-left: 1em;
    border: none;
    background: none;
    line-height: 1em;
    color: var(--header_color);
}

.events-calendar--days-of-week {
    display: flex;
    justify-content: center;
    h2 {
        margin-left: 1em;
        margin-top: 0.5em;
    }
}

.day {
    width: calc(100% / 7);
    box-sizing: border-box;
}

.events-calendar--row {
    position: relative;
    display: flex;
    justify-content: center;
}

h2.events-calendar--month {
    position: absolute;
    left: -2.5em;
    margin-top: 1em;

    font-size: 1em;
    font-weight: 600;
}

div.day{
    min-height: 4em;
    padding: 1em 1em;
    font-size: 12px;


    &.past {
        background-color: #EEE;
        color: black;
        li a:hover, li a:focus {
            color: $color-ubyssey-blue;
        }
    }
    &.today {
        background-color: $color-ubyssey-blue;
        color: white;
        li a:hover, li a:focus {
            color: white;
            text-decoration: underline;
        }
    }
    &.future {
        background-color: $color-ubyssey-blue-light;
        color: black;
        li a:hover, li a:focus {
            color: $color-ubyssey-blue;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: clip;
        li {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            b {
                text-transform: lowercase;
            }
        }
    }
}

@media($bp-larger-than-phablet) {
    .events-calendar--row:first-child div.day:first-of-type {
        border-radius: 0.5em 0 0 0;
    }
    .events-calendar--row:first-child div.day:last-child {
        border-radius: 0 0.5em 0 0;
    }
    .events-calendar--row:last-child div.day:first-of-type {
        border-radius: 0 0 0 0.5em;
    }
    .events-calendar--row:last-child div.day:last-child {
        border-radius: 0 0 0.5em 0;
    }
}

.minimize-button {
    display: none;
}

button.events-calendar--number {
    color: inherit;
    background: none;
    padding: 0;
    border: none;
    border-radius: 100%;
    margin: 0;
    line-height: 1em;
    font-weight: 500;
    font-family: inherit;
    &:hover, &:focus {
        text-decoration: underline;
    }
}

.enlarged {

    .enlarge-button {
        display: none;
    }
    .minimize-button {
        display: inline;
    }
    div.day ul li {
    white-space: initial !important;
    overflow: unset !important;
    }
}

.events-slanted-image {
    position: fixed;
    width: calc(50% - 2em);
    height: 100%;
    top: 0;
    right: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    background-position-x: right;
    clip-path: polygon(33% 0px, 100% 0, 100% 100%, 0px 100%);
}

.events-calendar--rows {
    margin-bottom: 2em;
}

header.events{
    width: fit-content;
  
    .logo-area {
      margin-top: 20px;
      margin-bottom: 20px;
  
      div.top-logo {
        width: 200px;
        height: 40px;
        margin: auto;
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
      }  
    }
  
    h1.title {
        margin: 0 1em 0.5em 1em;
        font-size: 3em;
    }

    .darkmode-toggle {
      position: absolute;
      right: 1em;
      top: 1em;
    }
}

@media($bp-smaller-than-phablet) {
    main.events-page {
        padding: 0;
    }
    .events-calendar {
        padding: 0;
        width: auto;
    }
    header.events h1.title {
        margin: auto;
        text-align: center;
        font-size: 2.5em;
    }
    .events-slanted-image {
        display: none;
    }
    .events-calendar--categories {
        margin: 2em auto;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 0 0.5em;
            }
        }
    }   
    h2.events-calendar--month {
        position: relative;
        left: 0;
        text-align: center;
        font-size: 1.5em;
    }
    .events-calendar--days-of-week {
        display: none;
    }
    .events-flex, .events-calendar--row {
        flex-direction: column;
    } 
    .events-calendar--row div.day {
        min-height: 1em;
    }
    .events-calendar .day {
        width: 100%;
    }
    .events-info-container {
        display: none;
    }
    main.events-page .event-view {
        .events-calendar--rows {
            display: none;
        }
        .events-info-container {
            display: block;
            width: 100%;
            .events-info {
                margin: 0 1em 2em 1em;
                max-height: none;
            }
        }
    }
}