@use "sass:color";
@use "../../modules/fonts";
@use "../../modules/variables";

$color-today: #ff5555;

.c-calendar__banner {
  // Background
  background-image: url(../images/banners/events.svg);
}

.c-calendar__container {
  // Structure
  margin-top: 1.5rem;
}

.c-calendar__navigation {
  // Structure
  display: flex;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.c-calendar__weeks {
  // Structure
  flex: 1;

  @media(variables.$bp-larger-than-tablet) {
    // Structure
    padding-right: 2rem;
  }
}

.c-calendar__weeks__table {
  // Structure
  display: table;
  width: 100%;
}

.c-calendar__weeks__labels, .c-calendar__weeks__week {
  // Structure
  display: table-row;
}

.c-calendar__weeks__label, .c-calendar__weeks__month, .c-calendar__weeks__day {
  // Structure
  display: table-cell;
  height: 30px;
  line-height: 30px;

  // Text
  font-size: fonts.font-size(14);
  text-transform: uppercase;
  text-align: center;
  font-weight: fonts.$font-weight-semi-bold;
}

.c-calendar__weeks__label {
  // Text
  letter-spacing: 0.75px;
  color: variables.$color-text-gray-light;
}

.c-calendar__weeks__month {
  // Structure
  width: 1px;
  padding-right: 1rem;

  // Text
  text-align: left;
  font-weight: fonts.$font-weight-bold;
  letter-spacing: 0.75px;
}

.c-calendar__weeks__day {
  // Background
  background: #F2F2F2;

  // Text
  color: variables.$color-text-gray;
}

.c-calendar__weeks__day, .c-calendar__weeks__month {
  // Structure
  border-bottom: 3px solid white;
}

.c-calendar__weeks__week:hover {
  .c-calendar__weeks__month {
    // Text
    color: variables.$color-text-black;
  }

  .c-calendar__weeks__day {
    // Background
    background: color.adjust(variables.$color-ub-blue-light, $alpha: -0.25);

    // Text
    color: variables.$color-white;
  }

  .c-calendar__weeks__day--selected {
    // Background
    background: $color-today;
  }
}

.c-calendar__weeks__week:active, .c-calendar__weeks__week--selected {

  .c-calendar__weeks__day {
    // Background
    background: variables.$color-ub-blue-light;

    // Text
    color: variables.$color-white;
  }

  .c-calendar__weeks__day--selected {
    // Background
    background: $color-today;
  }
}


.c-calendar__weeks__day--selected {
  // Background
  background: $color-today;

  // Text
  color: variables.$color-white;
}

.c-calendar__info {
  // Structure
  display: none;

  @media(variables.$bp-larger-than-tablet) {
    // Structure
    display: block;
  }
}

.c-calendar__results {
  // Structure
  margin-bottom: 0.5rem;
}

.c-calendar__results__header {
  // Structure
  border-bottom: 1px solid variables.$color-border-gray-light;
  margin-bottom: 1.5rem;

  .c-heading {
    // Structure
    margin-bottom: 0.75rem;
  }
}

.c-calendar__results__list {
  @media(variables.$bp-larger-than-phablet) {
    // Structure
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.c-calendar__results__event {
  // Structure
  padding-bottom: 1.5rem;

  @media(variables.$bp-larger-than-phablet) {
    width: 50%;
  }

  @media(variables.$bp-larger-than-tablet) {
    width: 33.33%;
  }
}

.c-calendar__results__event__inner {
  // Structure
  @media(variables.$bp-larger-than-phablet) {
    height: 100%;
    padding: 0 0.5rem;
  }

  .c-event {
    // Structure
    height: 100%;
  }
}

@media(variables.$bp-larger-than-phablet) {
  .c-calendar__results__event:nth-child(2n+1) .c-calendar__results__event__inner {
    padding: 0 0.75rem 0 0;
  }

  .c-calendar__results__event:nth-child(2n+2) .c-calendar__results__event__inner {
    padding: 0 0 0 0.75rem;
  }
}

@media(variables.$bp-larger-than-tablet) {
  .c-calendar__results__event:nth-child(2n+1) .c-calendar__results__event__inner,
  .c-calendar__results__event:nth-child(2n+2) .c-calendar__results__event__inner {
    padding: 0.5rem;
  }

  .c-calendar__results__event:nth-child(3n+1) .c-calendar__results__event__inner {
    padding: 0 1rem 0 0;
  }

  .c-calendar__results__event:nth-child(3n+3) .c-calendar__results__event__inner {
    padding: 0 0 0 1rem;
    padding-right: 0;
    padding-left: 1rem;
  }
}
