@use '../../modules/fonts';
@use "../../modules/variables";

.o-events-sidebar {

    h2 {
        font-size: 1.25em;
    }
    h3 {
        font-size: 1.17em;
    }
    h2, h3 {
        font-family: fonts.$font-home-headline;
    }
    p {
        color: inherit;
    }
    .featured_event {
        &:hover * {
            color: variables.$color-ubyssey-blue;
        } 
        .featured_event__time {
            margin-block: 0;
            font-weight: 600;
            font-variation-settings: "wght" 600;
            text-decoration: underline;
        }
        .featured_event__title {
            margin-block: 0;
        }
    }
    ul {
        padding: 0.5em 0;
        margin-bottom: 0;
        list-style: none;
    }
    .see_more {
        margin-block: 0 2em;
        font-size: 0.8em;
        text-decoration: underline;
    }
}

li.o-event {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    border-left: 3px solid;
    display: -webkit-box;
    a {
        display: -webkit-box;
        height: fit-content;
        overflow: clip;
        font-variation-settings: "wght" 400;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        b {
            font-variation-settings: "wght" 700;
            font-weight: 700;
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }

    &.community {
        border-color: rgb(150,200,250);
    }
    &.entertainment {
        border-color: rgb(200,250,199)
    }
    &.sports {
        border-color: rgb(250,200,150)
    }
    &.seminar {
        border-color: rgb(199,150,200);
    }
}

.o-events-bar {
    margin: 2em auto;
    padding: 0 1em;
    display: flex;
    border-block: 1px solid;
    color: var(--contrast-color);
  
    .o-events-bar-header {
        margin-top: 0.5em;
        margin-right: 1em;
        h2 {
            margin-block: 0.5em;
            width: fit-content;
            font-family: fonts.$font-default;
            font-size: 1.17em;
            color: var(--header_color)
        }
        p {
            margin-top: 0;
            width: fit-content;
            font-size: .8em;
            text-decoration: underline;
            color: var(--contrast-color);
        }
    }
    ul {
        display: contents;
        li {
            margin: 1em;
            width: 200px;
            height: auto;
            flex-grow: 1;
        }
    }
  
    @media(variables.$bp-smaller-than-tablet) {
        margin-block: 4em;
        padding: 1.5em;
        flex-direction: column;
        ul li {
            margin: 0.5em 0;
            width: auto;
        }
    }
  
  }