.events-sidebar {
    border: 1px solid;
    padding: 0 1em;
    border-radius: 0.5em;

    h2, h3 {
        font-family: noto-serif;
        font-size: 1.17em;
    }
    p {
        color: inherit;
    }
    .featured_event {
        &:hover * {
            color: $color-ubyssey-blue;
        } 
        .featured_event__time {
            margin-block: 0;
            text-decoration: underline;
        }
        .featured_event__title {
            margin-block: 0;
        }
    }
    ul {
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 0.5em;
            display: -webkit-box;
            overflow: clip;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
    .see_more {
        font-size: 0.8em;
        text-decoration: underline;
    }
}

[color-css-theme="dark"] .events-sidebar {
    color: $color-ubyssey-blue-light;
    border-color: #5b7480;

    h2, h3 {
        color: white;
    }
}

[color-css-theme="light"] .events-sidebar {
    color: #3b3b3b;
    border-color: #c2c2c2;

    h2, h3 {
        color: #222;
    }
}