<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New CMS</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <h1>New CMS</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Last Published</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pages%}
                <tr>
                <td>
                    <a href="{% url 'new_cms:page_edit' p.id %}">
                        {{ p.title }}
                    </a>
                </td>
                <td>
                    <span>{{ p.content_type.model }}</span>
                </td>
                <td> 
                    {% if p.live %}
                    <span>Live</span>
                    {% else %}
                    <span>Draft</span>
                    {% endif %}
                </td>
                <td>
                    {% if p.last_published_at %}
                    {{ p.last_published_at|date:"M j, Y H:i" }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pages.has_other_pages %}
    <div class="pagination">
        Implement pagination here
    </div>
    {% endif %}
</body>
</html>

