{% extends "cms_base.html" %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'ubyssey/css/new_cms/content_tracker.css' %}"></link>
<script defer src="{% static 'ubyssey/js/new_cms/content_tracker.js' %}"></script>
{% endblock %}



{% block content %}

<div class="content-tracker">
<div class="main-panel">
    <div class="selection-bar" id='view-option-navbar'>
        <ul>
            <li class="selection-option selection-option-active"><a class="selection-bar-left">List</a></li>
            <li class="selection-option selection-option-inactive selection-option-disabled"><a  class="selection-bar-right">Calendar</a></li>
        </ul>

        
    </div>
    <br>

    <h1> All Articles Table </h1>

    <div id="content-table-settings">
        <span> Assigned to me
            <label class="switch filter">
                <input type="checkbox" id="show-assigned-to-me" unchecked>
                <span class="slider round"></span>
            </label>
        <span>
        <span> Show Published
            <label class="switch filter" >
                <input type="checkbox" id="show-published" unchecked>
                <span class="slider round"></span>
            </label>
        <span>
    </div>
    
    <datalist id="byline-options">
        <option>Spencer Izen</option>
        <option>Quyen Schroeder</option>
        <option>Elena Massing</option>
    </datalist>
    <datalist id="beat-options">
        <option value="AMS">AMS</option>
        <option value="Senate">Senate</option>
        <option value="Community">Community</option>
        <option value="Theatre">Theatre</option>
    </datalist>
    

    <table class="content-table">
        <thead>
            <tr class="table-header">
                <th class="slug-header">Slug</th>
                <th class="byline-header">Byline</th>
                <th class="deadline-header">Deadline</th>
                <th class="beat-header">Beat</th>
                <th class="status-header">Status</th>
                <th class="visuals-header">Visuals</th>
                <th class="media-header">Media</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pages%}
            <tr class="content-row" id="content-row-{{ p.id }}">
            <td class="slug-cell">
                <a class="slug-link" href="{% url 'new_cms:manuscript_editor' p.id %}">
                    {{ p.title }}
                </a>
                <button class="edit-icon" id="edit-icon-{{ p.id }}">✎</button>
                <button class="preview-icon" id="preview-icon-{{ p.id }}">👁️</button>
            </td>
            <td id="byline-cell">
                <input name="byline-options" class="byline-field" id="byline-field-{{ p.id }}" type="text" autocomplete="on" list="byline-options" value="{{p.authors_string}}"/> 
                {% comment %} make this multi select and also make the authors separate {% endcomment %}
            </td>
            <td><input type="date"/></td>
            <td><select class="beat-field" id="beat-field-{{ p.id }}" value="{{p.get_primary_topic}}">
                <option value="AMS">AMS</option>
        <option value="Senate">Senate</option>
        <option value="Community">Community</option>
        <option value="Theatre">Theatre</option>
            </select>

            {{p.get_primary_topic}}

            </td>
            <td class="status-cell"> 

                <select class="status-field" id="status-field-{{ p.id }}" 
                    {% if p.live %}
                        disabled
                    {% endif %}
                    name="status">
                    <option value="assigned"
                    {% if not p.live %}
                    selected
                    {% endif %}
                    >Assigned</option>
                    <option value="filed">Filed</option>
                    <option value="editing">Editing</option>
                    <option value="copy">Copy</option>
                    <option value="ready">Ready</option>
                    <option value="published" 
                    {% if p.live %}
                    selected
                    {% endif %}
                    disabled
                    >Published</option>
                </select>
            </td>
            <td class="visuals-cell">❗️</td>
            <td class="media-cell">❗️</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if pages.has_other_pages %}
<div class="pagination">
    Implement pagination here
</div>
{% endif %}
<div class="metadata-resize-handle" data-metadata-resize-handle role="separator" aria-orientation="vertical" aria-label="Resize metadata sidebar"></div>

    <aside class="metadata-editor" data-metadata-editor>
        <div id="metadata-options">
            <div class="selection-bar" id="metadata-panel-select">
                <ul>
                    <li class="selection-option selection-option-active sidebar-nav" id="metadata-selection-create"><a class="selection-bar-left metadata-nav-button" name="create">Create</a></li>
                    <li class="selection-option selection-option-inactive sidebar-nav selection-option-disabled" id="metadata-selection-edit"><a class="metadata-nav-button" name="edit">Edit</a></li>
                    <li class="selection-option selection-option-inactive sidebar-nav selection-option-disabled" id="metadata-selection-preview"><a  class="selection-bar-right metadata-nav-button" name="preview">Preview</a></li>
                </ul>
            <div>
        </div>
        <div>
        <div id="metadata-selection-preview-pane" hidden>
            <iframe id="article-preview-pane" src="http://localhost:8000/admin/pages/19/edit/preview/" class="draft-preview">
            </iframe>
        </div>

        <div id="metadata-selection-create-pane">
            <h2>Create

        </div>
        <div id="metadata-selection-edit-pane" hidden>
            <h2>Edit
        </div>
    </div>
    </aside>
</div>
</div>
{% endblock %}

