{% extends "cms_base.html" %}
{% load static %}

{# Add new head block to replace stylesheet #}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'new_cms/editor.css' %}"></link>
<script defer src="{% static 'new_cms/editor_bundle.js' %}"></script>
{% endblock %}

{% block content %}

{{ block_registry|json_script:"block-registry" }}
{{ editor_data|json_script:"editor-data" }}
{{ editor_errors|json_script:"editor-errors" }}

<!-- <textarea rows="40" style="width: 100%; font-family: monospace;" readonly>
{{ block_registry|pprint }}
</textarea>-->

<a href="{% url 'new_cms:index' %}">All Pages</a>
<h1>{{ page.title }}</h1>

<form method="post" data-manuscript-form class="manuscript-editor-form" id="manuscript-editor-form">
  {% csrf_token %}

  <label for="id_title">Title</label>
  <input type="text" id="id_title" name="title" value="{{ page.title }}" required>

  <label for="id_slug">Slug</label>
  <input type="text" id="id_slug" name="slug" value="{{ page.slug }}" required>

  <label for="id_lede">Lede</label>
  <input type="text" id="id_lede" name="lede" value="{{ page.lede }}">

  {% for field_name, json_str in stream_data.items %}
    <section class="editor-section">
      <h3>StreamField: {{ field_name }}</h3>

      <div class="editor-wrapper" data-stream-editor="{{ field_name }}"></div>

      <details class="stream-json">
        <summary>Streamfield JSON</summary>
        <textarea
          id="stream_{{ field_name }}"
          name="stream_{{ field_name }}"
          data-stream-json
          data-stream-field="{{ field_name }}"
          rows="18"
          cols="100"
        >{{ json_str }}</textarea>
      </details>
    </section>
  {% endfor %}

  <div class="manuscript-actions">
    <button type="submit" name="action" value="publish">
      Save &amp; Publish
    </button>

    <button type="submit" name="action" value="draft">
      Save as Draft
    </button>
  </div>
</form>

{% if page.live %}
<p>Status: Live</p>
{% else %}
<p>Status: Draft</p>
{% endif %}

{% if page.last_published_at %}
<p>Last Published: {{ page.last_published_at|date:"M j, Y H:i"}}</p>
{% endif %}

<a href="{{ page.url }}">View Live</a>
{% endblock %}
