{% extends "wagtailadmin/generic/base.html" %}
{% load static %}
{% load i18n wagtailadmin_tags %}
{% load wagtailcore_tags %} 
{% block bodyclass %}editor-view{% endblock %}

{% block main_header %}
    {% if breadcrumbs_items %}
        <div class="nice-padding w-mt-8">
            <h2 class="w-relative w-h1" id="header-title">
                {% if header_icon %}
                    {% icon classname="w-absolute w-top-1 -w-left-11 w-max-w-[1em] w-max-h-[1em]" name=header_icon %}
                {% endif %}
                {{ page_subtitle|default:page_title }}
            </h2>
        </div>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block main_content %}
    <div id="liveblog"></div>

    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ self.id|json_script:"room-name" }}

    <form
        id="w-editor-form"
        action="{{ action_url }}"
        method="POST"
        novalidate
        {% if form_is_multipart or form.is_multipart %} enctype="multipart/form-data"{% endif %}
        data-edit-form
        data-controller="w-unsaved"
        data-action="w-unsaved#submit beforeunload@window->w-unsaved#confirm change->w-unsaved#check keyup->w-unsaved#check"
        data-w-unsaved-confirmation-value="true"
        data-w-unsaved-force-value="{{ has_unsaved_changes|yesno:'true,false' }}"
        data-w-unsaved-watch-value="edits"
    >
        {% csrf_token %}
        {{ panel.render_form_content|safe }}
    </form>
        <button id="publish_update">Publish update</button>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/liveblog/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#liveblog').innerHTML += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

        function formDataToQuery(form) {
            const formObject = Object.fromEntries(form);
            return Object.keys(formObject).map((k) => k + "=" + formObject[k]).join("&");
        }

        document.getElementById("publish_update").addEventListener("click", async () => {
            const form = new FormData(document.getElementById("w-editor-form"));
            const response = await fetch("{{ action_url }}", {
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                method: "POST",
                body: formDataToQuery(form),
            });

        });
    </script>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ media.js }}
    {% if edit_handler_data %}{{ edit_handler_data|json_script:"w-edit-handler-data" }}{% endif %}
    {% include "wagtailadmin/pages/_editor_js.html" %}     
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {{ media.css }}
{% endblock %}