@use "../../variables";
@use "fonts";

.c-heading {

  &--main {
    font-family: fonts.$font-default;
    font-size: 2.5em;
    color: variables.$color-white;
    margin-bottom: 7px;
    line-height: 1.25em;

    @media(variables.$bp-larger-than-desktop) {
      font-size: 3.5em;
    }
  }

  &--subheading {
    font-family: fonts.$font-secondary;
    font-weight: 200;
    color: variables.$color-white;
    letter-spacing: 0.5px;
    line-height: 1.25em;

    font-size: 1.15em;

    margin-bottom: 25px;

    @media(variables.$bp-larger-than-phablet) {
      margin-bottom: 0;
    }

    @media(variables.$bp-larger-than-desktop) {
      font-size: 1.33em;
    }
  }

}
