{% load static %}
{% load menu_tags %}

<header class="main">
  <div class="u-container u-container--mid">
    <div class="branding row">
      <div class="middle">
        <img class="top-logo light-logo" src="{% static 'ubyssey/images/logos/ubyssey-logo-blue-light.svg' %}" alt="The Ubyssey logo"/>
        <img class="top-logo dark-logo" src="{% static 'ubyssey/images/logos/ubyssey-logo-blue-dark.svg' %}" alt="The Ubyssey logo"/>
      </div>
      <div class="right">
        <p class="since-line">
          {% if tagline_url %}
            <a href="{{tagline_url}}">{% if tagline %}{{tagline}}{% else %}!{% endif %}</a>
          {% else %}
            {% if tagline %}{{tagline}}{% endif %}
          {% endif %}
        </p>

        <p>
          {% now "F d, Y" as date %}
          {% now "l" as dayOfWeek %}
          {{date}} <b>{{dayOfWeek}}</b>
        </p>       

        <div>
          <a class = "rss-icon" href="/rss" target="_blank" title="The Ubyssey rss feed"><ion-icon name="logo-rss"></ion-icon></a>

          <a class="bluesky-icon" href="https://bsky.app/profile/ubyssey.bsky.social" target="_blank" title="The Ubyssey on Bluesky">
            <svg viewBox="0 0 600 530" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <path d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"/>
            </svg>
          </a>

          <a class = "facebook-icon" href="https://www.facebook.com/ubyssey" target="_blank" title="The Ubyssey on Facebook"><ion-icon name="logo-facebook"></ion-icon></a>
          <a class = "instagram-icon" href="https://www.instagram.com/ubyssey/" target="_blank" title="The Ubyssey on Instagram"><ion-icon name="logo-instagram"></ion-icon></a>
          <a class = "twitter-icon" href="https://twitter.com/Ubyssey" target="_blank" title="The Ubyssey on Twitter"><ion-icon name="logo-twitter"></ion-icon></a>

          {% include 'article/objects/darkmode_button.html' with id="main"%}
        </div>
        {% comment %} <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a> {% endcomment %}
      </div>
    </div>
    <nav class="main row">
      <div class="left meta">
          {% flat_menu 'left_header_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
      </div>
      <div class="middle sections">
        {% main_menu %}
        <div class="dropdown">
          <a class="more-dropdown preventDefault" href="#">MORE <ion-icon name="caret-down" class="dropdown-hidden"></ion-icon><ion-icon class="dropdown-show" name="caret-up"></ion-icon></a>
          <div class="more-list dropdown-content">
            <ul>
              {% flat_menu 'dropdown_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
            </ul>
          </div>
        </div>
      </div>
      <div class="right meta">
          {% flat_menu 'right_header_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
      </div>
    </nav>
</div>
</header>
