{% load static %}
{% load menu_tags %}

<header class="main">
  <div class="u-container u-container--mid">
    <div class="branding row">
      <div class="left"><span class="since-line">
        {% if tagline_url %}
          <a href="{{tagline_url}}">{% if tagline %}{{tagline}}{% else %}!{% endif %}</a>
        {% else %}
          {% if tagline %}{{tagline}}{% endif %}
        {% endif %}
      </span></div>
      <div class="middle">
        <img class="top-logo light-logo" src="{% static 'ubyssey/images/ubyssey-logo-small.svg' %}" alt=""/>
        <img class="top-logo dark-logo" src="{% static 'ubyssey/images/ubyssey-logo 1.svg' %}" alt=""/>
      </div>
      <div class="right">
        <!-- <a class="store-link" href="https://store.ubyssey.ca/">
          <i class="fa fa-shopping-bag"></i><span>Store</span>
        </a> -->
        {% comment %} <a class="o-snapchat-icon"><i class="fa fa-snapchat"></i><div class="o-snapchat-icon__code"></div></a> {% endcomment %}
        <a title="Rss" class = "rss-icon" href="/rss" target="_blank"><i class="fa fa-rss"></i></a>
        <a title="Instagram" class = "instagram-icon" href="https://www.instagram.com/ubyssey/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a title="Mastodon" class = "mastodon-icon" href="https://mstdn.ca/@ubyssey" target="_blank" rel="me"><i class="fa-brands fa-mastodon"></i></a>
        <a title="Tiktok" class = "tiktok-icon" href="https://www.tiktok.com/@ubyssey" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        <a title="X" class = "twitter-icon" href="https://twitter.com/Ubyssey" target="_blank"><i class="fa fa-twitter"></i></a>
        <a title="Facebook" class = "facebook-icon" href="https://www.facebook.com/ubyssey" target="_blank"><i class="fa fa-facebook-square"></i></a>
        
        {% include 'article/objects/darkmode_button.html' with id="main"%}
        {% comment %} <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a> {% endcomment %}
      </div>
    </div>
    <nav class="main row">
      <div class="left">
        <ul class="meta">
          {% flat_menu 'left_header_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
        </ul> 
      </div>
      <div class="middle">
        <ul class="sections">
          {% main_menu %}
          <li class="dropdown">
            <a class="more-dropdown preventDefault" href="#">MORE <i class="dropdown-hidden fa-solid fa-caret-down"></i><i class="dropdown-show fa-solid fa-caret-up"></i></a>
            <div class="more-list dropdown-content">
              <ul>
                {% flat_menu 'dropdown_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="meta">
          {% flat_menu 'right_header_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
        </ul>
      </div>
    </nav>
</div>
</header>
