{% load static %}
{% load cache %}
{% load menu_tags %}

<header class="mobile">
    <script src="{% static 'ubyssey/js/darkmode.js' %}" type="text/javascript"></script>
    <a class="menu left" href="#"><i class="fa fa-bars"></i></a>
    <a class="logo" href="{% url 'wagtail_serve' '' %}"><img src="{% static 'ubyssey/images/ubyssey-logo-small.svg' %}" alt=""></a>
    {% comment %} <a class="search right" href="{% url 'search' %}"><i class="fa fa-search"></i></a> {% endcomment %}
</header>
<div id="header-mobile-spacer{% if class %}--{{ class }}{% endif %}"></div>
<nav class="mobile">
    <div class="left">
        <h2>Sections</h2>
        <ul class="sections">
            {% main_menu %}
            {% comment %} {% for menu_item in settings.navigation.SitewideMenus.main_header_menu.all %}
=                <li><a href="{{ menu_item.link }}">{{ menu_item.text }}</a></li>
            {% endfor %} {% endcomment %}
        </ul>
    </div>
    <div class="right">
        <h2>Links</h2>
        <ul class="links">
            {% flat_menu 'mobile_links_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
        </ul>
    </div>
    <meta name="color-scheme" content="light">
    <button onclick="DarkModeToggle()" class="dark-mode-switcher">
      <svg width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496"><path fill="currentColor" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)"/></svg>
    </button>
</nav>


