{% comment %} 
    Uses wagtailmenus to render menu
{% endcomment %}
{% load static %}
{% load cache %}
{% load menu_tags %}

<header class="topbar header-site dark-mode">
    <div class="u-container u-container-topbar">
        <a class="home-link" href="{% url 'wagtail_serve' '' %}" title="The Ubyssey homepage" >
            <div class="logo ubyssey_small_logo light-logo" style="background-image: url('{% static 'ubyssey/images/ubyssey-logo-small.svg' %}')" alt="Ubyssey logo"></div>
            <div class="logo ubyssey_small_logo dark-logo"  style="background-image: url('{% static 'ubyssey/images/ubyssey-logo 1.svg' %}')" alt="Ubyssey logo"></div>
        </a>
        <nav>
            {% main_menu show_multiple_levels=False apply_active_classes=True %}
        </nav>
        <div class="right">
            {% include 'article/objects/darkmode_button.html' with id="topbar" %}
        </div>
        {% comment %} <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a> {% endcomment %}
    </div>

</header>