{% load static %}
{% load menu_tags %}

<header class="visual-essay">
  <div class="u-container">
    <div class="logo-area">
      <a class="home-link" href="{% url 'wagtail_serve' '' %}">
        <img class="top-logo ubyssey_small_logo light-logo" src="{% static 'ubyssey/images/ubyssey-logo-small.svg' %}" alt=""/>
        <img class="top-logo ubyssey_small_logo dark-logo" src="{% static 'ubyssey/images/ubyssey-logo 1.svg' %}" alt=""/>
    </a>
    </div>
    <nav class="visual-essay row">
      <ul class="sections">
        {% main_menu %}
      </ul>
    </nav>
</div>
</header>
