{% extends 'ubyssey/base.html' %}
{% comment %} //load in static {% endcomment %}
{% load static %}
{% comment %} // block of content for actual page {% endcomment %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block header %}
{% include 'navigation/headers/topbar.html' %}
{% include 'navigation/headers/mobile.html' %}
{% endblock %}

{% block content %}
<main class="404">
    <div class="u-container u-container--padded">
        <div id="content">
            <div class="container">
                <h1 class="h1-404">404</h1>
                <h2 class="h2-404">Page Not Found</h2>
                <p class="error-message-404">The page you have searched is not available.</p>
                <p class="error-message-404">Questions? Contact EMAIL: <a class="email-link"
                        href="mailto:webmaster@ubyssey.ca">webmaster@ubyssey.ca</a></p>
                <p class="load-articles"></p>
            </div>
            <div id="feed"></div>
            <script src="{% static 'ubyssey/js/error_page.js' %}" type="text/javascript"></script>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}