{% extends 'ubyssey/base.html' %}
{% comment %} //load in static {% endcomment %}
{% load static %}
{% comment %} // block of content for actual page {% endcomment %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block header %}
{% include 'navigation/headers/topbar.html' %}
{% include 'navigation/headers/mobile.html' %}
{% endblock %}

{% block content %}
<main class="404">
    <div class="u-container u-container--padded">
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
            }

            body {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Noto Sans', 'Helvetica Neue', sans-serif;
                background-color: #f9f9f9;
                color: #333;
            }

            .container {
                text-align: center;
                transform: scale(0.25);
                margin-top: -170px;

            }

            h1 {
                font-size: 30vw;
                margin: 0;
            }

            h2 {
                font-size: 5vw;
                margin: 0.5em 0;
            }

            p.error-message {
                font-size: 2vw;
                margin: 0.5em 0;
            }

            a {
                color: blue;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
            p.load-articles{
                font-size: 5vw; 
                margin-top: 100px; 

            }
        </style>
        <div class="container">
            <h1>404</h1>
            <h2>Page Not Found</h2>
            <p class="error-message">The page you have searched is not available.</p>
            <p class="error-message">Questions? Contact EMAIL: <a href="mailto:webmaster@laysvcva.ca">webmaster@laysvcva.ca</a></p>
            <p class="load-articles">Is this what you were looking for?</p>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}