@use "../../variables";

.c-nav-footer {
    margin-top: 30px;
    display: flex;
    @media (variables.$bp-smaller-than-mobile) {
      display: block;
    }
    flex-wrap: wrap;
    align-items: stretch;
  }
  