@use "../../variables";

.c-nav-footer {
    margin-top: 30px;
    display: flex;

    flex-wrap: wrap;
    align-items: stretch;

    @media (variables.$bp-smaller-than-mobile) {
      display: block;
    }
  }
  