main {
    .content {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em !important;
        .c-content-tracker {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .c-content-tracker--upper {
            display: flex;
            flex-grow: 1;            
            resize: vertical;
            overflow: auto;
            .c-content-tracker--data {
                margin: 0.25em;
                min-width: 200px;
                resize: horizontal;
                overflow: auto;
                flex-shrink: 0;
            }
            .c-content-tracker--viewed {
                flex-grow: 1;
                .c-content-tracker--viewed-img {
                    margin: auto;
                    max-width: 500px;
                    img {
                        width: 100%;
                        height: auto;
                        aspect-ratio: 3/2;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    
    .c-content-tracker--timeline-container {
        --label-width: 100px;
        position: relative;
        .c-content-tracker--labels-background {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: var(--label-width);
            border-right: 1px solid var(--w-color-border-field-default);
            background: var(--w-color-grey-100);
        }

        .c-content-tracker--timeline {
            overflow: auto;
            background: var(--w-color-grey-100);
            table {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                background: var(--w-color-grey-100);
                
                td {
                    vertical-align: top;
                }
                .c-content-tracker--sections {
                    flex-grow: 1;
                    border-bottom: 1px solid var(--w-color-border-field-default);
                }
                .c-content-tracker--labels {
                    padding-left: 1em;
                    position: absolute;
                    width: var(--label-width);
                    border-right: 1px solid var(--w-color-border-field-default);
                    background: var(--w-color-grey-100);
                    z-index: 100;
                }
                .c-content-tracker--gap {
                    min-width: calc(var(--label-width) + 1em);
                }
                th {
                    padding-left: 0.5em;
                    min-width: 5em;
                    border-left: 1px solid var(--w-color-border-field-default);
                    text-align: left;
                }
                .c-content-tracker--timeline-articles-container {
                    max-height: 100px;
                    overflow-y: auto;
                }
            }
        }
    }
}


.o-content-tracker--timeline-article {
    margin: 0.25em 0;
    padding: 0.5em;
    border-radius: 0.5em;
    max-width: 200px;
    position: relative;

    color: white;
    background: var(--section);

    cursor: pointer;

    a {
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
    }

    .o-content-tracker--timeline-article--hover-info {
        position: absolute;
        right: calc(100% + 1em);
        bottom: 0;
        z-index: 100;

        display: none;
        width: 7em;

        img {
            width: 100%;
            height: auto;
        }
    }

    &:hover, &:focus {
        .o-content-tracker--timeline-article--hover-info {
            display: block;
        }
    }

    &.news {
        --section: #d7494a;
    }
    &.opinion {
        --section: #4f3e78;
    }
    &.humour, &.blog {
        --section: #ee6a2d;
    }
    &.sports {
        --section: #e7a942;
    }
    &.features {
        --section: #5c0029;
    }
    &.research, &.science {
        --section: #36bbb9;
    }
    &.photo {
        --section: #5b8e7d;
    }
    &.culture {
         --section: #0b4a44;
    }

    .o-content-tracker--timeline-article--headline {
        overflow: clip;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}