@import 'modules/reset';
@import 'modules/_variables.scss';

@import 'modules/article/embeds';
@import 'modules/advertisements';

@import 'modules/guide/2020/fonts';
@import 'modules/guide/2020/colors';
@import 'modules/guide/2023/fonts';

@import 'modules/guide/2020/base';
@import 'modules/guide/2020/objects';
@import 'modules/guide/2020/banner';
@import 'modules/guide/2020/footer';

@import 'modules/guide/2020/header';
// Pages
@import 'modules/guide/2020/homepage';
@import 'modules/guide/2020/article';
@import 'modules/guide/2020/section';

@import 'modules/guide/2022/objects';

@import 'modules/guide/2022/banner';

@import 'modules/guide/2022/footer';
@import 'modules/guide/2023/footer';

@import 'modules/guide/2022/header';
@import 'modules/guide/2023/article-box';


@import 'modules/guide/2022/homepage';
@import 'modules/guide/2022/article';
@import 'modules/guide/2022/section';


