@use 'modules/_variables.scss';
@use 'modules/_fonts.scss' as fonts2;

@use 'modules/magazine/2024/fonts';

@use 'modules/magazine/2024/objects';
@use 'modules/magazine/2023/card';

@use 'modules/magazine/2024/banner';

@use 'modules/magazine/2024/footer';
@use 'modules/magazine/2023/header';
@use 'modules/magazine/2024/article-box';

@use 'modules/magazine/2024/homepage';
@use 'modules/magazine/2024/article';
  
body {
  color: black;
  margin: 0;
}

 h2 , h3 , h4, p {
    margin: 1rem;
}

.c-header a{
  font-family: fonts.$header-font;

}

.u-container--small{
  max-width: 890px;
}

.next_article{
  color: black;

}

.next_article_container{
  display: flex;
  justify-content: flex-end;
  align-items: right;
}
