@import 'modules/core';
@import 'modules/grid';
@import 'modules/fonts';
@import 'modules/font_faces';
@import 'modules/advertisements';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/utilities';

// Ubyssey site-specific files

@import 'modules/header';
@import 'modules/footer';

@import 'modules/headlines';
@import 'modules/buttons';

@import 'modules/darkmode';  

@import 'modules/homepage';

@import 'modules/article/base';
@import 'modules/article/embeds';
@import 'modules/article/comments_bar';
@import 'modules/article/gallery';
@import 'modules/article/full_width';
@import 'modules/article/sidebar';
@import 'modules/social';
@import 'modules/search';

@import 'objects/article';
@import 'objects/inputs';
@import 'objects/archive';
@import 'objects/bottom_banner';


@import 'components/adblock-splash';
@import 'components/author-page';
@import 'components/button';
@import 'components/cookie-disclaimer';
@import 'components/elections-sidebar';
@import 'components/replacement';
@import 'components/section-page';
@import 'components/suggested-articles';
@import 'components/form';
@import 'components/header-banner';
@import 'components/heading';
@import 'components/info-box';
@import 'components/input-group';
@import 'components/page';
@import 'components/paragraph';
@import 'components/poll';
@import 'components/text-input';
@import 'components/podcast';
@import 'components/loading';
@import 'components/infinitefeed';

@import 'components/events/calendar';
@import 'components/events/event-submit-form';
@import 'components/events/event-submit-landing';
@import 'components/events/related-events';
@import 'components/timeline';
@import 'components/nationals';

@import 'modules/events/calendar';
@import 'modules/events/event';
@import 'modules/events/date_box';

@import 'modules/widgets/event';
@import 'modules/widgets/upcoming_events';
@import 'modules/widgets/upcoming_events_horizontal';
@import 'modules/widgets/facebook_video_big';
@import 'modules/widgets/banner';
@import 'modules/widgets/weekly-events';
@import 'modules/widgets/twitter';

html.lightmode {
  --background-nav: rgba(255, 255, 255, 0.99);
  --background: rgba(255, 255, 255, 0.99);
  --nav-mobile-background-barely-transparent: rgba(249, 249, 249, 0.99); 
  --nav-h3-color: #5D5D5D;
  --nav-span-color: #33331E;
  --nav-headline-h1: #373737;
  --three-bar-logo-color: #303030;
  --text_color: #1b1b1b;
  --authors-title-bio: #1B1B1B;

  .dark-logo {
    display: none;
  }
  .light-logo {
    display: inline;
  }
}

html.darkmode {
  --background-nav: #031723;
  --background: #031621;
  --nav-mobile-background-barely-transparent: #031723;
  --nav-h3-color: #EFEFEF;
  --nav-span-color: #EFEFEF;
  --nav-headline-h1: #5D5D5D;
  --three-bar-logo-color: #EFEFEF;
  --text_color: #D9D9D9;
  --authors-title-bio: #D8D8D8;
  background-color: #121212;

  .dark-logo {
    display: inline;
  }
  .light-logo {
    display: none;
  }
}

body, html, #page-wrapper {
  max-height: 100%;
  height: 100%;

  @media screen {
  
  }
}

#page-wrapper {
  @media screen {
    display: flex;
    flex-direction: column;

  }
}

#modal {
  position: absolute;
  display: none;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#content-wrapper {
  background-color: var(--background);
  transition: background 0.5s ease, color 0.5s ease;
  -webkit-overflow-scrolling: touch;
}

span.upper-right-decorator {
  color: $color-ub-blue-light;
  font-size: .8em;
  position: relative;
  top: -.8em;
  font-family: $font-default;
  text-transform: capitalize;
}
div.image-container {
    height: 100%;
    display: table;
    margin: 0 auto;
    width: 100%;
}

div.image-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

p.slide-caption {
    font-family: $font-default;
    font-size: 13px;
    color: #fff;
    line-height: 19px;
}

p.slide-credit {
		font-family: $font-default;
		font-size: 13px;
		color: #9c9c9c;
		font-style: italic;
}

span.credit {
  font-style: italic;
  color: #969696;
}

img.article-attachment:hover {
    cursor: pointer;
}

img.slide-image {
    max-width: 100%;
}

div.navigation {
    color: white;
    font-family: $font-secondary;
    font-size: 13px;
    text-align: center;
}

div.navigation a {
    display: inline-block;
    padding: 6px 9px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
}

div.navigation a:hover {
    color: black;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
}

a.image {
  display: block;
  margin-bottom: 15px;
  img {
    display: block;
  }
  @media($bp-larger-than-phablet){
    margin-bottom: 0;
  }
}

.hide {
	display: none;
}

.show {
	display: block;
}
/* Restoring browsering effects */

.floating-share-buttons {
  size: 4px;
}

