//$accent-colour: #995fd3;
$accent-colour: #b7b7b7;

body {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
}

article > div > * {
    max-width: 1000px;
    padding-inline: 1em;
    margin: 2em auto;

    text-align: center;
}

.cover-screen > * {
    margin: 1em auto;
    padding-inline: 1em;
}

.cover-screen ul {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    li {
        margin: 1em;
    }
}

.publishDate {
    width: 100%;
    padding-left: 2em;
    width: fit-content;
    font-style: italic;
    box-sizing: border-box;
}

.lede {
    font-weight: 600;
}

.cover {
    h1 {
        padding-inline: 1em;
        max-width: 600px;
        font-size: 1.75em;
        font-weight: 500;
        line-height: 1.2em;
    }
    p {
        max-width: 800px;
        width: fit-content;
        margin: 0;
        margin-bottom: 0.5em;
        padding-left: 2em;
        font-family: "Montserrat", sans-serif;
        background-color: black;
    }
    .byline {
        margin: 1em auto 1em 10%;
    }
    header {
        margin: 0;
        text-align: left;
        max-width: none;
        padding: 0;
        @media only screen and (max-width: 800px) {
            background-size: cover;
            background-image: url("https://storage.googleapis.com/ubyssey/media/renditions/i_janmohamed_elena_cover-resized.original.jpg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    @media only screen and (min-width: 800px) {
        background-size: contain;
        background-image: url('https://storage.googleapis.com/ubyssey/media/renditions/i_janmohamed_elena_cover-resized.original.jpg');
        background-position: top;
        background-repeat: no-repeat;
        h1 {
            margin: 1em 40% 1em 10%;
            font-size: 2em;
        }
        .lede {
            margin: 0 auto 2em 35%;
            transform: rotate(-1deg);
        }
        p {
            margin: 1em auto 0 10%;
        }
    }
}

.end {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: underline;
        color: white;
        border: none;
    }
}

article > div > p, .cover-screen > p {
    max-width: 700px;

    color: #ccc;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    line-height: 1.75em;
}

article > div > ul {
    max-width: 600px;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
} 
article > div > ul li {
    margin: 1em 0;
    text-align: left;
}

a {
    color: $accent-colour;
    border-bottom: solid 2px;
    text-decoration: none;
    font-weight: 600;
}

.logo {
    color: #eee;
    text-align: center;
    padding-inline: 1em;
    margin: 1em auto;
    a {
        border: none;
    }
    * {
        margin: 0 auto;
    }
}

.footer-logo {
    padding-right: 7%;
}

.warning {
    margin-top: 2em;
    @media only screen and (min-width: 800px) {
        font-size: 0.8em;
    }
}

div.quote {
    font-family: "Oswald", sans-serif;
    margin: auto;
    font-size: 2em;
    line-height: 1.5em;
    color: white;
    @media only screen and (min-width: 800px) {
        font-size: 2.5em;
    }
}

.cover-screen {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;

    font-family: "Montserrat", sans-serif;
    color: #ddd;
    text-align: left;
    line-height: 1.5em;
    //font-size: 0.9em;
    //line-height: 1.5em;
    //@media only screen and (min-width: 800px) {
    //    font-size: 1.5em;
    //}
}

.fade-in-out {
    opacity: 0;
    transition-duration: 1.5s;
}
@media print {
    .fade-in-out {
        opacity: 1;
    }
}

.fade-in-out.visible {
    opacity: 1;
}

.pull-quote {
    margin: 0.5em;
    margin-left: calc(50vw - 600px);
    padding: 1em;
    
    max-width: 400px;
    background-color: $accent-colour;
    color: black;
    float: left;
    font-size: 1.75em;

    @media only screen and (max-width: 1200px) {
        display: none;
    }

    .attribution {
        font-size: 0.8em;
    }
}

span.quote {
    //font-family: "Roboto", system-ui;
    //font-weight: 600;
    //color: white;
}

p.dropcap:first-letter {
    margin-top: 0.1em;
    float: left;
    font-size: 4em;
    font-weight: 600;
    //line-height: 4em;
    height: 0.7em;
    padding-right: 10px;
}
p.dropcap:first-line {
    font-weight: 600;
}

p.dropcap {
    margin-top: 5em;
    max-width: 800px;

    color: white;
    @media only screen and (min-width: 800px) {
        font-size: 1.2em;
    }
}