@import 'modules/_variables.scss';
@import 'modules/_fonts.scss';

@import 'modules/spoof/2024/fonts';

@import 'modules/spoof/2024/objects';
@import 'modules/magazine/2023/card';

@import 'modules/magazine/2023/banner';

@import 'modules/spoof/2024/footer';
@import 'modules/magazine/2023/header';
@import 'modules/magazine/2023/article-box';

@import 'modules/magazine/2023/homepage';
@import 'modules/spoof/2024/article';

@import 'modules/spoof/2024/spoofcard';
@import 'modules/spoof/2024/spoofcarousel';
@import 'modules/spoof/2024/spoofstreams';

body {
  color: black;
  font-family: $font-default;
}


dialog {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  max-width: none;
  max-height: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

  background: transparent;
  border: none;

  a.close-modal {
    position: absolute;
    right: 5em;
    top: 1em;
    color: white;
  }

  .modal-contents {
    height: 100%;
    padding: 1em;
    max-width: 1200px;
    margin: auto;
  }

  .image-modal-image {
    width: 100%;
    height: 100%;
  }
}

.modal {
  height: unset;
}

.show {
  display: block;
}

 h2 , h3 , h4, p {
    margin: 1rem;
}

.c-header a{
  font-family: $header-font;

}

.c-header a{
  color: black;

}

.u-container--small{
  max-width: 890px;
}

.next_article{
  color: black;

}

.next_article_container{
  display: flex;
  justify-content: flex-end;
  align-items: right;
}

#custom-tooltip {
  display: none;
  margin-left: 40px;
  padding: 5px 8px;
  background-color: #3490d6;
  border-radius: 4px;
  color: #fff;
}

.visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}

.c-share_space {
  padding-right: 1em;
}