{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="o-profile_cell">
    {% if self.image %}
    <div class="o-profile_cell--left">
        {% if self.article %}
        <a href="{% pageurl self.article %}">
        {% endif %}
            {% for image in self.image %}
                {% image image.image width-200 format-webp loading="lazy" class="o-profile_cell--image" alt=image.alt %}            
            {% endfor %}
        {% if self.article %}
        </a>
        {% endif %}
    </div>
    {% endif %}
    <div class="o-profile_cell--right">
        {{self.text|safe}}
    </div>
</div>