{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if self.audio %}
<audio id="a{{group_id}}{{item_id}}{{cell_id}}">
    <source src="{{self.audio.url}}" type="audio/{{self.format}}">
</audio>
{% endif %}

<div class="o-profile_quote_cell">
    <div class="o-profile_quote_cell--quote-container">
        <blockquote class="o-profile_quote_cell--quote {{self.style}}">{{self.quote|safe}}</blockquote>
        <div class="o-profile_quote_cell--buttons">
            {% if self.audio %}
                <button audio="a{{group_id}}{{item_id}}{{cell_id}}" class="playAudioQuote">
                    <ion-icon id="icon-a{{group_id}}{{item_id}}{{cell_id}}_mobile" class="volume" name="volume-off"></ion-icon>
                    <span class="source">Listen</span>
                </button>
            {% endif %}

            <div class="o-profile_cell--link">
                {% if self.article %}
                    <a href="{% pageurl self.article %}">
                    {% if self.label %}{{self.label|safe}}{% else %}{{self.article.title|safe}}{%endif%}
                    </a>
                {% elif self.label %}
                    {{self.label|safe}}
                {% endif %}
            </div>
        </div>
    </div>
</div>