{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="o-profile_cell">
    {% if self.image %}
    <div class="o-profile_cell--left">
        {% if article %}
        <a href="{% pageurl article %}" title="{{article.title|striptags|safe}}">
        {% endif %}
            {% for image in self.image %}
                {% image image.image width-320 format-webp loading="lazy" class="o-profile_cell--image" alt=image.alt %}            
            {% endfor %}
        {% if article %}
        </a>
        {% endif %}
    </div>
    {% endif %}
    <div class="o-profile_cell--right">
        {{self.text|richtext}}
    </div>
</div>