// Border for articles
.o-articles-list {
  border-style: dotted;
  border-width: 1px;
  border-color: dimgrey;
  margin-bottom: 50px;
}

.headline {
  font-family: "ub-minion-pro","Minion Pro","Georgia",serif;
}

.article-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}