// Border for articles
.o-articles-list {
  margin-bottom: 50px;
  list-style-type: none;
  padding-left: 0;
}

.o-sidebar-block__title {
  font-size: 25px;
}

.headline-article {
  font-family: $font-headline;
  color: #333333;
  font-size: 19px;
}

.top-5-article-heading {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.top-5-article-author {
  font-size: 15px;
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: grey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}