{% load wagtailimages_tags %}
<figure class="au-gallery__item">
  <a href="{{ image.file.url }}" data-author-gallery-item data-image-url="{{ image.file.url }}" data-image-alt="{{ image.redesign_description|striptags|default:'Photo' }}" data-image-caption="{{ image.redesign_description|striptags }}" aria-label="View photo in the image viewer">{% image image fill-800x650-c100 format-webp loading='lazy' %}</a>
  {% if image.redesign_description %}<figcaption><span>{{ image.redesign_description|striptags }}</span></figcaption>{% endif %}
</figure>
