<div class="c-section" style="padding-top: 4rem;">
  <div class="u-container">
    <h2 class="o-heading o-heading--blue">Who we are</h2>
    <p class="o-paragraph">Who we are” the second sentence should read:  Published bi-weekly on Tuesdays with daily updates to our website during the school year, <em>The Ubyssey</em> is one of the country’s largest student publications. We employ a cadre of both Full-time and Part-time student editors, writers and software developers. <em>The Ubyssey</em> boasts such alumni as Pierre Berton, Prime Minister John Turner, Allan Fotheringham and Bruce Arthur in such publications as The Globe and Mail, The Toronto Star, and The Vancouver Sun, along with thousands of other contributing Alumni working for Media Companies around the Globe.</p>
  </div>
</div>
