@use "../../fonts" as fonts2;
@use "../../variables";

.section-grid-container {
    padding-top:2em;
    width: 100%;
    background-color: #FEFFE3;
    @media(variables.$bp-larger-than-tablet) {
        padding: 4em;
    }   

    .section-grid {
        margin:auto;
        max-width: 1000px;
        .article-box {
            display: flex;
            padding:1em;
            color: black;
            text-decoration: none;

            &:hover{
                color: #626262;
            }

            @media(variables.$bp-smaller-than-tablet) {
                flex-direction: column;
            }
            img {
                @media(variables.$bp-smaller-than-tablet) {
                    margin: auto;
                }   
            }
            .article-box-title {
                display:flex;
                h2 {
                    margin-top: auto;
                    margin-bottom: auto;
                    padding: 0.5em;

                    font-family: fonts2.$font-default;
                    @media(variables.$bp-smaller-than-tablet) {
                        text-align: center;
                        width: 100%;
                    }   
                }
            }
        }
    }
}