
@font-face {
	font-family:'rasa';
	src: 
		url('../fonts/Rasa-Italic-VariableFont_wght.ttf') format('truetype');
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'rasa';
	src: 
		url('../fonts/Rasa-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

$font-default: rasa, serif; 

$font-secondary: minion-pro, serif; 

$header-font: kepler-std-condensed-subhead, serif; 
$header-weight-regular: 400;
$header-weight: 500;
$header-size: 3.1rem;

$text-font: minion-pro, serif; 
$text-weight: 300;
$text-weight-bold: 500;
$text-size: 1rem;

$quote-font: kepler-std-condensed-subhead, serif; 
$quote-size: 1.3rem;
$quote-weight: 400;

$credit-font: minion-pro, serif; 
$credit-weight: 400;
$credit-style: italic;
$credit-size: 1rem;

$accent-font: kepler-std-condensed-subhead, serif; 
$accent-size: 1.3rem;