.o-site-wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.c-banner {
    margin-top: 0;
}

.mag-hp-spread {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5%;
}

.mag-hp-spread:first-of-type {
    margin-bottom: 0;
}

.editorial__credits-content h1{
    font-weight: bold;
    font-size: 0.75em;
}

.home-content-container .editorial__credits-content h2{
    margin-bottom: 25px;
    font-size: 0.75em;
}

.home-content-container .editorial__.home-content .content-wrapper{
    padding: 5%
}

.home-content-container .home-content .content-wrapper {
    line-height: 2em;
    font-family: $text-font;
    font-size: 1rem;
}

.home-content-container .home-content .title {
    text-align: left;
    padding-top: 5%;
    @media($bp-larger-than-mobile) {
        padding-left: 5%;
    }
}

.editorial-container{
    display: flex;
    flex-wrap: wrap;

    .editorial__note-container {
        background-image: linear-gradient(#101625, #2F3549);
        color: #E8B131;
        padding: 5%;
        width: 100%;

        .editorial__.home-content {
            margin:auto;
            max-width: 1000px;
        
            .title {
                font-size: 5em;
                text-align: center;
                font-family: $header-font;
            }

            .content-wrapper {
                text-align: center;
                font-size: 1.1em;
            }
        }
    }

}
