.o-article__image>img {
  // Structure
  width: 100%;
  height: auto;
}

.o-article__headline {
  // Structure
  margin-top: 0;
  margin-bottom: 0.5rem;

  // Text
  font-family: $font-headline;
  font-weight: $font-weight-bold;
  line-height: 1.15em;
  font-size: font-size(24);

  a {
    // Text
    color: inherit;
    text-decoration: none;

    &:hover {
      // Text
      color: $color-accent-blue;
    }
  }
}

.o-article__meta {
  // Structure
  margin-bottom: 0.5rem;
}

.o-article__byline {
  // Text
  font-size: font-size(14);
  line-height: 1.5em;
}

.o-article__author {
  // Text
  font-weight: 600;
}

.o-author__name {
  // Structure
  margin-top: 0;
  margin-bottom: .5rem;

  //Text 
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Georgia", serif
}

.home-featured {
  .o-article__published {
    // Text
    color: #2B2B2B;
  }
}

.o-article__published {
  // Text
  color: var(--article-publish);
}


.o-article__snippet {
  // Structure
  margin-top: 0.5rem;
  margin-bottom: 0;

  // Text
  line-height: 1.5em;
  color: var(--archive-text);
  font-size: font-size(14);
}

.o-article--padded {
  padding-left: 15px;
  padding-right: 15px;

  @media($bp-larger-than-phablet) {
    // Structure
    padding-left: 0;
    padding-right: 0;
  }
}

.o-article__section-tag {
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  font-weight: 600;

  &:hover {
    color: white;
    background-color: $color-ubyssey-blue-dark !important;
  }
}

.o-article__label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
}

.o-article__section_label_text {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;
  position: absolute;
  bottom: 0;
  left: 20%;
  font-size: 1%;
}

ul.article-list, ol.article-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    margin-top: 1rem;

    .o-article {
      margin-bottom: 1rem;
    }

    h4.headline {
      font-family: $font-headline;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 17px;
    }
    a {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;

      .o-article {
        margin-bottom: 0;
      }
    }

  }
}

// Default article

.o-article--default {

  @media($bp-larger-than-phablet) {
    // Structure
    display: flex;
  }

  @media($bp-larger-than-desktop) {
    // Structure
    display: block;
  }

  .o-article__left {
    // Structure
    margin-bottom: 0.5rem;

    @media($bp-larger-than-phablet) {
      // Structure
      width: 15rem;
      margin-right: 1rem;
      margin-bottom: 0;
    }

    @media($bp-larger-than-desktop) {
      // Structure
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }

  .o-article__right {
    @media($bp-larger-than-phablet) {
      // Structure
      flex: 1;
    }
  }
}

// Featured Article
// Article List Item

.o-article--featured,
.o-article--list {
  // Structure
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  // Border
  border-bottom: thin dotted $color-border-gray-dark;

  @media($bp-larger-than-phablet) {
    // Structure
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .o-article__headline {
    // Text
    font-size: font-size(20);

    @media($bp-larger-than-phablet) {
      // Text
      font-size: font-size(24);
    }
  }

  .o-article__left {
    // Structure
    width: 6rem;
    padding-right: 1rem;

    @media($bp-larger-than-mobile) {
      // Structure
      width: 9rem;
      padding-right: 1.25rem;
    }
  }

  .o-article__right {
    // Structure
    flex: 1;
  }

  .o-article__meta {
    // Structure
    margin-bottom: 0;

    @media($bp-larger-than-mobile) {
      // Structure
      margin-bottom: 0.5rem;
    }
  }

  .o-article__snippet {
    // Structure
    display: none;
    margin-bottom: 0;

    @media($bp-larger-than-mobile) {
      // Structure
      display: block;
    }
  }
}

// Article bullet point
.o-article--bullet {
  .o-article__headline {
    font-size: font-size(17);
  }
}

.lightmode {
  .o-article--bullet {
    .o-article__headline {
      color: black;
    }
  }

  .title-tag {
    color: #484848;
  }
}

.darkmode {
  .o-article--bullet {
    .o-article__headline {
      color: #B3B3B3;
    }
  }

  .title-tag {
    color: #dfdfdf;
  }

  .disclaimer {
    color: #3490d6;

    p {
      color: #3490d6;
    }
  }
}

.video-article {
  @media($bp-smaller-than-mobile) {
    display: block;
  }

  .o-article__video {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .o-article__right {
    width: 35%;
    padding-left: 2%;
    padding-right: 2%;

    @media($bp-smaller-than-mobile) {
      width: 96%;
      padding: 2%;
    }
  }

  .o-article__left {
    width: 65%;
    position: relative;

    @media($bp-smaller-than-mobile) {
      width: 100%;
    }
  }

  .o-article__left iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

// Page link headers
.header-menu {
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem !important;
    padding: 0px !important;
    max-width: 100vw;
  }

  a {
    display: block;
  }

  .menu-title {
    flex-grow: 1;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    margin: .25rem !important;
    padding: .25rem .5rem;
    color: white;
    transition: .2s;
    cursor: default;

    &:hover {
      background-color: transparent !important;
      border-color: #555;
      color: #555;
    }
  }
}

.header {
  padding: 0.75rem !important;
  font-weight: 600;
  background-color: #0071c9;

  >h2 {
    margin: 0;

    color: white;
    scroll-margin-top: 100px;
  }
}

// Scroll to top button
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0D3B66), color-stop(100%, #253c62));
  background-image: -moz-linear-gradient(#0D3B66, #253c62);
  background-image: -webkit-linear-gradient(#0D3B66, #253c62);
  background-image: linear-gradient(#0D3B66, #253c62);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0.9;
  transition-duration: 0.5s;
  transition-property: opacity;

  &:hover {
    background-color: #555;
  }
}