@use "../modules/fonts";
@use "../modules/variables";

article.headline-top-articles {

    .above-headline {
        margin-bottom: 0.5em;
        font-weight: 600;
        font-variation-settings: "wght" 600;
        .title-tag {
            display: inline-block;
            text-transform: uppercase;
        }
    }
    .o-article__published {
        margin-right: 0.5em;
        color: var(--color-ubyssey_blue);
        font-weight: 600;
        font-variation-settings: "wght" 600;
    }
    .o-article__headline {
        margin-block: 0.5em;
        font-family: fonts.$font-headline;
        line-height: 1.25em;
        font-size: 1.5em;
        text-wrap: balance;
    }
    > .o-article__default {
        margin-top: 1.5em;
    }
    .o-article__left{
        margin: auto;
        width: 100%;
        max-width: 650px;
        flex-shrink: 0;
        img {
        width: 100%;
        height: auto;
        max-height: 500px;

        object-fit: cover;
        }
    }
    .o-article__right{
        margin-left: 2em;
        width: 100%;

        .o-article__snippet {
            margin-block: 0.25em;
            font-size: 1em;
            line-height: 1.5em;
            a {
                color: var(--color-ubyssey_blue);
                &:hover {
                text-decoration: underline;
                }
            }
        }
        .read-more {
            display: inline-block;
            font-style: italic;
        }
        .o-article__byline {
            font-size: 1em;
            font-weight: 500;
            font-variation-settings: "wght" 500;
        }
    }
    @media(variables.$bp-smaller-than-desktop) {
        padding-inline: 1em;   
    }
    @media(variables.$bp-larger-than-phablet) { 
        .o-article__left {
            width: 50%;
        }
    }
    @media(variables.$bp-larger-than-tablet) { 
        .o-article__headline {
            font-size: 2.5em;
        }

        &.large-left .o-article__headline {
            font-size: 2.25em;
        }

        .o-article__right {
            padding-bottom: 2em;
            .o-article__snippet {
                font-size: 1.25em;
            }
        }
    }
    @media(variables.$bp-larger-than-desktop) { 
        .o-article__left {
            width: 100%;
        }
    }
    @media(variables.$bp-smaller-than-phablet) { 
        padding-inline: 0;
        > .o-article__headline, > .above-headline {
            margin-inline: 1.5em;
        }
        .o-article__left {
            max-width: 100%;
        }
        .o-article__right {
            margin: 1.5em;
            width: auto;
        }
    }
}