@use "../modules/footer";
@use "../modules/variables";
@use "../modules/fonts";

.o-article--suggested_article {

    .o-article__headline {
        font-size: 16px;
        margin: 1em;
    }

    .o-article__published {
        color: footer.$text-color;
    }

    .o-article__snippet {
        margin-top: 1rem;
    }

    .o-article__byline {
        margin-top: 0.5rem;
        font-weight: 600;
    }
}

@media(variables.$bp-smaller-than-phablet) {
    .c-article--fw-story .c-suggested-bar--primary-title {
        margin-left: 1em;
    }
}

.c-suggested-bar {
    margin-bottom: 3em;
    display: flex;
    width: fit-content;

    @media(variables.$bp-smaller-than-tablet) {
        flex-direction: column;
    }
}

.c-suggested-bar--primary-title {
    font-size: 24px;
    font-weight: 400;
    font-variation-settings: "wght" 400;

    @media(variables.$bp-smaller-than-phablet) {
        margin-inline: 1em;
    }

    a {
        font-weight: 600;
        font-variation-settings: "wght" 600;
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }
}

.c-suggested-bar--primary-articles {
    margin: auto;
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    max-width: 1200px;

    article {
        width: 300px;
    }
}

.c-suggested-bar--topic-list {
    margin-top: 1em;
    margin-left: 1em;
    .c-suggested-bar--topic-list__topic-title {
        margin-top: 0.75em;
        display: block;
        font-size: 1em;
        color: var(--header_color);
        font-family: fonts.$font-default;
        font-weight: 600;
        font-variation-settings: "wght" 600;
        a {
            text-decoration: underline;
        }
    }
    @media(variables.$bp-smaller-than-tablet) {
        padding-inline: 1em;
        margin-inline: auto;
        max-width: 400px;
        .o-article_list-item {
            width: auto;
        }
    }
}

  div.article-content > ul.c-topic-list {
    padding: 0.5em 0.25em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
        margin-right: 1em;
        font-size: 0.9em;
        font-family: fonts.$font-default;

        &.c-topic-list--header {
            font-weight: 600;
        }
    }
    a {
        border-bottom: solid 1px;
    }
}