@use "../modules/variables";

.article--infinitefeed {
    display: flex;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid variables.$color-ubyssey-blue;
    border-bottom: solid variables.$color-ubyssey-blue;
    border-width: 2px;

    @media(variables.$bp-smaller-than-mobile) {
        flex-direction: column;
    }

    .above-headline {
        margin-bottom: 0.5em;
        .o-article__section {
          margin-left: 0.5em;
        }

        .o-article__published {
            font-size: 0.8em;
            font-weight: 600;
        }
      }

    .o-article__headline {
        font-size: 1.3rem;
    }

    .o-article__image {
        border: solid variables.$color-ubyssey-blue;
        border-width: 2px;
        display: flex;
        position: relative;
    }

    .o-article__author {
        font-weight: inherit;
    }

    .o-article__right {
        padding-left: 20px;
        padding-right: 20px;

        @media(variables.$bp-larger-than-mobile) {
            width: 65%;
        }
    }

    .o-article__left {
        padding-bottom: 20px;

        @media(variables.$bp-larger-than-mobile) {
            width: 35%;
        }
    }
}

.section_infinitefeed #feed article.article--infinitefeed {
    @media(variables.$bp-smaller-than-desktop) {
        margin-inline: 1em;
    }
    display: block;
    border-bottom: 1px solid #EEE !important;
    .o-article__right {
        width: auto;
        min-height: 10em;
        padding-inline: 0.5em;
    }
    .o-article__left {
        margin: 1em;
        padding: 0;
        width: 9em;
        @media(variables.$bp-larger-than-phablet) {
            width: 12em;
        }
        float: right;
    }
    .o-article__image {
        border:none;
        img {
            border-radius: 0.5em;
            border: 1px solid #EEE;
        }
    }
}

[color-css-theme="light"], .lightmode {
    .article--infinitefeed {
        .o-article__headline {
            color: black;
        }

        .o-article__author {
            color: black;
        }

        .o-article__published {
            color: #1871C4;
        }

        .o-article__snippet {
            color: #646464;
        }
    }
}

[color-css-theme="dark"], .darkmode {
    .article--infinitefeed {
        .o-article__headline {
            color: white;
        }

        .o-article__author {
            color: white;
        }

        .o-article__published {
            color: #1871C4;
        }

        .o-article__snippet {
            color: #D9D9D9;
        }
    }
}