@use "../modules/variables";

.o-article_storystream {
    padding-block: 3em;
    border-bottom: 1px solid variables.$color-ubyssey-blue-light;
}

// Feature
.o-article_storystream_feature {
    padding-inline: 3em;
    .o-article__left {
        margin-inline: auto;
        iframe {
            width: 100%;
        }
    }
    .o-article__right {
        margin-top: 1em;
        margin-inline: auto;
        padding-inline: 1.5em;
        border-bottom: 2px solid variables.$color-ubyssey-blue;
        width: fit-content;
        * {
            width: fit-content;
        }
        h2 {
            font-size: 1.5em;
        }
    }

    .carousel-control-prev {
        left: -3.5em;
    }
    .carousel-control-next {
        right: -3.5em;
    }

    @media(variables.$bp-smaller-than-phablet) {
        padding-inline: 1em;
        .carousel-control-prev {
            left: -0.5em;
        }
        .carousel-control-next {
            right: -0.5em;
        }
    }
}

// Minimal
.o-article_storystream_minimal {
    display: flex;
    .o-article__left {
        margin-right: 2em;
        .o-article__headline {
            width: fit-content;
            border-bottom: 2px solid variables.$color-ubyssey-blue;
            font-size: 1.75em;
        }    
    }
    .o-article__right {
        margin-left: auto;
        width: 8em;
        flex-shrink: 0;
        img {
            margin: auto;
            border-radius: 0.5em;
            width: 100%;
            height: auto;
        }
    }
    @media(variables.$bp-smaller-than-phablet) {
        padding-inline: 1.5em;
        .o-article__left .o-article__headline {
            font-size: 1.25em;
        }
        .o-article__right {
            width: 5em;
        }
    }
}