article.headline-top-articles {
    .o-article__left {
      margin-bottom: 1em;

      .o-article__image {
        display: block;
        height: 100%;

        img {
          border-radius: 1em;
          border: 2px solid;
        }
      }
    }

    .above-headline {
        margin-bottom: 0.5em;
        font-weight: 600;
        .title-tag {
            display: inline-block;
            text-transform: uppercase;
        }
    }
    .o-article__published {
        margin-right: 0.5em;
        color: $color-ubyssey-blue;
        font-weight: 600;
    }
    h2 {
        margin-block: 0.5em;
        font-family: $font-headline;
        font-size: 2.5em;
        line-height: 1.25em;
    }

    .o-article--default {
        padding-block: 2em;
    }

    .left{
        margin: auto;
        width: 100%;
        max-width: 475px;
        flex-shrink: 0;
        img {
        width: 100%;
        height: auto;
        }
    }
    .right{
        margin-left: 2em;
        width: 100%;
        .lede {
        margin-block: 0.25em;
        font-size: 1.5em;
        a {
            color: $color-ubyssey-blue;
            &:hover {
            text-decoration: underline;
            }
        }
        }
        .read-more {
        display: inline-block;
        font-style: italic;
        }
        .o-article__byline {
        font-size: 1em;
        }
    }

    @media($bp-smaller-than-desktop) {
        padding-inline: 1em;   
    }
    @media($bp-smaller-than-phablet) { 
        padding-inline: 0;
        h2, .above-headline {
            margin-inline: 15px;
        }
        h2 {
            font-size: 1.5em;
        }
        .left {
            max-width: 100%;
        }
        .right {
            margin: 1em 1.5em;
            width: auto;
            .lede {
                font-size: 1.2em;
            }
        }
    }
}