@use "../modules/variables";

.article-wrap {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;

    article.o-article {
        min-width: 200px; 
        border-bottom: 1px solid var(--light-border);
        flex: 1 1 calc(25% - 24px); /* 4 articles per row */
        box-sizing: border-box;
    }

    /* Mobile: 1 article per row */
    @media (variables.$bp-smaller-than-phablet) {
        margin-block: 0;
        flex-direction: column;
        gap: 0;
        article.o-article {
            width: auto;
            display: flex;
            margin-inline: 1.5em;
            flex-direction: row-reverse;
            .o-article__left {
                margin-block: auto 1em;
                padding-block: 1em;
                width: 8em;
                flex-shrink: 0;
            }
            .o-article__right {
                margin-top: 1em;
                width: 100%;
            }
        }
    }
    
    @media (variables.$bp-larger-than-phablet) {
        /* Add vertical separator between articles */
        article.o-article {
            max-width: 50%;
        }

        .left img {
            max-width: 200px;
        }
    }
}
