@use '../modules/variables';

.sticky {
    position: sticky;
    top: 20px;
}
  
.o-boxLabel {
    z-index: 100;
    display:flex;
    margin: auto;
    margin-bottom: 20px;
    @media (max-width: 1200px) {
      top: 75px;
    }
}
.o-boxLabel-left {
    width: 40%;
    padding-left: 2%;
    border-width: 0.1em;
    border-style: solid;
}
.o-boxLabel-right {
    width: 60%;
    text-align: right;
    padding-right: 2%;
    border-width: 0.1em;
    border-style: solid;
}
  
.o-boxLabel-right strong {
    white-space: pre;
}
  
.boxText {
    margin: 0;
    font-size: 1em;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
  
.o-boxLabel-left {
    background-color: var(--boxPrimary);
    border-color: var(--boxPrimary);
    .boxText-left {
        color:var(--boxTextLeft);
    }
}
.o-boxLabel-right {
    background-color: var(--boxSecondary);
    border-color: var(--boxPrimary);
    .boxText-right {
        color: var(--boxTextRight);
    } 
}  

[color-css-theme="light"] {
    .o-boxLabel {
        --boxPrimary: #{variables.$color-ubyssey-blue-dark};
        --boxSecondary: none;
        --boxTextLeft: white;
        --boxTextRight: #{variables.$color-ubyssey-blue-dark};
    }

    .o-boxLabel.o-boxLabel-highlight {
        --boxSecondary: #{variables.$color-ubyssey-blue-light};
    }

    .o-boxLabel {
        &.sticky {
            filter: drop-shadow(0 5px 6px #00000040);
        }
    }
}
  
[color-css-theme="dark"] {
  
    .o-boxLabel {
        &.sticky {
            box-shadow: 0 5px 20px 6px variables.$color-ubyssey-blue-dark;
        }
    }
  
    .o-boxLabel {
        --boxPrimary: #{variables.$color-ubyssey-blue-light};
        --boxSecondary: #{variables.$color-ubyssey-blue-dark};
        --boxTextLeft: #{variables.$color-ubyssey-blue-dark-2};
        --boxTextRight: #{variables.$color-ubyssey-blue-light};
    }
}