@use '../modules/fonts';
@use "../modules/variables";

// Shared classes among landing stream blocks
.landing_stream_block {
    margin: 3em auto 5em auto;
  
    .landing_stream_block--header {
      margin-block: 2em;
      font-family: fonts.$font-default;
      font-weight: 800;
      h2 {
        display: inline;
        margin-right: 0.5em;
        scroll-margin-top: 5em;
        font-size: 2.5em;
        font-family: fonts.$font-headline;
        font-variation-settings: "wght" 800;
      }
      p {
        margin-right: 0.5em;
        display: inline;
        a {
          font-style: italic;
          text-decoration: underline;
        }
      }
      @media(variables.$bp-smaller-than-phablet) {
        padding-inline: 1em;
        text-align: center;
        h2 {
          display: block;
          font-size: 1.5em;
        }
      }
    }

    .landing_stream_block--header-small {
      h2 {
        font-size: 1.5em;
        border-bottom: 1px solid;
      }
    }

    .landing_stream_block--header-blurb {

      margin-bottom: 1em;
      font-weight: 500;
      line-height: 1.75em;

      h2 {
        font-size: 1.5em;
      }
      p {
        font-family: fonts.$font-body;
        @media(variables.$bp-smaller-than-phablet) {
          display: block;
          text-align: left;
        }
      }
    }

    .landing_stream_block--flex-container {
      display: flex;
      position: relative;
      min-height: fit-content;
      margin-bottom: 2em;
    }

    .landing_stream_block--grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 0.5em;
    }

  @media(variables.$bp-smaller-than-phablet) {
    margin: 2em auto 5em auto;
  }
}


// Landing
.landing_stream_block__landing {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--section-colour);

      ul {
        height: fit-content;
        margin: auto 0;
        padding-bottom: 5%;
        li {
          margin: 1em 0;
          .o-article__headline {
            border-bottom: 0.2em solid;
            border-color: var(--section-colour);
          }
        }
    }
}

@media(variables.$bp-smaller-than-mobile) {
    .landing-stream-block__timeline {
        max-width: none;
        width: 100%;
    }

    .landing_stream_block--flex-container {
        flex-direction: column;
        min-height: unset;
        margin-bottom: 1em;
    }
}

.landing-stream-block__borders {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.landing_stream_block__horizontal {
  @media(variables.$bp-larger-than-phablet) {
    .landing_stream_block--flex-container--wrap {
      flex-wrap: wrap;
      gap: 1.5em;
      article.o-article {
        margin-inline: 0;
        max-width: 185px;
      }
    }
  }
  @media(variables.$bp-smaller-than-phablet) {
    .landing_stream_block--flex-container {
      flex-direction: column;
    }
    article.article--round_with_border:not(:first-child) .o-article__left {
      display: none;
    }
  }
}

// Timeline 
.landing-stream-block__timeline {
    article.article--round_with_border {
      height: fit-content;
    }
    p.o-article__published, .o-article__seemore {
        margin: 0;

        color: white;
        font-weight: 600;
        font-size: 0.75em;
        text-transform: uppercase;
    }

    h3.o-article__headline {
        margin: 0.5em 0;
        font-weight: 400;
        font-variation-settings: "wght" 400;
        color: variables.$color-ubyssey-blue-light;
    }
}

.landing-stream-block_blurb-with-timeline {
  margin-bottom: 0;
  .landing_stream_block--flex-container {
    margin-bottom: 0;
  }
  @media(variables.$bp-larger-than-phablet) {
    .horizontal-timeline-wrap {
       padding-inline: 1em;
     }
   }
}

// Article timeline
.article-timeline {
    .timeline {
        padding-inline: 0.5em;

        .timeline-title {
        margin: 1.25em auto;
        color: variables.$color-ubyssey-blue;
        text-align: center;
        font-size: 1.15em;
        line-height: 1.25em;
        font-weight: 600;
            a:hover {
                text-decoration: underline;
            }
        }
        .o-article__published {
            margin-right: 0.5em;
            color: variables.$color-ubyssey-blue;
            font-weight: 600;
        }
        --timeline-colour: #{variables.$color-ubyssey-blue};
        li {
          .o-article__published {
              font-size: 0.75em;
              text-transform: uppercase;
          }
          .o-article__headline {
              margin-top: 0.5em;
              font-size: 1em;
              font-weight: 400;
              font-variation-settings: "wght" 400;
          }
        }

        @media(variables.$bp-smaller-than-desktop) {
          padding-inline: 2em;
        }
        @media(variables.$bp-smaller-than-phablet) {
          display: flex;
          flex-direction: column-reverse;
          .timeline-title {
            font-size: 1em;
          }
        }
    }
}

.landing_stream_block__elections_race {
  display: flex;

  @media(variables.$bp-smaller-than-desktop) {
    padding-inline: 1em;
  }

  @media(variables.$bp-smaller-than-phablet) {
    flex-direction: column-reverse;
  }

  ul.vertical-timeline {
    --timeline-colour: var(--highlight-colour);
    margin-inline: auto;
    padding: 0;
    width: 275px;
    flex-grow: 0;
    flex-shrink: 0;
    li {
      @media(variables.$bp-smaller-than-phablet) {
        margin-inline: 0.5em;
      }
      
      .o-article__headline {
        margin-block: 0.5em;
      }
      .o-article__published, .o-article__seemore {
        margin-bottom: 0.5em;
        color: var(--header_color);
        font-size: 0.8em;
        font-weight: 600;
      }
      .o-article__seemore {
        margin-block: 0.25em 0;
        text-transform: uppercase;
      }
      .o-article__image {
        display: block;
        img {
          border-radius: 0.5em;
          border: 2px solid var(--timeline-colour);
        }
      }
    }
  }

  .landing_stream_block--header {
    h2 {
      width: fit-content;
      background: linear-gradient(transparent calc(100% - 0.15em), var(--highlight-colour) 0);
    }
  }

  @media(variables.$bp-smaller-than-phablet) {
    .pinned-title {
      margin: 2em;
      text-align: center;
    }
  }

  .landing_stream_block--flex-container {
    @media(variables.$bp-larger-than-phablet) {
      flex-wrap: wrap;
      gap: 1.5em;
    }
    @media(variables.$bp-smaller-than-phablet) {
      flex-direction: column;
    }

    article.o-article {
      max-width: 185px;
      margin-inline: 0;
      --borderColour: var(--highlight-colour);

      @media(variables.$bp-smaller-than-phablet) {
        display: flex;
        margin-inline: 2em;
        max-width: none;
        width: auto;

        .o-article__left {
          margin-right: 1em;
          margin-block: auto;
          width: 7em;
          flex-shrink: 0;
        }

        .o-article__right {
          display: flex;
          .o-article__headline {
            margin-block: auto;
            padding-bottom: 1em;
          }
        }
      }
    }
  }
}

.section .header-menu 
{
  margin-top: 4em;
  .menu-title {
    border: none;
    background: linear-gradient(transparent calc(100% - 0.25em), var(--linkColour) 0);
    color: var(--header_color);
    a {
      margin: auto;
      width: fit-content;
      border-radius: 0.5em 0.5em 0 0;
      background: var(--linkColour);
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
[color-css-theme="light"] {
  .landing-stream-block__borders {
    border-color: variables.$color-ubyssey-blue;
  }
  .landing-stream-block__timeline {
      border-color: variables.$color-ubyssey-blue;
      --timeline-colour: #{variables.$color-ubyssey-blue};

      p.o-article__published,
      .o-article__seemore {
        width: fit-content;
        color: black;
      }
    }
}
  
[color-css-theme="dark"] {
  .landing-stream-block__borders {
    border-color: variables.$color-ubyssey-blue-light;
  }
  .landing-stream-block__timeline {
      border-color: variables.$color-ubyssey-blue-light;
      --timeline-colour: white;
      h3.o-article__headline {
        color: variables.$color-ubyssey-blue-light;
      }
    }
  }


.o-section_article-row {
  display: flex;
  gap: 1.25em;
  margin-top: 1em;
  border-block: 2px solid var(--light-border);
  padding-block: 2em 1em;
  > article {
    width: 200px;
    flex-grow: 1;
    @media(variables.$bp-larger-than-phablet) {
      max-width: 300px;
    }
    .o-article__published {
      font-size: 0.75em;
      font-weight: 600;
      color: variables.$color-ubyssey-blue;
      white-space: pre-line;
    }
    .o-article__headline {
      font-size: 1.1em;
    }
    .o-article__byline {
      font-size: 0.75em;
      color: var(--text_color_supporting);
    }
  }
  @media(variables.$bp-smaller-than-desktop) {
    padding-inline: 1em;
  }
  @media(variables.$bp-smaller-than-phablet) {
    padding: 2em 1.5em;
    flex-direction: column;

    .o-article__published {
      margin-block: 0.25em;
    }

    .o-article__left {
      margin-bottom: 0.5em;
    }

    article {
      width: auto;
      border-bottom: 1px solid var(--light-border);
    }
    > article:not(:first-child) {
      display: flex;
      flex-direction: row-reverse;
      gap: 1em;
      .o-article__right {
        width: 100%;
      }
      .o-article__left {
        img {
          width: 5em;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
      .o-article__published {
        margin-top: 0;
      }
    }
  }

  .o-section_row_block {
    margin-left: auto;
    margin-bottom: 0.5em;

    @media(variables.$bp-smaller-than-phablet) {
      margin-inline: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .o-section_row_block__title {
        text-align: center;
      }
    }

    .o-section_row_block__title {
      margin-bottom: 0.25em;
      width: 100%;
      display: block;
      font-family: fonts.$font-default;
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1em;
      color: var(--header_color);
    }
  }
}

.o-section_article-cluster {
  padding-top: 1em;
  @media(variables.$bp-smaller-than-tablet) {
    flex-direction: column;
  }
  .o-section_article-cluster--group {
    margin-inline: auto;
    max-width: 500px;
    display: contents;

    @media(variables.$bp-larger-than-tablet) {
      display: block;
      width: 0;
      flex-grow: 1;
    }

    .o-section_row_block {
      margin-top: 1em;
        .o-section_row_block__title {
        font-size: 1em;
      }
      article.o-article_list-item {
        width: auto;
        .o-article__headline {
          margin-bottom: 0;
          font-size: 0.85em;
          font-variation-settings: "wght" 400;
        }
        @media(variables.$bp-smaller-than-phablet) {
          .left {
            margin-block: auto;
            height: fit-content;
            .o-article__headline {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

// Landing stream info
.landing_stream_info {
  padding: 0.5em 1.5em;
  max-width: 1000px;
  background-color: variables.$color-ubyssey-blue-light;
  p {
    line-height: 1.5em;
    color: variables.$color-ubyssey-blue-dark;
    a {
      font-style: italic;
      text-decoration: underline;
    }
  }
}

.landing_stream_block + .landing_stream_info {
  margin-block: -3em 4em;
}

.c-sidebar_item .landing_stream_info {
  margin: 0.5em;
}