@import 'modules/fonts';
// Shared classes among landing stream blocks
.landing_stream_block {
    margin: 3em auto 5em auto;
  
    .landing_stream_block--header {
      margin-block: 2em;
      font-family: $font-default;
      font-weight: 800;
      h2 {
        display: inline;
        margin-right: 0.5em;
        text-transform: capitalize;
        font-size: 2.5em;
        font-family: $font-headline;
        font-variation-settings: "wght" 800;
      }
      p {
        margin-right: 0.5em;
        display: inline;
        a {
          font-style: italic;
          text-decoration: underline;
        }
      }
      @media($bp-smaller-than-phablet) {
        padding-inline: 1em;
        text-align: center;
        h2 {
          display: block;
          font-size: 1.5em;
        }
      }
    }

    .landing_stream_block--header-small {
      h2 {
        font-size: 1.5em;
        border-bottom: 1px solid;
      }
    }

    .landing_stream_block--header-blurb {
      h2 {
        font-size: 1.5em;
      }
      margin-bottom: 1em;
      font-weight: 500;
      line-height: 1.75em;
    }

    .landing_stream_block--flex-container {
      display: flex;
      position: relative;
      min-height: fit-content;
      margin-bottom: 2em;
    }

    .landing_stream_block--grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 0.5em;
    }

  @media($bp-smaller-than-phablet) {
    margin: 2em auto 5em auto;
  }
}


// Landing
.landing_stream_block__landing {
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: var(--section-colour);

      ul {
        height: fit-content;
        margin: auto 0;
        padding-bottom: 5%;
        li {
          margin: 1em 0;
          .o-article__headline {
            border-bottom: 0.2em solid;
            border-color: var(--section-colour);
          }
        }
    }
}

@media($bp-smaller-than-mobile) {
    .landing-stream-block__timeline {
        max-width: none;
        width: 100%;
    }

    .landing_stream_block--flex-container {
        flex-direction: column;
        min-height: unset;
        margin-bottom: 1em;
    }
}

.landing-stream-block__borders {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.landing_stream_block__horizontal {
  @media($bp-smaller-than-phablet) {
    .landing_stream_block--flex-container {
      flex-direction: column;
    }
    article.article--round_with_border:not(:first-child) .o-article__left {
      display: none;
    }
  }
}

// Timeline 
.landing-stream-block__timeline {
    article.article--round_with_border {
      height: fit-content;
    }
    p.o-article__published, .o-article__seemore {
        margin: 0;

        color: white;
        font-weight: 600;
        font-size: 0.75em;
        text-transform: uppercase;
    }

    h3.o-article__headline {
        margin: 0.5em 0;
        font-weight: 400;
        font-variation-settings: "wght" 400;
        color: $color-ubyssey-blue-light;
    }
}

.landing-stream-block_blurb-with-timeline {
  margin-bottom: 0;
  .landing_stream_block--flex-container {
    margin-bottom: 0;
  }
  @media($bp-larger-than-phablet) {
    .horizontal-timeline-wrap {
       padding-inline: 1em;
     }
   }
}

// Article timeline
.article-timeline {
    .timeline {
        padding-inline: 0.5em;

        .timeline-title {
        margin: 1.25em auto;
        color: $color-ubyssey-blue;
        text-align: center;
        font-size: 1.15em;
        line-height: 1.25em;
        font-weight: 600;
            a:hover {
                text-decoration: underline;
            }
        }
        .o-article__published {
            margin-right: 0.5em;
            color: $color-ubyssey-blue;
            font-weight: 600;
        }
        --timeline-colour: #{$color-ubyssey-blue};
        li {
          .o-article__published {
              font-size: 0.75em;
              text-transform: uppercase;
          }
          .o-article__headline {
              margin-top: 0.5em;
              font-size: 1em;
              font-weight: 400;
              font-variation-settings: "wght" 400;
          }
        }

        @media($bp-smaller-than-desktop) {
          padding-inline: 2em;
        }
        @media($bp-smaller-than-phablet) {
          display: flex;
          flex-direction: column-reverse;
          .timeline-title {
            font-size: 1em;
          }
        }
    }
}

.landing_stream_block__elections_race {
  display: flex;
  --timeline-colour: #{$color-ubyssey-blue};
  ul.vertical-timeline {
    padding: 0;
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    li {
      .o-article__headline {
        margin-block: 0.5em;
      }
      .o-article__published {
        margin-bottom: 0.5em;
        font-size: 0.8em;
        font-weight: 600;
      }
      .o-article__image {
        margin-left: 2em;
        display: block;
        img {
          border-radius: 0.5em;
          border: 2px solid var(--timeline-colour);
        }
      }
    }
  }
  .landing_stream_block--flex-container {
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    .o-article {
      margin-inline: 0;
      max-width: 185px;
    }
  }
}

[color-css-theme="light"] {
  .landing-stream-block__borders {
    border-color: $color-ubyssey-blue;
  }
  .landing-stream-block__timeline {
      border-color: $color-ubyssey-blue;
      --timeline-colour: #{$color-ubyssey-blue};

      p.o-article__published,
      .o-article__seemore {
        width: fit-content;
        color: black;
      }
    }
}
  
[color-css-theme="dark"] {
  .landing-stream-block__borders {
    border-color: $color-ubyssey-blue-light;
  }
  .landing-stream-block__timeline {
      border-color: $color-ubyssey-blue-light;
      --timeline-colour: white;
      h3.o-article__headline {
        color: $color-ubyssey-blue-light;
      }
    }
  }
  