@import 'modules/variables';

li.timeline-dot::before {
    position: absolute;
    content: "";        
    border-radius: 100%;
    background-color: var(--timeline-colour);
}

li.timeline-dot.inverted::before {
    border-color: var(--background);
    transition: border-color 0.5s ease;
}

ul.horizontal-timeline {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    li {
        position: relative;
        max-width: 25%;
        padding: 2.5em 2em 0 0;
        border-top: 0.2em solid var(--timeline-colour);
        &.timeline-dot::before {
            width: 1em;
            height: 1em;

            left: -0.5em;
            top: -0.6em;
        }
        @media($bp-larger-than-phablet) {
            &.timeline-dot .o-article__published,.o-article__seemore {
                margin-top: -1.4em;
            }
        }
    }
    @media($bp-smaller-than-phablet) {
        padding-left: 5em;
        flex-direction: column;
        li {
            padding: 1em 0 0 1.5em;
            margin-right: 3em;
            max-width: none;
            border: none;
            border-left: 0.2em solid var(--timeline-colour);
            &.timeline-dot::before {
                left: -0.6em;
                top: 1em;
            }
        }
        li.timeline-dot:first-child {
            padding-top: 0;
            &::before {
                top: 0;
            }
        }
    }
}

ul.horizontal-timeline-wrap {
    flex-wrap: wrap;
    justify-content: left;
    li {
        @media($bp-larger-than-phablet) {
            margin-bottom: 2em;
        }
        padding-top: 1em;
        .o-article__headline {
            margin-block: 1em;
            font-size: 0.85em;
        }

        &.timeline-dot::before {
            width: 0.6em;
            height: 0.6em;
            border: 0.3em solid var(--background);

            left: -0.7em;
            top: -0.7em;
        }

        &.timeline-dot .o-article__published,.o-article__seemore {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
}

ul.vertical-timeline {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 5em;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    overflow-x: clip;

    &.wrapping {
        @media($bp-larger-than-phablet) {
            max-height: 400px;
            li {
                width: calc(50% - 2.5em);
            }
        }
    }

    li {
        position: relative;
        margin-right: 3em;
        border-left: 0.2em solid var(--timeline-colour);
        
        font-size: 15px;

        p.o-article__published, .o-article__seemore {
            margin: 0;
        }

        .o-article--bullet {
            margin-inline: 1em 0;
        }

        &.timeline-dot {
            padding-top: 1em;
            &::before {
                width: 1em;
                height: 1em;
                
                left: -0.6em;
                top: 1em;
            }
        }
        
        &.inverted.timeline-dot::before {
            width: 1em;
            height: 1em;
            left: -0.8em;

            border: 0.2em solid var(--background);
        }
    }
    li.timeline-dot:first-child {
        padding-top: 0;
        &::before {
            top: 0;
        }
    }

    @media($bp-larger-than-phablet) {
        &.right-align-on-desktop {
            li 
            {
                border-left: none;
                border-right: 0.2em solid var(--timeline-colour);

                text-align: right;

                .o-article--bullet {
                    margin-inline: 0 1.25em;
                }

                &.timeline-dot {
                    &::before {
                        left: auto;
                        right: -0.6em;
                    }
                }
                &.inverted.timeline-dot {
                    &::before {
                        left: auto;
                        right: -0.8em;
                    }
                }
            }
        }
    }
}