@use '../modules/variables';
@use "../modules/fonts";

li.timeline-dot::before {
    position: absolute;
    content: "";        
    border-radius: 100%;
    background-color: var(--timeline-colour);
}

li.timeline-dot.inverted::before {
    border-color: var(--background);
    transition: border-color 0.5s ease;
}

ul.horizontal-timeline {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    > li {
        position: relative;
        max-width: 25%;
        padding: 2.5em 2em 0 0;
        border-top: 0.2em solid var(--timeline-colour);
        &.timeline-dot::before {
            width: 1em;
            height: 1em;

            left: -0.5em;
            top: -0.6em;
        }
        @media(variables.$bp-larger-than-phablet) {
            &.timeline-dot .o-article__published,.o-article__seemore {
                margin-top: -1.4em;
            }
        }
    }
    @media(variables.$bp-smaller-than-phablet) {
        padding-left: 5em;
        flex-direction: column;
        li {
            padding: 1em 0 0 1.5em;
            margin-right: 3em;
            max-width: none;
            border: none;
            border-left: 0.2em solid var(--timeline-colour);
            &.timeline-dot::before {
                left: -0.6em;
                top: 1em;
            }
        }
        li.timeline-dot:first-child {
            padding-top: 0;
            &::before {
                top: 0;
            }
        }
    }
}

ul.horizontal-timeline-wrap {
    flex-wrap: wrap;
    justify-content: left;
    > li {
        padding-top: 1em;

        @media(variables.$bp-larger-than-phablet) {
            margin-bottom: 2em;
        }
        .o-article__headline {
            margin-block: 1em;
            font-size: 0.85em;
        }

        &.timeline-dot::before {
            width: 0.6em;
            height: 0.6em;
            border: 0.3em solid var(--background);

            left: -0.7em;
            top: -0.7em;
        }

        &.timeline-dot .o-article__published,.o-article__seemore {
            margin-top: 0;
            margin-bottom: 1em;
        }
    }
}

ul.vertical-timeline {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 5em;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    overflow-x: clip;

    &.wrapping {
        @media(variables.$bp-larger-than-phablet) {
            max-height: 400px;
            li {
                width: calc(50% - 2.5em);
            }
        }
    }

    li {
        position: relative;
        margin-right: 3em;
        border-left: 0.2em solid var(--timeline-colour);
        
        font-size: 15px;

        p.o-article__published, .o-article__seemore {
            margin: 0;
        }

        .o-article--bullet {
            margin-inline: 1em 0;
        }

        &.timeline-dot {
            padding-top: 1em;
            &::before {
                width: 1em;
                aspect-ratio: 1;
                
                left: -0.6em;
                top: 1em;
            }
        }
        
        &.inverted.timeline-dot::before {
            width: 1.4em;
            left: -0.8em;

            border: 0.2em solid var(--background);
        }
    }
    li.timeline-dot:first-child {
        padding-top: 0;
        &::before {
            top: 0;
        }
    }

    @media(variables.$bp-larger-than-phablet) {
        &.right-align-on-desktop {
            li 
            {
                border-left: none;
                border-right: 0.2em solid var(--timeline-colour);

                text-align: right;

                .o-article--bullet {
                    margin-inline: 0 1.25em;
                }

                &.timeline-dot {
                    &::before {
                        left: auto;
                        right: -0.6em;
                    }
                }
                &.inverted.timeline-dot {
                    &::before {
                        left: auto;
                        right: -0.8em;
                    }
                }
            }
        }
    }
}

.grouped_timeline {
    margin-block: 1em;
    display: table;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    td, th {
        padding-inline: 0.5em;
        max-width: 300px;
        min-width: 5em;
        vertical-align: top;
    }
    td:first-child, th:first-child{
        padding-left: 0;
        text-align: left;
    }
    td:last-child, th:last-child {
        padding-right: 0;
        text-align: right;
    }
    th.grouped_timeline--group-header {
        position: relative;
        padding-bottom: 0.5em;
        border-bottom: 0.2em solid var(--timeline-colour);
        vertical-align: bottom;
        div.grouped_timeline--group-header-date {
            font-weight: 400;
            font-size: 0.8em;
            text-transform: uppercase;
            color: var(--header_color);
        }
        h3.grouped_timeline--group-header-label {
            margin-top: 0.25em;
            color: var(--color-ubyssey_blue);
            font-weight: 600;
        }
        &::after {
            content: "";
            background-color: var(--background);
            width: 1em;
            aspect-ratio: 1;
            border: 0.2em solid var(--timeline-colour);
            transition: background-color 0.5s ease;
            border-radius: 100%;
            position: absolute;
            left: 50%;
            bottom: -0.6em;
            transform: translateX(-50%);
        }
        &:first-child::after {
            left: 0;
            transform: none;
        }
        &:last-child::after {
            left: auto;
            right: 0;
            transform: none;
        }
    }
    td > ul {
        padding-left: 1em;
        list-style: circle;
        li {
            margin-bottom: 1em;
            font-family: fonts.$font-headline;
            font-variation-settings: "wght" 400;
            font-size: 0.9em;
            a {
                text-decoration: underline var(--timeline-colour) 1px;
            }
        }
    }

    td:last-child > ul > li {
        width: fit-content;
        margin-left: auto;
    }
}