{% extends 'ubyssey/base.html' %}
{% load humanize %}
{% load static %}
{% load cache %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% load ubyssey_ad_tags %}
{% load ubyssey_ad_filters %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'ubyssey/css/section.css' %}" type="text/css" />

<link rel="stylesheet" href="https://use.typekit.net/qri0ucm.css"> <!-- Remove once spoof 2026 is over -->
{% endblock %}

{% block head_scripts %}
<link rel="alternate" type="application/atom+xml" title="Ubyssey {{self.title}} feed" href="{% pageurl self %}rss/">
  {% cache 6000 section_ad_tags %}
  <!-- Register ads for section page -->
  {% for orderable in settings.ads.AdTagSettings.section_head_tags.all %}
    {% gpt_define_tag orderable.ad_slot %}
  {% endfor %}
  {% endcache %}
{% endblock %}

{% block header %}
  <div class="o-advertisement--above-sticky-nav-bar">
  {% include 'navigation/headers/mobile.html' %}
    {% cache 6000 section_header_ads %}
    <!-- Place header ads for section page -->
    {% for orderable in settings.ads.AdTagSettings.section_header_placements.all %}
      {% gpt_placement_tag orderable.ad_slot %}
    {% endfor %}
    {% endcache %}
  </div>
  {% include 'navigation/headers/topbar.html' with section=section_slug %}
{% endblock %}

{% block content %}
  <main class="section">
    
    <div class="u-container u-container--mid">

      {% if self.top_stream|length == 0 %}
        {% if self.banner %}
          {% image self.banner fill-2200x734-c100 format-webp as banner_image %}
          <div class="banner" style="background-image: url('{{banner_image.full_url}}');" aria-label="{{self.title}} Banner" >
            <svg class="banner-title" viewBox="0 0 450 70">
              <text x="10" y="50">{{self.title}}</text>
            </svg>
          </div>
          <div class="c-section__description banner-description">
            {% if parent %}<b><a href="{% pageurl parent %}">From {{parent.title}}</a></b> &ensp;{% endif %}{{self.description|richtext}} <a href="{% pageurl self %}rss/" aria-label="Go to rss feed"><ion-icon name="logo-rss"></ion-icon></a>
          </div>
          {% include "section/objects/category_bar.html" with section=self%}
        {% else %}
          {% include "section/objects/section_heading.html" with section=self parent=parent %}
        {% endif %}
      {% endif %}

      {% for block in self.top_stream %}
        {% include_block block %}
      {% endfor %}

      <div class="o-feed-item c-section__all-articles-list">
        <div class="lightmode section_infinitefeed">

        {% if error %}
          <p class="section-error"><a href="{% pageurl self %}">{{error}}</a></p>
        {% else %}
          {% include 'infinitefeed/infinitefeed.html' with filters=filters %}
        {% endif %}
        </div>
        {% include 'infinitefeed/objects/infinitefeed-sidebar.html' with styling="c-section__sidebar" id="sidebar" sidebar_stream=self.sidebar_stream %}
        {% if not error %}
        <script src="{% static 'ubyssey/js/infinitefeed.js' %}" type="text/javascript"></script>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock %}
