{% load wagtailcore_tags %}
<div class="c-section__info">

<div class="featured_categories">
    <ul>
        {% if parent %}
            <li class="featured_categories__section_heading"><a href="{% pageurl parent %}" title="{{ parent.title }}">{{ parent.title }}</a></li>
        {% else %}
            <li class="featured_categories__section_heading"><a href="{% pageurl page %}" title="{{ page.title }}">{{ page.title }}</a></li>
        {% endif %}

        {% for category_menu_item in page.category_menu.all %}
            {% if category_menu_item.category_page %}
            <li><a href="{% pageurl category_menu_item.category_page %}" title="{{ category_menu_item.category_page.title }}">{{ category_menu_item.category_page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="c-section__buttons">
    <div class="o-archive__search c-section__button-label">
    <form method="get">
        <label class="o-archive__search__label" for="c-articles-list__searchbar"><ion-icon name="search"></ion-icon></label>
        <input class="o-archive__search__input" name="q" id="c-articles-list__searchbar" type="text"
        {% if search_query %}value="{{ search_query }}" {% endif %} placeholder="Search" />
    </form>
    </div>

    <div class="setup-modal c-section__button-label">
    <a class="open-modal" href="#"> 
        <p><ion-icon name="pricetag"></ion-icon> {% if parent %}Other {% endif %}Categories</p>
    </a>

    {% include "section/objects/category_modal.html" with section=section_slug %}

    </div>
</div>
</div>