{% load static %}

<div class="glm-promo">

    <h2><i>The Ubyssey's</i> <span>2025 Spoof Issue</span></h2>
    <a class="glm" href="/humour/girlslowermainland/" title="Check out Girls’ Lower Mainland">
        <img src="{% static 'ubyssey/images/spoof/2025/gwl-logo.png' %}" alt="Girls’ Lower Mainland"  width="750" height="774">
    </a>

    <marquee  width="100%" direction="right" height="100px">
        Girls’ Lower Mainland IS ONLINE Girls’ Lower Mainland IS ONLINE Girls’ Lower Mainland IS ONLINE Girls’ Lower Mainland IS ONLINE Girls’ Lower Mainland IS ONLINE Girls’ Lower Mainland IS ONLINE 
    </marquee>

    <img class="piggyback" src="{% static 'ubyssey/images/spoof/2025/glm-cover-sidney-joyce.png' %}" alt="Girls’ Lower Mainland">

</div>