{% load static %}

<div class="glm-promo">

    <h2><i>The Ubyssey's</i> <span>2025 Spoof Issue</span></h2>
    <a class="glm" href="/humour/girlslowermainland/" title="Check out Girl's Lowermainland">
        <img src="{% static 'ubyssey/images/spoof/2025/gwl-logo.png' %}" alt="Girl's Lower Mainland"  width="750" height="774">
    </a>

    <marquee  width="100%" direction="right" height="100px">
        GIRLS LOWERMAINLAND IS ONLINE GIRLS LOWERMAINLAND IS ONLINE GIRLS LOWERMAINLAND IS ONLINE GIRLS LOWERMAINLAND IS ONLINE GIRLS LOWERMAINLAND IS ONLINE GIRLS LOWERMAINLAND IS ONLINE 
    </marquee>

    <img class="piggyback" src="{% static 'ubyssey/images/spoof/2025/glm-cover-sidney-joyce.png' %}" alt="Girl's Lower Mainland">

</div>