{% load humanize %}
{% load wagtailcore_tags %}

<div>
	{% if articles.0 %}
	{% include 'article/objects/infinitefeed_item.html' with article=articles.0 padded=True expectedSection=section.slug %}
	{% endif %}
</div>
<div>
	<ul class="c-homepage__section__bullets">
		{% for article in articles %}
		{% if forloop.counter != 1 %}
			<li>{% include 'article/objects/bullet.html' with article=article %}</li>
		{% endif %}
		{% endfor %}
		<li>
			<div class="o-article--bullet">
				<h3 class="o-article__headline">
					<a href="{{link}}">See more</a>
				</h3>
			</article>
		</li>
	</ul>
</div>