{% comment %} 
Arguments: featured_articles a list of article pages
Used in both section pages and homepage
{% endcomment %}
{% load wagtailcore_tags %}

{% include 'article/objects/infinitefeed_item.html' with article=featured_articles.first expectedSection=section.slug %}

<div class="c-section__featured__articles">
  {% for article in featured_articles %}
    {% if forloop.counter != 1 %}
      {% include 'article/objects/blog_column.html' with article=article%}
    {% endif %}
  {% endfor %}

  <div class="o-article o-article--column" style="width: fit-content;">
    <div class="o-article__meta">
      <h3 class="o-article__headline" style="padding: 0.3em;">
      <a href="{% pageurl section %}" style="margin: 0.5em;">See More</a>
    </h3>
    </div>
  </div>
</div>
