{% comment %} 
Arguments: featured_articles a list of article pages
Used in both section pages and homepage
{% endcomment %}
{% load wagtailcore_tags %}

<h2 class="section">
      <a href={{ link }}>{{ title|title }}</a>
</h2>
<section class="landing_stream_block landing_stream_block--one-large-left">

  <div class="o-section_article-row">

    {% if articles %}
    {% with lede="true" byline="true" style="o-article--suggested_article o-article--suggested_article--large" article=articles.0 %}
    {% include 'article/objects/article_left-image.html' %}
    {% endwith %}
  
    {% include 'section/objects/section_row_block.html' with articles=articles|slice:"1:" title="" show_bylines="true" %}
    {% endif %}
  </div>
</section>