{% load humanize %}
{% load cache %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

<div class="landing-stream-block__timeline landing-stream-block__borders landing_stream_block u-container u-container--large u-container--padded">
  <div class="landing_stream_block--header">
    <h2>{% if link %}<a href="{{link}}">{{title}}</a>{% else %}{{title}}{%endif%}</h2>
    {% if description %}
      {{description}}
    {% endif %}
  </div>
<div class="landing_stream_block--flex-container">
  {% if articles.0 %}
    {% include 'article/objects/article_column.html' with article=articles.0 style='article--round_with_border' lede=false byline=false %}
  {% endif %}

	<ul class="vertical-timeline">
    {% for article in articles|slice:"1:" %}
			<li {% ifchanged article.published_at %}class="timeline-dot"{% endifchanged %}>
        <article class="o-article o-article--bullet">
          {% ifchanged article.published_at %}<p class="o-article__published">{{ article.published_at|display_pubdate }}</p>{% endifchanged %}
          <h3 class="o-article__headline">
            <a href={% pageurl article %}>{{ article.title|safe }}</a>
          </h3>
        </article>
      </li>
		{% endfor %}
		<li class="timeline-dot">
			<div class="o-article--bullet">
				<h3 class="o-article__seemore">
					<a href="{{link}}">See more</a>
				</h3>
			</article>
		</li>
	</ul>
</div>

</div>