{% load humanize %}
{% load cache %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

<div class="c-homepage__section__timeline u-container u-container--large u-container--padded">
  <h2><a href="{{link}}">{{title}}</a></h2>
<div class="c-homepage__section__timeline-flex">
  {% if articles.0 %}
    {% with article=articles.0 %}
    <article class="o-article article--timeline {%if article.featured_media.first.video %}video-article{% endif %}" time="{{article.explicit_published_at|naturalday}}">
      {% if article.featured_media.first %}
      {% if article.featured_media.first.image %}
      <div class="o-article__left">
        <div style="position:relative">
          <a href="{% pageurl article %}" class="o-article__image">
            {% image article.featured_media.first.image fill-340x238-c100 format-webp %}
          </a>
          {% if label %}
            {% if article|get_label %}
              <a href="{{article|get_section_link}}">
                <img class="o-article__label" src="{{article|get_label}}">
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% elif article.featured_media.first.video %}
      <div class="o-article__left">
        <div class="o-article__video">
          <iframe src="https://www.youtube.com/embed/{{ article.featured_media.first.video.url|youtube_embed_id|safe }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
      {% endif %}
      <div class="o-article__right">
        <div class="o-article__meta">
          <p class="o-article__published">{% if article.explicit_published_at %}{{ article.explicit_published_at|display_pubdate }}{% else %}{{ article.first_published_at|display_pubdate }}{%endif%}</p>
          <h3 class="o-article__headline">
            <a href="{% pageurl article %}">{{ article.title|safe }}</a>
          </h3>
        </div>
      </div>
    </article>
    {% endwith %}
  {% endif %}

	<ul>
    {% for group in articles|slice:"1:"|group_by_date %}
      {% for article in group %}
			<li {% if forloop.counter == 1 %}class="first_of_date"{% endif %}>
        {% if forloop.counter == 1 %}
        <div class="bullet"></div>
        {% endif %}
        <article class="o-article o-article--bullet">
          {% if forloop.counter == 1 %}<p class="o-article__published">{% if article.explicit_published_at %}{{ article.explicit_published_at|display_pubdate }}{% else %}{{ article.first_published_at|display_pubdate }}{%endif%}</p>{% endif %}
          <h3 class="o-article__headline">
            <a href={% pageurl article %}>{{ article.title|safe }}</a>
          </h3>
        </article>
      </li>
      {% endfor %}
		{% endfor %}
		<li>
      <div class="bullet"></div>
			<div class="o-article--bullet">
				<h3 class="o-article__seemore">
					<a href="{{link}}">See more</a>
				</h3>
			</article>
		</li>
	</ul>
</div>

</div>