{% load humanize %}
{% load cache %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

<div class="article-timeline landing_stream_block u-container u-container--large">

    {% include 'article/objects/article_column-pubdate-bottom.html' with style="pubdate-bottom left-right-desktop big" article=articles|first lede="true" byline="true" pubdate="true" %}

    <div class="article-wrap">
        {% for article in articles|slice:"1:"%}
            {% include 'article/objects/article_column-pubdate-bottom.html' with style="pubdate-bottom small" article=article pubdate="true" %}
        {% endfor %}
    </div>
</div>