{% load humanize %}
{% load cache %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

{% with self.article.get_articles_by_tag as tagArticles %}
    {% if tagArticles %}
    <div class="timeline">
        <div class="timeline-title">More on '{{self.article.get_primary_tag_link|safe}}'</div>
        <ul class="horizontal-timeline">
            {% for tagArticle in tagArticles %}
            <li {% ifchanged tagArticle.published_at|display_pubdate %}class="timeline-dot"{% endifchanged %} >
                
                {% ifchanged tagArticle.published_at|display_pubdate %}
                    <div class="o-article__published">{{tagArticle.published_at|display_pubdate}}</div>
                {% endifchanged %}
                <div class="o-article__headline"><a href="{% pageurl tagArticle %}">{{tagArticle.title|safe}}</a></div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endwith %}