.c-nav-footer {
  padding-top: 3rem;
  display: flex;
  @media ($bp-smaller-than-mobile) {
    display: block;
  }
  flex-wrap: wrap;
  align-items: stretch;
  background-color:black;
  color: white;
  font-family: $text-font;
  * {
    color:white;
    text-decoration: none;
  }
  a:hover {
    color:rgb(255, 218, 8);
  }
  .container {
    padding: 0em;
  }

  .c-footer__self-link {
    width: 10em;
    display: block;
    margin-bottom: 2em;

    img {
      width: 100%;
    }
  }

  p {
    margin-left: 0;
    font-size: 1.2em;
    font-weight: $text-weight;
    text-align: left;
  }

  .footer_social-media {
    margin: 2em 0;
    display: flex;
    >a {
      margin-right: 2em;
      font-size: 1.5em;
    }
  }

  .c-footer__ubyssey-link {
    font-size: 0.8em;
  }

  .c-footer__copyright {
    border-top: 2px solid white;
    padding: 2rem 0;

    font-size: 12px;
    font-family: futuraPT;
    font-weight: 500;
  }

}