{% load wagtailcore_tags%}
<div class="o-curated-stream-grid--container">
    {% for headline in self.headline %}
        {% include_block headline%}
    {% endfor %}
    <div class="o-curated-stream-grid o-curated-stream-grid-rows--{{self.rows}}">
        {% for cell in self.cells %}
            <div class="o-curated-stream-grid--cell">
                {% for item in cell.items %}
                    {% include_block item with cell_id=cell.id item_id=item.id %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>