{% load humanize %}
{% load cache %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

<article class="headline-top-articles">
    <div class="above-headline"><span class="o-article__published">{{ article.published_at|display_pubdate }}</span> {% if article.title_tag_str %}<span class="title-tag">{{article.title_tag_str}}//</span>{% endif %}</div>
    <h3 class="o-article__headline"><a href="{% pageurl article %}">{{article.title|safe}}</a></h3>
    <div class="o-article--default">
        <div class="left">
            <a href="{% pageurl article %}">
                {% srcset_image article.featured_media.first.image width-{340,750,1500} format-webp webpquality-70 as article_top_headline_image %}

                <img
                    src="{{ article_top_headline_image.renditions.0.url }}"
                    width="{{ article_top_headline_image.renditions.0.width }}"
                    height="{{ article_top_headline_image.renditions.0.height }}"
                    alt="{{ article.featured_media.first.alt_text }}"
                    srcset="{{ article_top_headline_image.renditions.0.url }} 340w, {{ article_top_headline_image.renditions.1.url }} 750w, {{ article_top_headline_image.renditions.2.url }} 1500w"
                    sizes="(max-width: 600px) 340px,
                           (max-width: 1200px) 750px,
                           1500px"
                />
            </a>
        </div>
        <div class="right">
            <p class="lede">{{article.lede|safe}} <span class="read-more"><a href="{% pageurl article %}">Read more.</a></span></p>
            <p class="o-article__byline">
                <span class="o-article__author">{{ article.get_authors_split_out_visual_bylines|safe }}</span>
            </p>
        </div>
    </div>
</article>