{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% for author in self.authors_in_order %}
    {% if author.author.image and author.author.display_image %}
        {% include "article/objects/author_card.html" with author=author %}
    {% endif %}
{% endfor %}


{% for author in self.authors_in_order %}
    {% if author.author.image == None or author.author.display_image == False %}
        {% include "article/objects/author_card.html" with author=author %}
    {% endif %}
{% endfor %}