{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="c-article__info">
    {% comment %}
        {% include 'objects/social-icons.html' with article=article layout='top' %}
    {% endcomment %}

        
        <div class="c-authors_info">
            {% for author_info in self.authors_info %}
                {% if author_info.1 != None %}
                    <div class="author_card">
                        <div class="author_image_container">
                            {% image author_info.1 width-200 class="author_image" %}
                        </div>

                        <div class="authors_info_inner">
                            <div class="author_title">
                                {{ author_info.0|safe }}
                            </div>

                            <div class="author_info">
                                    <span class="author_role">{{author_info.2}}</span> | <span class="author_bio">{{ author_info.3|default_if_none:"" }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="author_card">
                        <div class="authors_info_inner">
                            <div class="author_title">
                                {{ author_info.0|safe }}
                            </div>

                            <div class="author_info">
                                    <span class="author_role">{{author_info.2}}</span> | <span class="author_bio">{{ author_info.3|default_if_none:"" }}</span>
                            </div>
                        </div>
                        
                    </div>
                {% endif %}
            {% endfor %}
        </div>
</div>


<div class="c-authors_bio_meta">
    <div class="c-article__byline">

        <div class="c-article__byline__meta">
            <span class="c-article__published-at">{{ self.published_at|date:'N j, Y' }}</span>
                                
            {% if reading_time %}
                <span> &nbsp;&middot;&nbsp; </span>
                <span class="c-article__reading-time">{{ reading_time }} min read</span>
            {% endif %}

            {% if article.subsection  %}
                <span> &nbsp;&middot;&nbsp; </span>
                <a href="{{ article.subsection.get_absolute_url }}">
                    <span class="c-article__reading-time">{{ article.subsection.name }}</span>
                </a>
            {% endif %}
            
        </div>
    </div>
</div>
    

