{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load article_authors %}

<div class="author_card">
    {% if author.author.image and author.author.display_image %}
        <div class="author_image_container">
            {% image author.author.image width-200 class="author_image" %}
        </div>
    {% endif %}

    <!-- if forloop.first and no image then 0 padding for the authors_info left, author_info and author title-->
    <div class="authors_info_inner {% if author.author.display_image == False %} no_image {% endif %}">
        <div class="author_info">
            <div class="author_title"><a href="{{ author.author.full_url }}">{{ author.author.full_name|safe }}</a></div>   
            <div class="author_role">
                {% if author.author_role == "org_role" %}
                {{author.author.ubyssey_role}}
                {% else %}
                {{author.author_role}}
                {% endif %}
            </div> 
        </div>

        {% if author.author.short_bio_description != "" %}
            <div class="author_info">
                <div class="author_bio">{{ author.author.short_bio_description }}</div>
            </div>
        {% else %}
            <div class="author_info">
                <div class="author_space"></div> 
            </div>
        {% endif %}
        </div>
</div>