{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="author_card">
    {% if author.image %}
        <div class="author_image_container">
            {% image author.image width-200 class="author_image" %}
        </div>
    {% endif %}
    
    <div class="authors_info">
        <div>
            <span class="author_title"><a href="{{author.full_url}}">{{ author.full_name}}</a></span>
            <span class="author_role">{{role}}</span>
        </div>

        {% if author.short_bio_description != "" %}
        <div class="author_bio">{{author.short_bio_description}}</div>
        {% endif %}
    </div>
</div>