{% load static %}
{% load wagtailimages_tags %}

<div class="fw-banner {% if self.show_timeline%} timeline-banner {% endif %} {{ self.header_layout }}">
    {% if self.show_timeline%}
        <div class='c-timeline' data-current-article-id={{self.id}} data-timeline-title="{{self.timeline}}" data-nodes="{{self.timeline.data}}"></div>
    {% endif %}
    {% if self.header_layout == 'right-image' %}
        <div class="header-container">
            <div class="headline-container left">
                {% include 'article/objects/fw_article_headline_container.html' %}
            </div>
            <div class="right">
                <div class="full-width featured-media">
                    {% include 'article/objects/fw_article_featured_media.html' %}
                </div>
            </div>
        </div>
    {% elif self.header_layout == 'left-image' %}
        <div class="header-container">
            <div class="left">
                <div class="full-width featured-media">
                    {% include 'article/objects/fw_article_featured_media.html' %}
                </div>
            </div>
            <div class="headline-container right">
                {% include 'article/objects/fw_article_headline_container.html' %}
            </div>
        </div>
    {% elif self.header_layout == 'top-image' %}
        <div class="header-container">
            <div class="featured-media">
                {% include 'article/objects/fw_article_featured_media.html' %}
            </div>
            <div class="headline-container">
                {% include 'article/objects/fw_article_headline_container.html' %}
            </div>
        </div>
    {% elif self.header_layout == 'banner-image' %}
        {% with self.featured_media.first as featured_image_object %}
            <div class="banner-image">
                {% image featured_image_object.image original as featured_image %}
                <div class="backdrop" style="background-image: url('{{ featured_image.url }}'); {{ featured_image.background_position_style }};"></div>
                <div class="headline-container">
                    <div class="u-container u-container--padded">
                        
                        {% if self.title_tag %}
                            <h2 class="title-tag">{{self.title_tag}}//</h2>
                        {% elif self.category %}
                            <h2 class="title-tag">{{self.category.title}}//</h2>
                        {% endif %}
                        
                        <h1 class="headline">
                            {% if self.fw_alternate_title %}
                                {{self.fw_alternate_title|safe}}
                            {% else %}
                                {{ self.title|safe }}
                            {% endif %}
                        </h1>
                        {% if self.fw_above_cut_lede %}
                            <p class="fw-description">{{ self.fw_above_cut_lede }}</p>
                        {% endif %}
                        <div class="article-byline c-article__byline-center">
                            <span class="author">By {{ self.get_authors_with_urls|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ self.published_at }}</span>
                        </div>
                    </div>
                    {% if featured_image_object.caption or featured_image_object.credit %}
                        <div class="caption">
                            {% if featured_image_object.caption %}
                                {{ featured_image_object.caption }}
                            {% endif %}
                            {% if featured_image_object.credit %}
                                <span class="credit">{{ featured_image_object.credit }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>                    
            </div>
            <!-- {% if article.featured_image.caption or article.featured_image.credit %}
                <div class="caption">
                    {{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.credit }}</span>
                </div>
            {% endif %} -->
        {% endwith %}
    {% endif %}
</div>