{% load humanize %}
{% load video_filters %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load articletags %}

<article class="o-article o-article--coverstory{% if padded %} o-article--padded{% endif %}">
  {% if not hide_image and article.featured_media.first.image or article.featured_media.first.video or article.featured_media.file %}
  <div class="o-article__left">
    <a class="o-article__image" href={% pageurl article %}>
      {% if article.featured_media.first.image %}
       {% image article.featured_media.first.image width-500 format-webp %}
      {% elif article.featured_media.first.video %}
        <img src="http://img.youtube.com/vi/{{ article.featured_media.first.video.url|youtube_embed_id|safe }}/0.jpg" alt=""/>
      {% else %}
        {% image article.featured_media width-500 format-webp %}
      {% endif %}
    </a>
  </div>
  {% endif %}
  <div class="o-article__right">
    <mark class="o-article__headline">
      <a href="{% pageurl article %}">{{ article.title|safe }}</a>
    </mark>
    <div class="o-article__meta">
      <p class="o-article__snippet">{% if article.lede %}{{article.lede|safe}}{% else %}{{article.search_description}}{% endif %}</p>
      <div class="o-article__byline">
        <span class="o-article__author">{% if article.get_authors_with_urls %}{{article.get_authors_with_urls|safe }}{% else %}Ubyssey Staff{% endif %}</span>
        <span> &nbsp;&nbsp; </span>
        <a href="{{article|get_section_link}}" class="o-article__section-tag" style="background-color: {{article|get_colour}}">{{article|get_section_title}}</a>
        <span> &nbsp;&nbsp; </span>
        <span class="o-article__published">{% if article.explicit_published_at %}{{article.explicit_published_at|display_pubdate }}{% else %}{{article.first_published_at|display_pubdate}}{% endif %}</span>
      </div>
    </div>
  </div>
</article>