{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}

{% if featured_media.first.image %}
    {% with featured_media.first as featured_image_object %}
        <div class="featured-media">
            {% image featured_image_object.image original as original_image %}
            {% image featured_image_object.image width-1200 format-webp as featured_image %}
            <img class="article-attachment" 
                data-id="{{ featured_image_object.id }}"
                data-caption="{% if featured_image_object.caption %}{{ featured_image_object.caption }}{% endif %}"
                data-credit="{% if featured_image_object.credit %}{{ featured_image_object.credit }}{% endif %}"
                {% comment %}
                    Differences between line data-url and arc attributes represent the difference between
                    the obselete Dispatch equivalent of the URL for the "original image" ("data-url" attribute)
                    the "rendition" ("src" attribute). "data-url" is included for backward compatibility,
                    but "src" secures the primary functionality of this img element.
                {% endcomment %}
                data-url="{{ original_image.url }}"
                src="{{ featured_image.url }}"
                alt=""
            />
            {% if featured_image_object.caption or featured_image_object.credit %}
                <div class="caption">
                    {% if featured_image_object.caption %}
                        {{ featured_image_object.caption }}
                    {% endif %}
                    {% if featured_image_object.credit %}
                        <span class="credit">
                            {{ featured_image_object.credit }}
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% elif featured_media.first.video %}
    {% with featured_media.first as featured_video_object %}
        <div class="featured-media">
            <iframe 
                width="500px" 
                height="281px" 
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" 
                msallowfullscreen="msallowfullscreen" 
                oallowfullscreen="oallowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen"
                src="{{ featured_video_object.video.url|youtube_embed_url|safe }}">
            </iframe>
            {% if featured_video_object.caption or featured_video_object.credit %}
                <div class="caption">
                    {% if featured_video_object.caption %}{{ featured_video_object.caption }}{% endif %} {% if featured_video_object.credit %}<span class="credit">{{ featured_video_object.credit }}</span>{% endif %}
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endif %}