{% comment %} 
    This template object exists because both the "right image" and "top image" style fw articles were using almost identical contents when div class="headline-container"
    It was seperated out to try to make the code more readable
{% endcomment %}

<p class="c-article__published-at">{{ article.published_at|date:'N j, Y' }}</p>

{% if article.title_tag_str %}
    <div class="title-tag">
        <div data-article-editable-page-field="title_tag" data-article-editable-mode="richtext">{{article.title_tag_str|safe}}</div>
        <span>//</span>
    </div>
{% endif %}

<header>
    <h1
        class="o-headline o-headline--article"
        data-article-editable-page-field="title"
    >
        {{ title|safe }}
    </h1>

    {% if self.subtitle %}
        <p class="subtitle" data-article-editable-stream-field="header" data-article-editable-path="subtitle">{{self.subtitle|safe}}</p>    
    {% endif %}
</header>

{% if self.above_cut_lede %}
    <div
        class="o-article--header--above_cut_lede"
        data-article-editable-stream-field="header"
        data-article-editable-path="above_cut_lede"
        data-article-editable-mode="richtext"
    >
    {{ self.above_cut_lede|safe }}
    </div>
{% endif %}

<div class="c-article__info">
    <p class="author-string">{{article.get_authors_split_out_visual_bylines|safe }}</p>
</div>
