{% comment %} 
    This template object exists because both the "right image" and "top image" style fw articles were using almost identical contents when div class="headline-container"
    It was seperated out to try to make the code more readable
{% endcomment %}

<p class="c-article__published-at">{{ self.published_at|date:'N j, Y' }}</p>

{% if self.title_tag_str %}
    <p class="title-tag">{{self.title_tag_str}}//</p>
{% endif %}

<header>
    <h1 class="o-headline o-headline--article">
        {% if self.fw_alternate_title %}
            {{self.fw_alternate_title|safe}}
        {% else %}
            {{ self.title|safe }}
        {% endif %}
    </h1>

    {% if self.subtitle %}
        <p class="subtitle">{{self.subtitle|safe}}</p>    
    {% endif %}
</header>

{% if self.fw_above_cut_lede %}
    <p class="fw-description">{{ self.fw_above_cut_lede }}</p>
{% endif %}

<div class="c-article__info">
    <p class="author-string">{{self.get_authors_split_out_visual_bylines|safe }}</p>
</div>
