{% comment %} 
    This template object exists because both the "right image" and "top image" style fw articles were using almost identical contents when div class="headline-container"
    It was seperated out to try to make the code more readable
{% endcomment %}
<div class="headline-container">
    {% if self.header_layout == 'right-image' or self.header_layout == 'left-image' %}
        {% comment %} Odd choice of class names in this div. Should check the corresponding CSS {% endcomment %}
        <p class="c-article__published-at">{{ self.published_at|date:'N j, Y' }}</p>
        
        {% if self.title_tag %}
            <h2 class="title-tag">{{self.title_tag}}//</h2>
        {% elif self.category %}
            <h2 class="title-tag">{{self.category.title}}//</h2>
        {% endif %}
        <h1 class="headline">
            {{ self.title |safe }}
        </h1>
	{% elif self.header_layout == 'top-image' %}
        <p class="c-article__published-at">{{ self.published_at|date:'N j, Y' }}</p>

        {% if self.title_tag %}
            <h2 class="title-tag">{{self.title_tag}}//</h2>    
        {% elif self.category %}
            <h2 class="title-tag">{{self.category.title}}//</h2> 
        {% endif %}
        
        <h1 class="o-headline o-headline--article">
            {% if self.fw_alternate_title %}
                {{self.fw_alternate_title|safe}}
            {% else %}
                {{ self.title|safe }}
            {% endif %}
        </h1>
    {% endif %}

	{% if self.fw_above_cut_lede %}
		<p class="fw-description">{{ self.fw_above_cut_lede }}</p>
	{% endif %}

    <div class="c-article__info">
        <p class="author-string">{{self.authors_with_roles |safe }}</p>
    </div>

    {% comment %}
    <div class="c-authors_bio_meta">
        <div class="c-article__byline">

            <div class="c-article__byline__meta">
                {% if reading_time %}
                    <span> &nbsp;&middot;&nbsp; </span>
                    <span class="c-article__reading-time">{{ reading_time }} min read</span>
                {% endif %}

                {% if article.subsection  %}
                    <span> &nbsp;&middot;&nbsp; </span>
                    <a href="{{ article.subsection.get_absolute_url }}">
                        <span class="c-article__reading-time">{{ article.subsection.name }}</span>
                    </a>
                {% endif %}
                
            </div>
        </div>
	</div>
    {% endcomment %}
</div>