{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if self.fw_above_cut_lede %}
    <p class="fw-description">{{ self.fw_above_cut_lede }}</p>
{% endif %}

<div class="c-article__info">
    
    {% if self.authors_img_string|length > 1 %}
        {% for author_image in self.authors_img_string %}
            {% if author_image != None %}
                {% image author_image width-75 class="author_image" %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% image self.authors_img_string width-50 class="author_image" %}
    {% endif %}
    
    <div class="c-authors_bio">
        <div class="article-byline c-article__byline-center">
            <span class="author">By {{ self.get_authors_with_urls|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ self.published_at }}</span>
        </div>
    </div>
    
</div>