{% load cache %}
{% load wagtailcore_tags %}
{% load video_filters %}
{% load articletags %}

<h3 class="o-article__headline">
    <a href="{% pageurl article %}">
        {{ article.title|safe }}
    </a>
</h3>
<div class="above-headline">
    <span class="o-article__published">{{ article.published_at|display_pubdate }}</span>
    {%if expectedSection != article.current_section %}<a class="o-article__section" href="/{{article.current_section}}/">{{article.current_section}}</a>{% endif %}<span class="o-article__byline">{{article.get_authors_split_out_visual_bylines|safe}}</span>
</div>