{% load cache %}
{% load humanize %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

{% if article %}
<article class="o-article article--infinitefeed {%if article.featured_media.first.video %}video-article{% endif %}" time="{{article.explicit_published_at|naturalday}}">
	{% if article.featured_media.first %}
	{% if article.featured_media.first.image %}
	<div class="o-article__left">
		<div style="position:relative">
			<a href="{% pageurl article %}" class="o-article__image">
				{% image article.featured_media.first.image fill-340x238-c100 format-webp loading='lazy' alt=article.featured_media.first.alt_text %}
			</a>
			{% if label %}
				{% if article|get_label %}
					<a href="{{article|get_section_link}}">
						<img class="o-article__label" src="{{article|get_label}}" alt="{{article|get_section_title}}" >
					</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	{% elif article.featured_media.first.video %}
	<div class="o-article__left">
		<div class="o-article__video">
			<iframe src="https://www.youtube.com/embed/{{ article.featured_media.first.video.url|youtube_embed_id|safe }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
	{% endif %}
	{% endif %}
	<div class="o-article__right">
		<div class="o-article__meta">
			{%if expectedSection != article.current_section %}
			<div class="o-article__section">
				<a href="{{article|get_section_link}}">{{article|get_section_title}}</a>
			</div>
			{% endif %}
			<h2 class="o-article__headline">
				<a href="{% pageurl article %}">{{ article.title|safe }}</a>
			</h2>
			<p class="o-article__snippet">{{ article.lede|safe }}</p>
			<p class="o-article__byline">
				<span class="o-article__author">{{ article.get_authors_split_out_visual_bylines|safe }}</span>
				<span> &nbsp;&nbsp; </span>
				<span class="o-article__published">{{ article.explicit_published_at|display_pubdate }}</span>
			</p>
		</div>
	</div>
</article>
{% endif  %}