
<div class="c-article__byline">
    <div class="c-article__share">Share </div>
    <div class="c-article__byline__meta">
        <span class="c-share-buttons" style="">
            <a href="#" class="share-facebook c-share_space"><i class="fa fa-facebook fa--xx" aria-hidden="true"></i></a>
            <a href="#" class="share-twitter c-share_space"><i class="fa fa-twitter fa-x" aria-hidden="true"></i></a>
            <a href="#" class="share-linkedin c-share_space"><i class="fa fa-linkedin fa-x" aria-hidden="true"></i></a>
            <a href="#" class="share-link c-share_space"><i class="fa fa-link fa-x" aria-hidden="true"><span id="custom-tooltip">copied!</span></i></a> 
            <textarea class="visuallyhidden" id="box"></textarea>
        </span>
    </div>
</div>