

<span class="c-share-buttons" style="">
    <a href="#" class="share-facebook c-share_space" title="Share to Facebook"><i class="fa fa-facebook fa-xx" aria-hidden="true"></i></a>
    <a href="#" class="share-twitter c-share_space" title="Share to Twitter"><i class="fa fa-twitter fa-xx" aria-hidden="true"></i></a>
    <a href="#" class="share-reddit c-share_space" title="Share to Reddit"><i class="fa fa-reddit fa-xx" aria-hidden="true"></i></a>
    <a href="#" class="share-link c-share_space" title="Copy Link to Clipboard"><i class="fa fa-link fa-xx" aria-hidden="true"><span id="custom-tooltip">copied!</span></i></a> 
    <textarea class="visuallyhidden" id="box"></textarea>
</span>
