{% load video_filters %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load articletags %}

{% load humanize %}

<article class="ar-suggested-card">
  {% if not hide_image and article.featured_media.first.image or article.featured_video %}
    <a class="ar-suggested-card__image" href={% pageurl article %}>
      {% if article.featured_media.first.image %}
       {% image article.featured_media.first.image fill-250x225-c100 format-webp loading='lazy' alt=article.featured_media.first.alt_text %}
      {% else %}
        <img src="http://img.youtube.com/vi/{{ article.featured_video.video.url|youtube_embed_id|safe }}/0.jpg" alt=""/>
      {% endif %}
    </a>
  {% endif %}
  <h3><a href="{% pageurl article %}">{{ article.title|safe }}</a></h3>
</article>
