{% comment %} 
Arguments: suggested_articles a list of article pages
Used in both section pages and homepage
{% endcomment %}

{% load article_display %}

{% if suggested_articles|length != 0 %}
  {% if self.category_articles|length != 0 %}
    {% if self.category == None or self.category_articles|length == 1 %}
        <h2 class="block-title">FROM THE {{ self.current_section }}</h2>
    {% else %}
        <h2 class="block-title">FROM THE {{ self.category }}</h2>
    {% endif %}
        <br>
  {% endif %}
  
  {% if suggested_articles|length != 0 %}
    <div class="c-section__featured__articles u-flex--tablet">
    {% for article in suggested_articles %}
        {% include 'article/objects/column.html' with article=article %}
        {% if not forloop.last %}
          {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="c-section__featured__articles u-flex--tablet">
          {% endif %}
          
        {% else %}
            
          </div>
        {% endif %}

    {% endfor %}
  {% endif %}
{% endif %}
