@use "../fonts";
@use "../variables";

.c-banner {
  display: block;
  z-index: 200;
  padding: 15px 0;

  line-height: 1rem;
  background-color: variables.$color-ub-blue;
  color: variables.$color-white;
  font-size: fonts.font-size(16);
  font-weight: fonts.$font-weight-semi-bold;
  text-align: center;

  &:hover {
    color: inherit;
  }
}
