@use "../fonts";
@use "../variables";

.c-widget-event {
  margin-top: 2rem;
}

.c-widget-event__view-all {
  margin-top: 0.777em;
  text-align: right;

  font-family: fonts.$font-default;
  font-size: fonts.font-size(14);
  font-weight: fonts.$font-weight-semi-bold;
  color: variables.$color-text-gray-light;
  letter-spacing: 0.045em;
}
