<div class="o-article-embed o-article-embed--advertisement">
    <div class="o-article-embed__advertisement">
        <div class="o-advertisement o-advertisement--banner o-advertisement--center">
            <div class="adslot" id="{{ div_id }}" data-size="banner" data-dfp="{{ dfp }}">
                {% comment %}
                    See: 
                    https://developers.google.com/publisher-tag/guides/get-started
                {% endcomment %}
                <script>
                    googletag.cmd.push(function() {
                    googletag.display('{{ div_id }}');
                    });
                </script>          
            </div>
        </div>

        <div class="o-advertisement o-advertisement--mobile-leaderboard o-advertisement--center">
            <div class="adslot" id="{{ div_id }}" data-size="mobile-leaderboard" data-dfp="{{ dfp }}">
                {% comment %}
                    See: 
                    https://developers.google.com/publisher-tag/guides/get-started
                {% endcomment %}
                <script>
                    googletag.cmd.push(function() {
                    googletag.display('{{ div_id }}');
                    });
                </script>          
            </div>
        </div>       
    </div>
</div>