{% load static %}

<nav id="top" class="{{selected}}">
    <ul>
        <li class="logo"><a href="/humour/girlslowermainland/">
            <img src="{% static 'ubyssey/images/spoof/2025/gwl-logo.png' %}" alt="Girl's Lower Mainland">
        </a></li>
        <li class="get-it-together"><a href="/humour/girlslowermainland/get-it-together">Get it together</a></li>
        <li class="people-and-cairns"><a href="/humour/girlslowermainland/people-and-cairns">People & Cairns</a></li>
        <li class="from-alleged-readers"><a href="/humour/girlslowermainland/from-alleged-readers">From Alleged Readers</a></li>
        <li class="useless-crafts"><a href="/humour/girlslowermainland/useless-crafts">Useless Crafts</a></li>
        <li class="activities-and-whatnot"><a href="/humour/girlslowermainland/activities-and-whatnot">Activities & Whatnot</a></li>
    </ul>
</nav>