{% load static %}
{% load cache %}
{% load menu_tags %}
<footer>
    <div class="u-container u-container--large">

        <div class="about">
            <div class="footer-branding">
                <img class="logo" src="{% static 'ubyssey/images/ubyssey-logo-blue.svg' %}" alt="The Ubyssey Logo"/>
                <img class="funding" src="{% static 'ubyssey/images/canada-funding-dark.png' %}" alt="Funded by the Government of Canada"/>
            </div>
            
            <div class="about-text">
                <h2><span>The Ubyssey</span> has been UBC’s student newspaper since 1918, independent since 1995.</h2>
                <p>Published bi-weekly in print and daily online, we cover what matters most to UBC students.
                </p>
                <h3>Stay in the loop</h3>
                <ul>
                    <li><a href="/rss" target="_blank" title="Rss feed">Rss feed</a>,</li>
                    <li><a href="/newsletter" target="_blank" title="Newsletter">Newsletter</a>,</li>
                    <li><a href="https://discord.gg/aTkCjyAvxh" target="_blank" title="Discord link">Join the Discord</a></li>
                </ul>
                <h3>Keep up with us on social media</h3>
                <ul>
                    <li><a href="https://www.instagram.com/ubyssey/" target="_blank" title="The Ubyssey on Instagram">Instagram</a>,</li>
                    <li><a href="https://www.tiktok.com/@ubyssey" target="_blank" title="The Ubyssey on Tiktok">TikTok</a>,</li>
                    <li><a href="https://twitter.com/Ubyssey" target="_blank" title="The Ubyssey on Twitter">Twitter</a>,</li>
                    <li><a href="https://www.facebook.com/ubyssey" target="_blank" title="The Ubyssey on Facebook">Facebook</a></li>
                </ul>
                <p>Have feedback? Email <a href="mailto:feedback@ubyssey.ca" title="Email address for feedback">feedback@ubyssey.ca</a>.</p>
            </div>
        </div>
        <nav>
            <div class="top-row">
                <ul class="sections">
                    {% main_menu show_multiple_levels=False apply_active_classes=False %}
                </ul>
            </div>
            <div class="bottom-row">
                <ul class="pages">
                    {% flat_menu 'second_footer_menu' max_levels=1 show_menu_heading=False fall_back_to_default_site_menus=True %}
                </ul>
            </div>
        </nav>
        <div class="copyright">&copy; {% now "Y" %} The Ubyssey</div>
    </div>
</footer>
