article.academic-probation {
    border-image: url('/static/ubyssey/images/spoof/2025/elena.gif');
    border-image-width: 25%;
    background-color: #9adbc0;
    .flex-container {
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        .right {
            margin: 2em auto;
            padding: 0.5em;
            width: fit-content;
            border-radius: 1em;
            border: ridge;
            background: #f0c9e2;
            font-weight: 300;
        }
    }
    h2 {
        font-size: 2em;
        text-align: center;
        transform: skewY(-3deg);
        span.title {
            display: block;
            font-size: 1.5em;
        }
        span.emphasis {
            font-size: 1.2em;
            transform: skewY(3deg);
            position: relative;
            display: inline-block;
            padding: 0.25em;
            text-decoration: underline;
        }
    }
    p {
        max-width: 600px;
    }
}