
.frat-girl {
    $wd-blue: #adcef2;
    $wd-blue-2: #cedbff;
    $gw-pink: #ba2e62;
    $gw-pink-2: #bf2a63;
    display: flex;
    padding-bottom: 0;
    background: linear-gradient(88deg, #f2e4ed 36%, #e7cade 36%);

    .left {
        margin-right: 2em;
        display: flex;
        max-width: 550px;
        flex-direction: column;
        flex-shrink: 0;
        .intro {
            padding: 1.5em;
            margin: 2em 0 2em 3em;
            background-color: white;
            border-radius: 1em;
            transform: rotate(2deg);

            color: $gw-pink;
            font-family: sans-serif;
            filter: drop-shadow(0 0 15px $wd-blue);
        }
        h2 {
            margin: 1em;
            text-align: center;
            font-size: 2em;
            font-weight: 800;
            font-family: "zubilo-shadow",sans-serif;
        }
        p {
            margin-inline: auto;
            max-width: 700px;
            font-size: 1.1em;
            line-height: 1.5em;
            font-family: "myriad-pro",sans-serif;
        }
        .frat-girl-container {
            display: flex;
            flex-grow: 1;
        }
        img.frat-girl-img {
            margin-inline: -2em;
            position: sticky;
            top: 2em;
            width: auto;
            height: calc(100vh - 2em);
            filter: drop-shadow(0 0 2em white);
        }
    }
    .right {
        width: 100%;
        div.header {
            padding: 0.25em;
            margin-left: 5%;
            margin-block: 2em;
            width: fit-content;

            transform: skewY(-3deg);
            span {
                margin-inline: auto;
                display: block;
                width: fit-content;
                font-size: 1.5em;
                font-family: "felt-tip-roman",sans-serif;
            }
            h2 {
                margin-top: 0;
                width: fit-content;
                font-size: 5em;

                color: $gw-pink;
                text-shadow: -0.1em 0.1em white;
                font-family: "octin-college",sans-serif;
            }
        }
        .interview {
            margin-inline: auto;
            margin-bottom: 50%;
            width: 100%;
            max-width: 700px;
            .interview-glm, .interview-wardhat {
                padding: 0.75em;
                max-width: 540px;
                width: fit-content;

                border: 2px solid white;
                filter: drop-shadow(0 0 2em #f2e4ed);
                color: white;
                font-family: sans-serif;
                line-height: 1.5em;
                &::before {
                    padding: 0.25em;
                    display: block;
                    position: absolute;
                    top: -0.5em;
                    height: 3em;
                    width: 3em;

                    content: "";

                    background-size: contain;
                }
            }
            .emphasis {
                font-size: 2em;
            }
            .interview-glm {
                &::before {
                    right: -4em;
                    background-image: url('/static/ubyssey/images/spoof/2025/gwl-logo.png');
                }
                position: relative;
                margin-left: auto;
                margin-right: 4em;
                margin-block: 1.5em;
                border-radius: 1em 0.25em 1em 1em;
                background-color: $glm-pink;
                color: white;
                font-weight: 600;
            }
            .interview-wardhat {
                &::before {
                    left: -4em;
                    background-image: url('/static/ubyssey/images/spoof/2025/frat-girl/frat-girl-pfp.png');
                    border-radius: 100%;
                }
                margin-right: auto;
                margin-left: 4em;
                border-radius: 0.25em 1em 1em 1em;
                background: linear-gradient($wd-blue-2, white, $wd-blue-2);
                color: #bf2a63;
            }
        }
    }

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        .frat-girl-container img.frat-girl-img {
            margin: auto;
            position: relative;
            top: 0;
        }
        .interview {
            margin: 0;
            padding-inline: 3em;
            box-sizing: border-box;
        }
        .left {
            margin-right: 0;
            max-width: none;
            width: auto;
        }
    }
}