.slime {
    background-image: linear-gradient(to bottom, #afcefb, #affbca);
    h2 {
        margin-block: auto 0;
        font-size: 2em;
        text-align: center;
        span {
            display: block;
            font-size: 2em;
        }
    }

    .col-container {
        display: flex;
        justify-content: space-around;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        gap: 2em;
        width: 30%;
        justify-content: space-around;

        .step {
            margin-block: auto;
            padding: 1em;
            height: fit-content;
            background: linear-gradient(transparent, white);
            border-radius: 1em;
            border: 1px solid gray;
        }
        &.center {
            .step {
                margin-block: auto 0;
            }
        }
        .tip {
            margin-top: 1em;
            padding: 1em;
            border: 0.25em dashed;
            transform: rotate(-3deg);
        }
    }
}
