{% load cache %}
{% load humanize %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

{% load wagtailembeds_tags %}
{% load video_filters %}

{% if article %}
<article class="o-article o-article_storystream o-article_storystream_feature" time="{{article.explicit_published_at|naturalday}}">
    
	<div class="o-article__left">
		{{self.raw_html|safe}}
	</div>

	<div class="o-article__right">
		{% include "article/objects/headline.html" %}
	</div>
</article>
{% endif  %}