{% load cache %}
{% load humanize %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}
{% load articletags %}

{% if article %}
<article class="o-article o-article_storystream o-article_storystream_feature {{style}}" time="{{article.explicit_published_at|naturalday}}">
    
	<div class="o-article__left">
        {{ attachment|safe }}
	</div>

	<div class="o-article__right">
		{% include "article/objects/headline.html" %}
		<p>{{article.lede|safe}} <a class="read-more" href="{% pageurl article %}">Read More.</a></p>
		{% include "article/objects/meta_info.html" %}

	</div>
</article>
{% endif  %}