{% load articletags %}

{% comment %}
This template is for the columns for the blog section on the home page under the digital prints section
{% endcomment %}


{% load cache %}
{% load humanize %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load video_filters %}

{% if article %}
<article class="o-article o-article_storystream o-article_storystream_large-headline o-article_storystream_small-headline">
  <div class="o-article__right">
    {% if article.featured_media.first %}
      {% if article.featured_media.first.image %}
        <a class="o-article__image" href="{% pageurl article %}">
          {% srcset_image article.featured_media.first.image format-webp loading='lazy' alt=article.featured_media.first.alt_text fill-{160x160,400x400} sizes="(max-width: 780px) 160px, 400px" %}
        </a>
      {% elif article.featured_media.first.video %}
        <a class="o-article__image" href="{% pageurl article %}" style="background-image: url('http://img.youtube.com/vi/{{ article.featured_media.first.video|youtube_embed_id|safe }}/0.jpg'); background-size: contain; background-repeat: no-repeat"></a>
      {% endif %}
    {% endif %}
  </div>
  <div class="o-article__left">
    {% include "article/objects/headline.html" %}
    <p class="o-article__snippet">
      {{article.lede}}
    </p>
  </div>
</article>
{% endif %}