{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if container_type == "profiles" %}
<div class="o-card o-card--profile">
    <div class="o-card--profile--left">
    {% image self.image fill-200x200-c100 %}
    </div>

    {% if self.text %}
    <div class="o-card--profile--right">
    {{self.text|richtext}}
    </div>
    {% endif %}
</div>
{% else %}
{% image self.image original as card_image %}
<div class="o-card o-card--image" style="background-image: url('{{card_image.url}}')">
    {% if self.text %}
    {{self.text|safe}}
    {% endif %}
</div>
{% endif %}