{% load static %}
{% load humanize %}
{% load wagtailimages_tags %}
{% load video_filters %}

{% with featured_media as featured_image_object %}

<div class="fw-banner banner-image {{layout_style}}" >

    {% image featured_image_object.image original as featured_image %}
    <div class="backdrop" style="background-image: url('{{ featured_image.url }}'); {{ featured_image.background_position_style }};" aria-label="{{featured_image_object.alt_text}}"></div>

    <div class="headline-container">
        <header class="u-container u-container--padded">
            
            {% if article.title_tag_str %}
                <p class="title-tag">{{article.title_tag_str}}//</p>
            {% endif %}
            
            <h1 class="headline">
                {{ title|safe }}
            </h1>

            {% if self.subtitle %}
                <p class="subtitle">{{self.subtitle|safe}}</p>    
            {% endif %}

            {% if self.above_cut_lede %}
                <div class="o-article--header--above_cut_lede">{{ self.above_cut_lede|safe }}</div>
            {% endif %}
            <div class="article-byline">
                <span class="author">By {{ article.get_authors_split_out_visual_bylines|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at|date:'N j, Y' }}</span>
            </div>
        </header>
        {% if featured_image_object.caption or featured_image_object.credit %}
            <div class="caption">
                {% if featured_image_object.caption %}
                    {{ featured_image_object.caption }}
                {% endif %}
                {% if featured_image_object.credit %}
                    <span class="credit">{{ featured_image_object.credit }}</span>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endwith %}