{% load wagtailcore_tags %}
{% load infinitefeed_tags %}
{% load static %}

<div id="feed"
{% if "section" in filters %}
section = "{{filters.section}}"
{% endif %}

{% if "tag" in filters %}
  tag = "{{filters.tag}}"
{% endif %}

{% if "category" in filters %}
  category = "{{filters.category}}"
{% endif %}

{% if "search_query" in filters %}
  search_query = "{{filters.search_query}}"
{% endif %}

{% if label %}
  label = "true"
{% endif %}

{% if storystream %}
  storystream = "true"
{% endif %}
>
    {% for article in filters|preload_articles:"15" %}
      {% if storystream %}
        {% include_block article.storystream_view.0 %}
      {% else %}  
        {% include 'article/objects/infinitefeed_item.html' with article=article expectedSection=filters.section %}
      {% endif %}
    {% endfor %}
</div>


  <div id="loader" class="hide" {% if inactive %}inactive="True"{%endif%}>
    <img src="{% static 'ubyssey/images/throbber.svg' %}" class="spin" alt="Loading icon">
  </div>