{% load infinitefeed_tags %}
{% load static %}

<div id="feed"
{% if "section" in filters %}
section = "{{filters.section}}"
{% endif %}

{% if "category" in filters %}
  category = "{{filters.category}}"
{% endif %}

{% if "search_query" in filters %}
  search_query = "{{filters.search_query}}"
{% endif %}

{% if label %}
  label = "true"
{% endif %}
>
    {% if label %}
      {% include "infinitefeed/infinitefeed-batch.html" with label=label articles=filters|preload_articles:"15"%}
    {% else %}
      {% include "infinitefeed/infinitefeed-batch.html" with articles=filters|preload_articles:"15"%}
    {% endif %}
</div>


  <div id="loader" class="hide" {% if inactive %}inactive="True"{%endif%}>
    <i class="fa-solid fa-spinner fa-spin-pulse"></i>
  </div>