{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<article class="o-article o-curated_group--cards--card">
    {% image article.featured_media.first.image original as rendered_image %}
    <a href="{% pageurl article %}" title="{{article.title}}">
        <img class="article-attachment" loading="lazy" width="{{rendered_image.width}}" height="{{rendered_image.height}}" decoding="async" data-id="{{ rendered_image.id }}" data-url="{{ rendered_image.url }}" src="{{ rendered_image.url }}" alt="{{ alt_text }}" />	
    </a>

    <div class="o-curated_group--cards--card--headline">
        {% include "article/objects/headline.html" %}
        <p>{{article.lede|safe}}</p>
        {% include "article/objects/meta_info.html" %}
    </div>

</article>