{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<article class="o-article o-curated_group--cards--card vogue-style">
    
    <a href="{% pageurl article %}" title="{{article.title}}">
        {% image article.featured_media.first.image fill-600x600-c100 class="article-attachment" alt=alt_text loading="lazy" %}
    </a>

    <div class="o-curated_group--cards--card--headline">
        {% if article.title_tag %}
        <span class="vogue-card__label">{{ article.title_tag }}</span>
        {% endif %}

        <a href="{% pageurl article %}" title="{{article.title}}" class="vogue-card__title-link">
            <h3 class="vogue-card__title">{{ article.title|safe }}</h3>
        </a>

        <div class="vogue-card__byline">{{ article.get_authors_split_out_visual_bylines|safe }}</div>
    </div>

</article>