{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<article class="o-article o-curated_group--cards--card o-curated_group--cards--small-row">
    <a class="o-curated_group--cards--small-row--image" href="{% pageurl article %}" title="{{article.title}}">
        {% image article.featured_media.first.image fill-200x200-c100 format-webp class="article-attachment" alt=alt_text loading="lazy" %}
    </a>

    <div class="o-curated_group--cards--card--headline">
        {% include "article/objects/headline.html" %}
        {% include "article/objects/meta_info.html" %}
    </div>

</article>
