{% load wagtailimages_tags %}
<div class="o-author_commentary">
    <div class="o-author_commentary--authors">
        <div class="o-author_commentary--authors--img">
        {% for author in self.authors %}
            {% if author.image %}
            {% image author.image fill-200x200-c100 format-webp loading="lazy" class="author_image" alt=author.full_name %}            
            {% endif %}
        {% endfor %}
        </div>
        <div class="o-author_commentary--authors--name">
        {{authors_with_urls|safe}}
        </div>
    </div>
    <div class="o-author_commentary--commentary">
        {{self.commentary|safe}}
    </div>
</div>