{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="o-curated_group o-curated_group--cards">
    {% for headline in self.headline %}
        {% include_block headline%}
    {% endfor %}

    <div class="o-curated_group--cards-flex">
    {% for item in self.items %}
        {% with item.value.article as article %}
        <div class="o-curated_group--cards--card">
            {% image article.featured_media.first.image original as rendered_image %}
            <a href="{% pageurl article %}" title="{{article.title}}">
                <img class="article-attachment" loading="lazy" width="{{rendered_image.width}}" height="{{rendered_image.height}}" decoding="async" data-id="{{ rendered_image.id }}" data-url="{{ rendered_image.url }}" src="{{ rendered_image.url }}" alt="{{ alt_text }}" />	
            </a>
            <a href="{% pageurl article %}">
                <h3>{{article.title|safe}}</h3>
            </a>
        </div>
        {% endwith %}
    {% endfor %}
    </div>
</div>