<div class="home_links">
	{% if self.links %}
		<div class="home_link_content">
			<ul>
			{%for link in self.links%}
            <li>
                {% if self.url %}
                    <a href="{{self.url}}" ><span class="linkTitle">{{self.title}}</span></a>
                {% else %}
                    <span class="linkTitle">{{self.title}}</span>
                {% endif %}
            
                {% if self.description %}
                    {{self.description}}
                {% endif %}
            </li>
			{%endfor%}
			</ul>
		</div>
		<div class="home_link_ad">
			<div class="sidebar-block sidebar-block--advertisement"></div>
		</div>
	{% else %}
		<div class="sidebar-block sidebar-block--advertisement o-advertisement--leaderboard"></div>
	{% endif %}
</div>