{% comment %}

Non-elegent solution to the fact that Wagtail cannot yet (as of 2022/05/17) allow a user to select their preferred
template from a block

Includes

See https://github.com/wagtail/wagtail/issues/6053

{% endcomment %}
{% load wagtailcore_tags %}


<section class="c-homepage__section">
    <h1 class="section" style="color: {{section.colour}}">
        <a href={% pageurl section %}>{{ section|title }}</a>
    </h1>

    {% if layout == 'bulleted' %}
    {% include "section/objects/section_bulleted.html" %}
    {% else %}
        {% include 'section/objects/section_featured.html' with featured_articles=articles %}
    {% endif %}
</section>