{% load wagtailroutablepage_tags %}
{% load archive_tags %}
{% load humanize %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% load ubyssey_ad_tags %}

{% if sections or years %}
<div class="o-archive__sidebar show-desktop">
    
    <div class="o-archive__sidebar__filters">
        <h2>Year</h2>
        <ul>
            <li
                class="o-archive__sidebar__filter{% if not year %} o-archive__sidebar__filter--is-active{% endif %}">
                <a href="?{% remove_field_from_query_string 'year' %}">All years</a>
            </li>
            {% for y in years %}
            <li
                class="o-archive__sidebar__filter{% if y == year %} o-archive__sidebar__filter--is-active{% endif %}">
                <a href="?{% modify_query_string 'year' y %}">{{ y }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="o-archive__sidebar__filters">
        <h2>Section</h2>
        <ul>
            <li
                class="o-archive__sidebar__filter{% if section_slug == None %} o-archive__sidebar__filter--is-active{% endif %}">
                <a href="{% pageurl self %}{{ request|query_string }}">All sections</a>
            </li>
            {% for iter in self.sections_filters.all %}
                <li
                    class="o-archive__sidebar__filter{% if iter.section_filter.slug == section_slug %} o-archive__sidebar__filter--is-active{% endif %}">
                    <a href="{% pageurl self %}section/{{ iter.section_filter.slug }}/{{ request|query_string }}">{{ iter.section_filter.title }}</a>
                </li>
            {% endfor %}
            <li
                class="o-archive__sidebar__filter {% if video_section == True %} o-archive__sidebar__filter--is-active{% endif %}">
                <a href="{% pageurl self %}videos/{{ request|query_string }}">Videos</a>
            </li>
        
        </ul>

        <h2>Magazines</h2>
        <ul>
            <li
                class="o-archive__sidebar__filter{% if section_slug == "magazine" %} o-archive__sidebar__filter--is-active{% endif %}">
                <a href="{% pageurl self %}magazines/{{ request|query_string }}">All magazines</a>
            </li>
            {% for category in self.categories %}
                {% if "Magazine" in category|stringformat:"s"|capfirst or "Magazines" in category|stringformat:"s"|capfirst %}
                    <li
                        class="o-archive__sidebar__filter{% if category.slug == magazine_slug %} o-archive__sidebar__filter--is-active{% endif %}">
                        <a href="{% pageurl self %}magazines/{{ category.slug }}/{{ request|query_string }}">{{ category.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h2>Spoofs</h2>
        <ul>
            <li
                class="o-archive__sidebar__filter{% if spoof_slug == "All Spoofs" %} o-archive__sidebar__filter--is-active{% endif %}">
                <a href="{% pageurl self %}spoofs/{{ request|query_string }}">All Spoofs</a>
            </li>
            {% for category in self.categories %}
                {% if "Spoof" in category|stringformat:"s"|capfirst or "Spoofs" in category|stringformat:"s"|capfirst %}
                    <li
                        class="o-archive__sidebar__filter{% if category.slug == magazine_slug %} o-archive__sidebar__filter--is-active{% endif %}">
                        <a href="{% pageurl self %}spoofs/{{ category.slug }}/{{ request|query_string }}">{{ category.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>
{% endif %}

<div class="o-archive__main">
    <div class="o-archive__dropdown-filters">

        {% if years %}
        <div class="o-mobile-dropdown js-dropdown">

            <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
                <span>{% if year %}{{ year }}{% else %}All years{% endif %}</span>
                <i class="fa fa-sort-desc"></i>
            </a>

            <div class="o-mobile-dropdown__list js-dropdown-list">
                <div class="o-mobile-dropdown__list__container js-dropdown-container">
                    <div>
                        <div class="o-mobile-dropdown__header">
                            <h2 class="o-mobile-dropdown__title">Filter by year:</h3>
                                <div class="o-mobile-dropdown__close">
                                    <i class="fa fa-close"></i>
                                </div>
                        </div>
                        <ul>
                            <li
                                class="o-mobile-dropdown__item {% if not year %} o-mobile-dropdown__item--is-active{% endif %}">
                                <a href="?{% remove_field_from_query_string 'year' %}">All</a>
                            </li>
                            {% for y in years %}
                            <li
                                class="o-mobile-dropdown__item {% if year == y %} o-mobile-dropdown__item--is-active{% endif %}">
                                <a href="?{% modify_query_string 'year' y %}">{{ y }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}

        {% if sections %}
        <div class="o-mobile-dropdown js-dropdown">

            <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
                {% comment %} NTS ugly placeholder {% endcomment %}
                <span>{% if section_slug %}{{ section_slug }}{% else %}All sections{% endif %}</span>
                <i class="fa fa-sort-desc"></i>
            </a>

            <div class="o-mobile-dropdown__list js-dropdown-list">
                <div class="o-mobile-dropdown__list__container js-dropdown-container">
                    <div>
                        <div class="o-mobile-dropdown__header">
                            <h2 class="o-mobile-dropdown__title o-mobile-dropdown__title_overlap">Filter by Section and Magazine:</h3>
                                <div class="o-mobile-dropdown__close">
                                    <i class="fa fa-close"></i>
                                </div>
                        </div>
                        <ul>
                            <li
                                class="o-mobile-dropdown__item {% if not section_slug and video_section == False %} o-mobile-dropdown__item--is-active{% endif %}">
                                <a href="{% pageurl self %}{{ request|query_string }}">All</a>
                            </li>
                            {% for iter in self.sections_filters.all %}
                                    <li
                                        class="o-mobile-dropdown__item {% if iter.section_filter.slug == section_slug %} o-mobile-dropdown__item--is-active{% endif %}">
                                        <a href="{% pageurl self %}section/{{ iter.section_filter.slug }}/{{ request|query_string }}">{{ iter.section_filter.title }}</a>
                                    </li>
                            {% endfor %}
                            <li
                                class="o-mobile-dropdown__item {% if video_section == True %} o-mobile-dropdown__item--is-active{% endif %}">
                                <a href="{% pageurl self %}videos/{{ request|query_string }}">Videos</a>
                            </li>
                            {% for category in self.categories %}
                                {% if "Magazine" in category|stringformat:"s"|capfirst or "Magazines" in category|stringformat:"s"|capfirst %}
                                    <li
                                        class="o-mobile-dropdown__item {% if category.slug == magazine_slug %} o-mobile-dropdown__item--is-active {% endif %}">
                                        <a href="{% pageurl self %}magazines/{{ category.slug }}/{{ request|query_string }}">Magazine: {{ category.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            
                            {% for category in self.categories %}
                            {% if "Spoof" in category|stringformat:"s"|capfirst or "Spoofs" in category|stringformat:"s"|capfirst %}
                                <li
                                    class="o-mobile-dropdown__item {% if category.slug == spoof_slug %} o-mobile-dropdown__item--is-active {% endif %}">
                                    <a href="{% pageurl self %}spoofs/{{ category.slug }}/{{ request|query_string }}">Spoof: {{ category.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="o-mobile-dropdown js-dropdown">

            <a class="o-mobile-dropdown__button js-disable-scroll" href="#">
                <span>{{ order|title }}</span>
                <i class="fa fa-sort-desc"></i>
            </a>

            <div class="o-mobile-dropdown__list js-dropdown-list">
                <div class="o-mobile-dropdown__list__container js-dropdown-container">
                    <div>
                        <div class="o-mobile-dropdown__header">
                            <h2 class="o-mobile-dropdown__title">Order by:</h3>
                                <div class="o-mobile-dropdown__close">
                                    <i class="fa fa-close"></i>
                                </div>
                        </div>
                        <ul>
                            <li
                                class="o-mobile-dropdown__item{% if order == 'newest' %} o-mobile-dropdown__item--is-active{% endif %}">
                                <a href="?{% modify_query_string 'order' 'newest' %}">Newest</a>
                            </li>
                            <li
                                class="o-mobile-dropdown__item{% if order == 'oldest' %} o-mobile-dropdown__item--is-active{% endif %}">
                                <a href="?{% modify_query_string 'order' 'oldest' %}">Oldest</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>