{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>One Year Later: Next - The Ubyssey</title>

    <link rel="apple-touch-icon" sizes="57x57" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://ubyssey.storage.googleapis.com/static/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://ubyssey.storage.googleapis.com/static/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://ubyssey.storage.googleapis.com/static/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://ubyssey.storage.googleapis.com/static/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://ubyssey.storage.googleapis.com/static/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://ubyssey.storage.googleapis.com/static/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta property="fb:pages" content="99164676792" />

    <link rel="stylesheet" href="{% static 'ubyssey/css/queer-substance-use.css' %}" type="text/css" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="canonical" href="https://www.ubyssey.ca/features/one-year-later-next/">
    <meta name="description" content="Amidst talks of implementation, Policy 131 is also up for its first review, which UBC committed to conduct one year after the policy came into effect and then every three years following." />
    <meta name="author" content="Samantha McCabe" />

    <!-- Open Graph data -->
    <meta property="og:title" content="One Year Later: Next" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.ubyssey.ca/features/one-year-later-next/" />
    <meta property="og:image" content="https://ubyssey.storage.googleapis.com/media/images/2018/06/one-year-later-cover-3-medium.jpg" />
    <meta property="og:description" content="Amidst talks of implementation, Policy 131 is also up for its first review, which UBC committed to conduct one year after the policy came into effect and then every three years following." />
    <meta property="og:site_name" content="The Ubyssey" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ubyssey">
    <meta name="twitter:title" content="One Year Later: Next">
    <meta name="twitter:description" content="Amidst talks of implementation, Policy 131 is also up for its first review, which UBC committed to conduct one year after the policy came into effect and then every three years following.">
    <meta name="twitter:image" content="https://ubyssey.storage.googleapis.com/media/images/2018/06/one-year-later-cover-3-medium.jpg">
  </head>
  <body>
    <article>
        <div class="warning">This article contains mention of substance use, suicide and violence against 2SLGBTQIA+ communities.</div>
        <header class="cover-screen">
            <h1>Substance use disproportionately impacts Queer communities. What does that mean for UBC students?</h2>
            <p>
                With high rates of substance use in Queer communities and BC’s ongoing toxic drug crisis, many Queer youth are left to navigate substance use and recovery on their own. 
            </p>
            <p>by Iman Janmohamed webdesign</p>
        </header>
        
        <div class="fade-in-out">
          <div class="cover-screen fade-in-out">
              <div class="quote">“No. I’m a teenager.<br>Teenagers are allowed to do this.”</div>
          </div>
          <p>
            That’s what Sylvie, now a UBC graduate student, used to say to their friends as a 16-year-old when they would ask Sylvie to stop drinking. It started off innocently — a bunch of high schoolers having some drinks together, going through what seemed to be a rite of passage. But it soon became <span class="quote">“problematic,”</span> as Sylvie described it.
          </p>
          <p>
            <span class="quote">“I had people pulling me aside and being like, ‘Hey, do you want to maybe not be drunk all the time?’”</span> said Sylvie, whose name has been changed to protect their identity because of the stigma against substance use.
          </p>

          <div class="cover-screen fade-in-out">
            <p>
              When Sylvie started at UBC five years ago, they were <span class="quote">“forced back into being a teenager,”</span> since BC’s legal drinking age of 19 is higher than in other Canadian provinces.
            </p>
            <p>
              <span class="quote">“That made me do a bunch of crazy shit in order to get drunk or get high because I couldn't do it the normal way,”</span> they said. <span class="quote">“And then through that, I realized that maybe my relationship with substances is not normal or could use some re-evaluating.”</span>
            </p>
            <p>
              This pushed Sylvie, who is now part of the UBC student-created and run Student Recovery Community (SRC), to become sober for a month, just to prove to themself they <span class="quote">“didn’t have a problem.”</span>
            </p>
            <p>
              <span class="quote">“I did the one month, and I was like, ‘Okay, that actually was really hard.’”</span>
            </p>
          </div>

          <p>
            And Sylvie wasn’t alone. Substance use isn’t uncommon, especially for university students.
          </p>
          <p>
            According to a 2019 study on university students by researchers from the University of Toronto and Western University, <a href="#">76 per cent of participants reported using alcohol or non-prescription drugs to cope with stress</a>. Only six per cent said they used neither.
          </p>
          <p>
            Research from the US National Institute on Drug Abuse shows that 2SLGBTQIA+ people have higher rates of substance use disorders than people who identify as heterosexual, with the Canadian Centre for Addiction and Mental Health (CAMH) identifying isolation, alienation and discrimination due to homophobia as key factors for these higher rates.
          </p>
          <p>
            Sylvie is Queer, which they say has influenced their relationship with substance use and feelings of isolation.
          </p>
          <p>
            <span class="quote">“I know for myself and for a lot of Queer people, substances help if you are closeted or you aren't sure about your sexuality or identity.”</span>
          </p>

          <div class="cover-screen fade-in-out">
            <p>
              Substance use can also impact Queer people's mental health. A 2021 survey by the Trevor Project — a US-based non-profit focused on suicide prevention efforts in Queer youth — found that misuse of alcohol, cannabis and prescription drugs are associated with greater odds of attempting suicide in 2SLGBTQIA+ youth aged 13–24. The primary results from the survey also found that:
            </p>
            <ul>
              <li>
                Regular <a href="#">prescription drug misuse</a> was associated with <a href="#">nearly three times greater odds of attempting suicide</a>.
              </li>
              <li>
                Regular <a href="#">alcohol use</a> was associated with <a href="#">50 per cent greater odds of attempting suicide in Queer youth under 21</a>.
              </li>
              <li>
                Regular <a href="#">cannabis use</a> was also associated with <a href="#">greater odds of attempting suicide among Queer youth</a>.
              </li>
            </ul>
          </div>

          <p>
            With high rates of substance use in Queer communities, a lack of harm reduction resources for recovering Queer individuals and BC’s ongoing toxic drug crisis  — which was declared a public health emergency in 2016 — many Queer youth at UBC and around Vancouver are left to navigate substance use and recovery on their own.
          </p>
        </div>

        <div class="fade-in-out">
          <p class="dropcap">
            Substance use in Queer youth can be attributed to <span class="quote">“structural inequities,”</span> according to UBC PhD candidate in nursing and registered nurse Trevor Goodyear. 
          </p>
          <p>
            Goodyear, whose research explores the implications of substance use among 2SLGBTQIA+ youth, said these structural inequities like sexism, homophobia and transphobia, intersect individual concerns like familial rejection, domestic violence and mental illness to create circumstances that can lead to substance misuse. 
          </p>
          <div class="side-quote">
            “I wasn't sitting there drinking because I was gay. It's just because there was something different [about me], and I didn't know what it was exactly.”
          </div>
          <p>
            Both Sylvie and Goodyear said their Queer peers can sometimes turn to substance use as a coping mechanism because of the hardships they face. For UBC psychology student Rory Mills, that was the case — they used substances to self-medicate their anxiety and depression. 
          </p>
          <p>
            <span class="quote">“I grew up [in] lot of very patriarchal environments. I was always told that I was a boy … so learning to find my own voice and my own story from within myself — it was different from other people's stories,”</span> said Mills. 
          </p>
          <p>
            For Sylvie, substance use helped them cope with their feelings of isolation and difference.
          </p>
          <p>
            <span class="quote">“I know for myself and for a lot of Queer people, substances help if you are closeted or you aren't sure about your sexuality or identity,”</span> said Sylvie. <span class="quote">“I wasn't sitting there drinking because I was gay. It's just because there was something different [about me], and I didn't know what it was exactly.”</span>
          </p>
          <p>
            For Mills and Sylvie, recovery from substance use meant acknowledging who they are. 
          </p>
          <p>
            <span class="quote">“As a Trans person, I realized that emotion … and recovery kind of felt like the same thing,”</span> Mills said.
          </p>
          <p>
            The university environment doesn’t make this journey any easier. Binge drinking and other instances of substance misuse are often normalized in the college space at large. In a 2020 interview with The Ubyssey, UBC Psychiatry Professor Dr. Michael Krausz, who specializes in addiction, said university binge-drinking culture and increased stress levels could risk pushing students toward substance misuse or dependence.
          </p>
          <p>
            <span class="quote">“If you are totally stressed out and anxious, you may have problems [sleeping] and then you start drinking or taking benzodiazepines in the evening to calm down,”</span> he said.
          </p>
          <p>
            <span class="quote">“It may help for a short period of time, but then it develops a dynamic on its own, so at some point, you are unable to calm down without [the substance]. Then, you may slide into dependence, which means you need to drink [or use] in order to avoid withdrawal symptoms.”</span>
          </p>
        </div>

        <div class="fade-in-out">
          <p class="dropcap">
            The sounds of the Nest — from students grabbing coffee between classes to campus tours milling about — surrounded Sylvie in their first year as an undergraduate at UBC. They had been sober, but were struggling to maintain their sobriety.
          </p>
          <p>
            <span class="quote">“Everything you do in first year of university involves you being drunk,”</span> they said. <span class="quote">“I did the first few months [of sobriety] just by myself, which honestly, I don't really remember how I did that or how I managed to persevere.”</span>
          </p>
          <p>
            But while they walked up and down the Nest’s halls, they saw a poster that read: Are you a student in recovery?
          </p>
          <p>
            <span class="quote">“At first I thought it meant in recovery from … injuries, but it was about substances, and so that is how I got in contact with Sara [Fudjack].”</span>
          </p>

          <div class="cover-screen fade-in-out">
            <p>
              Fudjack is the founder of the SRC, an initiative that offers support through recovery meetings with students.
            </p>
            <p>
              According to its website, the SRC <span class="quote">“is a safe, welcoming, and inclusive space for students who are in recovery or curious about their relationship with alcohol, drugs, and/or addictive behaviours.”</span>
            </p>
            <p>
              One of those spaces is the SRC’s LGBTQ2S+ Students’ All-Recovery Meeting, a peer-based group for Queer students.
            </p>
          </div>

          <p>
            Goodyear said specific services like these that cater to Queer recovery are important. 
          </p>
          <p>
            <span class="quote">“These programs can really be a safe haven and really meaningful place of support and belonging for folks who might not be able to find that community in the same way elsewhere,”</span> said Goodyear. 
          </p>
          <p>
            Based on a peer-support, evidence-based model, the SRC seeks to empower students with lived experiences to support each other in a private and confidential setting. In 2021, after years of advocacy, the SRC opened a space on campus. 
          </p>
          <p>
            The space was an important step in ensuring students who have experiences around addiction and recovery feel welcome at UBC, according to a 2021 Ubyssey interview with Fudjack. 
          </p>
          <p>
            <span class="quote">“I always knew that a dedicated space was crucial to ensuring that students in recovery and who experience addiction … feel included in a campus community,”</span> Fudjack said at the time. 
          </p>
          <p>
            Sylvie said once the SRC had its own space, making connections with other students in recovery became easier.
          </p>
          <p>
            <span class="quote">“If you're already in a space where you know everyone else in it is there for the same reason — that removes so much small talk that you need to do in order to get to know someone better … That was really pivotal as well in just forming a community,”</span> said Sylvie. 
          </p>
          <p>
            Sylvie said many Queer spaces are <span class="quote">“very defined by substances or substance use.”</span>
          </p>
          <p>
            <span class="quote">“Drinking and using while being Queer is great, but then being in recovery can be very challenging because there aren't a lot of spaces that cater to Queerness and recovery.”</span>
          </p>
          <p>
            For Mills, Queer recovery spaces like the SRC allowed them an <span class="quote">“infinite potential to be vulnerable.”</span>
          </p>
          <p>
            This vulnerability is important — Goodyear said many Queer people go into service settings with a history of negative experiences or discrimination by different health care or social service spaces.
          </p>
          <p>
            <span class="quote">“Oftentimes, folks may have their guard up, and they anticipate facing that stigma or discrimination,”</span> said Goodyear. <span class="quote">“When we have peer workers or people with pertinent lived experiences working in these settings, these folks can really be a trusted support person.”</span>
          </p>
          <p>
            When Sylvie connected with the SRC for the first time after seeing the group’s posters around the Nest, they laughed — not because they thought recovery or addiction was funny, but because they felt part of a community. 
          </p>
          <p>
            <span class="quote">“[There was] this relatability behind not being able to use substances like a normal person, kind of laughing about that instead of just treating it as this serious, somber thing.”</span>
          </p>
        </div>

        <div class="fade-in-out">
          <p class="dropcap">
            The Controlled Drug and Substances Act was introduced by the federal government in 1996 as the country’s drug control statute. On January 31, 2023, Health Canada granted BC a three-year exemption to the act, allowing the decriminalization of small amounts of certain illicit substances, such as heroin, morphine, fentanyl, cocaine, meth and ecstasy (methamphetamine) for personal use in private spaces, shelters, outpatient addiction clinics, supervised consumption sites and drug-checking service locations across BC. 
          </p>
          <p>
            Under this exemption, adults possessing illicit substances in accordance with legislation will not be arrested, charged or have drugs seized from them. Instead, they will be offered health information and referred to treatment and support if requested, according to the provincial government website. 
          </p>
          <p>
            More than 21,000 people have died from an overdose since BC declared the toxic drug crisis a public health emergency in 2016. 
          </p>
          <p>
            From January 1, 2019 to December 31, 2023, there were 126 unregulated drug toxicity deaths in BC of people under 19 years old, making unregulated drug toxicity the leading cause of unnatural death among youth. The exemption to the Controlled Drug and Substances Act does not apply to minors. 
          </p>
          <p>
            Goodyear said the prevalence of overdose-related deaths in BC means that many people <span class="quote">“know of someone, has loved someone or knows a friend of a friend who has overdosed or … died of overdose.”</span> 
          </p>
          <p>
            When it comes to advocating for better harm reduction policies, Goodyear said looking to the rich histories of 2SLGBTQIA+ activism is important. 
          </p>
          <p>
            <span class="quote">“There's a lot that we can learn from and leverage from 2SLGBTQ+ communities in terms of making these policies better for us and really better for all people who use drugs,”</span> said Goodyear. 
          </p>
          <p>
            Queer communities are disproportionately impacted by substance use and its associated harms. Goodyear said this means that policies must be equitable for everybody.
          </p>
          <p>
            <span class="quote">“If we're making spaces safer for Queer people, chances are we're also making them safer for everyone.”</span>
          </p>
          <p>
            When looking at supports for Queer youth who use substances, Goodyear said there is <span class="quote">“a lot of good work underway in terms of making these services more accessible and safer and inclusive for all young people in this city.”</span>
          </p>
        </div>

        <div class="fade-in-out">
          <p class="dropcap">
            Now, Sylvie finds themself being the one Queer people go to while working at the SRC, as they continue to foster a sense of community and relatability for people like them. They — like all SRC peer support workers — are also trained Canadian Mental Health Association peer support workers.
          </p>
          <p>
            <span class="quote">“I'll often have someone say, ‘Listen, I've never told anyone this before, but I feel this thing, or I believe this thing or I do this thing,’ and I get to be like, ‘Oh my god, I do that too,’ and that relatability — the way that makes someone happy or makes them feel less alone — is the best part of my job,”</span> said Sylvie. 
          </p>
          <p>
            <span class="quote">“Queer people in recovery seem to like that there’s someone else Queer in recovery,”</span> said Sylvie. <span class="quote">“I’ve been in recovery for a really long time. Not that they should at all look up to me, I think that would be awful if they did, but that there is someone else who has done the thing that they're doing, who they can talk to about it and who would understand.”</span>
          </p>
          <p>
            Like Sylvie, Mills also uses their lived experiences to inform harm reduction initiatives in Vancouver. Mills works at The Birdhouse, a Queer and Trans-run events space, as a buddy. Buddies are naloxone-trained and carry supplies like bottled water, condoms, lube, snacks and tampons to support people in a nightclub environment. 
          </p>
          <p>
            <span class="quote">“I view [the buddy system] as our entrance to someone … not feeling good.”</span> said Mills. <span class="quote">“They're not just going to get kicked out by security. We're there to help and figure out things, help their friends get organized, but also respond to emergencies.”</span>
          </p>
          <p>
            Along with carrying supplies, buddies can also step in if people are receiving unwanted attention or help people find a way home, according to a Birdhouse event posting. 
          </p>
          <p>
            <span class="quote">“Immersing myself in the harm reduction world, also practicing harm reduction recovery on my own, was really awesome to … integrate myself in the community, but also see how it positively affected my recovery,”</span> said Mills. 
          </p>
          <p>
            But recovery is more than just sobriety — it’s understanding yourself.
          </p>
          <p>
            <span class="quote">“A lot of people in recovery develop this general understanding that you have maybe an attraction to maladaptive coping mechanisms for whatever reason. You see people go into recovery for substances [but] doing something else to replace [substances],”</span> said Sylvie. 
          </p>
          <p>
            <span class="quote">“Recovery isn't necessarily you need[ing] to stop doing this one thing. It's about just getting a more holistic understanding of why you are doing certain things, and then trying to either change that, if you want to, or just be more aware of it.”</span> U
          </p>
          <p>
            — With files from Jocelyn Baker
          </p>
        </div>
          
      </article>
      <script src="{% static 'ubyssey/js/queer-substance-use.js' %}" type="text/javascript"></script>
  </body>
</html>
