{% load wagtailcore_tags %}

<div class="o-image-wall-attachment attachment" style="--wall-width: {{self.width}};">
    {% for block in self.wall_blocks %}
        {% with index=forloop.counter0|stringformat:"s" %}
            {% with article_editable_path_prefix="wall_blocks."|add:index|add:".value" %}
                {% include_block block with article_editable_path_prefix=article_editable_path_prefix %}
            {% endwith %}
        {% endwith %}
    {% endfor%}

    {% include "article/stream_blocks/media-caption.html" with caption=self.caption credit=self.credit caption_path="caption|block.caption" credit_path="credit|block.credit" %}
</div>
