{% load static %}

<div class="header-menu">
     <ul>
          {% for item in self.list %}
               <style>
                    .pageLink{{item.id}} {
                         background-color: #{{item.colour}};
                    }
               </style>
               <li class="menu-title pageLink{{item.id}}">
                    <a href="#{{item.id}}">{{item.title}}</a>
               </li>
          {% endfor %}
     </ul>
  </div>
  <button id="myBtn" title="Go to top">Back to top</button>

  <script src="{% static 'ubyssey/js/scrollTop.js' %}" type="text/javascript"></script>