{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if self.audio %}
<audio id="{{id|slugify}}">
    <source src="{{self.audio.url}}" type="audio/{{self.format}}">
</audio>
{% endif %}

<blockquote class="pull-quote attachment {{self.position}} {{self.style}}{% if self.images %} has-image{% endif %}">
    {% if self.images %}
        <div class="pull-quote-images">
        {% for image in self.images %}
            {% image image.image format-webp loading='lazy' alt=image.alt_text width-600 %}
            {% if image.credit %}
                <div class="pull-quote-images--credit">{{image.credit | safe}}</div>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

    <div class="pull-quote-quote">
        <p class="quote">{{ self.content|safe }}</p>
        {% if self.audio or self.source %}
        <p class="meta">
            {% if self.audio %}
                <a href="#" audio="{{id|slugify}}" class="playAudioQuote">
                    <ion-icon id="icon-{{id|slugify}}" class="volume" name="volume-off"></ion-icon>
                    <span class="source">{% if self.source %}Listen to {{ self.source|safe }}{% else %}Listen{% endif %}</span>
                </a>
            {% elif self.source %}
                <span class="source">— {{ self.source|safe }}</span>
            {% endif %}
        </p>
        {% endif%}
    </div>
</blockquote>