












// revised css

// Styles for the /about/ page

// Variables
$color-white: #fff;
$color-accent: #0C78ED;
$color-accent-light: #f78e8c;
$color-text-gray: #4E4E4E;
$color-text-gray-light: #646464;
$color-gray-light: #EFEFEF;

$font-size-base: 16;
$font-weight-light: 300;
$font-weight-semi-bold: 400;
$font-weight-bold: 800;

$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;

$rotation: 3deg;

$bp-larger-than-mobile: "min-width: 1000px";




// Functions

@function font-size($size) {
  @return ($size / $font-size-base) + rem;
}




// Column Widths
$span-12: 100%;
$span-9: 75%;
$span-8: 67%;
$span-6: 50%;
$span-4: 33%;
$span-3: 25%;

.row {
  display: flex;
  justify-content: space-around;
}
.span-12 {
  width: $span-12;
}
.span-9 {
  width: $span-9;
}
.span-8 {
  width: $span-8;
}
.span-6 {
  width: $span-6
}
.span-4 {
  width: $span-4;
}
.span-3 {
  width: $span-3;
}


html, body {
  // Structure
  margin: 0;
  // Text
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;

  @media($bp-larger-than-mobile) {
    font-size: 16px;
  }
}



// Class used for animation triggers

.anim-trigger {
  display: none;
}

// Utilities

.cont{
  // Structure
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

// Header

.header {
  // Structure
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;
  height:100vh;
  animation: 1.5s slide-up 3s forwards;

  // Background
  background-image: linear-gradient(-178deg, #0C78ED 0%, #00B6D6 83%);

  &::after {
    // Structure
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1rem;
    width: 100%;

    // Background
    background: $color-white;
  }
}

@keyframes slide-up {
  100% {
    height: 70vh;
  }
}

  #header-main-cont {
        display:flex;
        justify-content:space-between;

      svg#broadcast-icon {
        width:240px;
        padding-top: 10vh;
        polygon {
          opacity: 0;
          animation: 2s flash forwards;
        }
      }

    @media(max-width: 740px) {
      text-align: center;
      flex-direction: column;
      margin: 0 auto;
      svg#broadcast-icon {
        margin: 0 auto;
        padding:0;
      }
      .c-header__hook {
      margin: 0 auto;
      }
    }
  }


  .c-header__logo {
  // Structure
  display: flex;
  align-items: center;
  padding-top:28px;
  padding-bottom: 0;

  .c-header__logo__image {
    // Structure
    display: inline-block;
    width: 200px;
  }

  .c-header__logo__text {
    // Structure
    margin-left: 1rem;

    // Text
    color: $color-white;
    font-size: font-size(22);
    font-weight: $font-weight-light;
  }

  @media screen and (max-width: 740px) {
    // Structure
    justify-content: space-around;
    width: 280px;
    margin: 0 auto;

    .c-header__logo__text {
      margin: 0;
    }
  }

}

.c-header__hook {
  // Structure
  display: block;
  max-width: 30rem;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 6rem;

  // Text
  color: $color-white;
  font-size: font-size(36);
  font-weight: $font-weight-light;
}




// Headings

.o-heading {
  // Structure
  margin: 0 auto 1.5rem;
  max-width: 75vw;

  // Text
  font-size: font-size(24);
  color: $color-text-gray;
  font-weight: $font-weight-bold;
  line-height: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media($bp-larger-than-mobile) {
    // Text
    font-size: font-size(32);
  }
}

// Paragraphs

.o-paragraph {
  // Structure
  margin: 1rem auto;
  max-width: 75vw;



  // Text
  color: $color-text-gray;
  font-size: font-size(20);
  line-height: font-size(32);
  font-weight: $font-weight-light;
}


// icon and paragraph container
.icon-cont-row {
  margin: 1rem auto;
  max-width: 75vw;
  p {
      // Text
      color: $color-text-gray;
      font-size: font-size(20);
      line-height: font-size(32);
      font-weight: $font-weight-light;
  }
  @media(max-width: 840px) {
    flex-direction: column-reverse;
    * {
      margin: 0 auto;
    }
    p {
      margin-top: 20px;
    }
  }
}


// Icon div

.icon-div {
  width: 300px;
  height: 300px;
  img {
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

// Acknowledgement

    hr {
      // Structure
      width: 20%;
      margin: 3rem auto;
      max-width: 75vw;

      // Border
      border: 0;
      border-top: 1px dotted #4E4E4E;
    }

    div#acknowledgement {
      //Structure
      max-width: 75vw;
      margin: 0 auto 60px;
      padding: 1.5rem 2rem;

      // Background
      background-color: rgba(0, 113, 201, 0.1);
      border-radius: 10px;
    }

// Contact

#contact {
  display:flex;
  align-items: center;
  padding: 5vh;
  height: 20vh;
  background-image: linear-gradient(-178deg, #0C78ED 0%, #00B6D6 83%);
  a {
    margin: 0 auto;
    text-align: center;
  }
}


// Button
.btn {
  // Structure
  width: 240px;
  height: 56px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;

  // Backgorund
  background-color: #fff;

  // Border
  border: none;
  border-radius: 3px;
  color: $color-white;
  font-size: 1.125rem;

  // Extra
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;

  p {
    // Text
    color: #0C78ED;
    margin: 0;
  }

  // Hover
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}


// Sliding Animation Content

.slide-left {
  transform: translate(-300px);
}

.slide-right {
  transform: translate(300px);
}

.slide-anim {
  animation: 1s slide-in forwards;
}



  // KEYFRAME ANIMATIONS


  // animation for broadcast tower flash
        @keyframes flash {
          20% {
            opacity: 1;
          }
          40% {
            opacity: 0;
          }
          60% {
            opacity: 1;
          }
          80% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
    }

    @keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}





