{% load staticfiles %}
<header class="c-header">
  <style type="text/css">



    
  </style>
  <div class="u-container">
      <div class="c-header__logo">
      <img class="c-header__logo__image" src="{% static 'images/a/ubyssey-logo.svg' %}"/>
      <span class="c-header__logo__text">About</span>
    </div>
    <div id="header-main-cont">
      <h2 class="c-header__hook">The definitive source of news on campus.</h2>
      <img id="broadcast-icon" src="{% static 'images/about/broadcast_1.png' %}" alt="broadcast icon"/>
    </div>
  </div>
</header>